@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Manager_Activity_ViewModel

@{
    ViewBag.Title = "ActivityList";
}


<table class="edittable">

    <tr>
        <th>活動類型</th>
        <th>活動名稱</th>
        <th>時間(起)</th>
        <th>時間(迄)</th>
        <th>商務對接</th>
        <th>媒合公開</th>
        <th>匯出名單</th>
        <th>匯出問卷</th>
        <th>媒合大表</th>
        <th></th>
    </tr>
    @foreach (ActivityInfoModel newInfo in Model.activityinfoList)
            {
        <tr>
            @*<td>@newInfo.manager_id</td>*@
            @if (newInfo.activity_type == "0")
            {
                <td>@prj_BIZ_System.LanguageResource.User.lb_tradeshow</td>
            }
            else
            {
                <td>@prj_BIZ_System.LanguageResource.User.lb_bizexploremisson</td>
            }

            <td>@newInfo.activity_name</td>
            <td>@newInfo.starttime</td>
            <td>@newInfo.endtime</td>
            <td>@newInfo.seller_select</td>
            <td>@newInfo.matchmaking_select</td>
            <td>
                <div class="centerbox">
                    <a href="@Url.Action("ExportActivityFormExcel","Manager",new {activity_id = @newInfo.activity_id, activity_name = @newInfo.activity_name})" class="addbured">匯出</a>
                </div>
            </td>
            <td>
                <div class="centerbox">
                    <a href="@Url.Action("ExportQuestionnaireFormExcel","Manager",new {activity_id = @newInfo.activity_id, activity_name = @newInfo.activity_name})" class="addbured">匯出</a>
                </div>
            </td>
            <td>
                <div class="centerbox">
                    <a href="@Url.Action("MatchScheduleList","Manager",new {activity_id = @newInfo.activity_id})" class="addbu">媒合大表</a>
                </div>
            </td>
            <td>
                <div class="centerbox">
                    <a href="~/Manager/DeleteActivity?Id=@newInfo.activity_id" class="deletebu">刪除</a>
                    <a href="~/Manager/EditActivity?Id=@newInfo.activity_id" class="editbu">修改</a>
                </div>
            </td>
        </tr>
    }
</table>
@Html.PagesList((List<PageList<ActivityInfoModel>>)ViewData["PageList"])