@model prj_BIZ_System.Models.Manager_Activity_ViewModel

@{
    ViewBag.Title = "ActivityInfo";
}

@section pagestyle{
    <link href="~/stylesheets/news.css" rel="stylesheet" />
}

<div class="article_col1">
    <article class="article_col2">

        <h2 class="borderTitle">活動相關資訊</h2>

        @{
            string activity_type_chk = "";

            if (Model.activityinfo.activity_type == "0")
            {
                activity_type_chk = prj_BIZ_System.LanguageResource.User.lb_tradeshow;
            }
            else
            {
                activity_type_chk = prj_BIZ_System.LanguageResource.User.lb_bizexploremisson;
            }
        }

       <ul class="news_content_list">
            <li>活動類型: <span class="contentspan">@activity_type_chk</span></li>
            <li>活動名稱(中文): <span class="contentspan">@Model.activityinfo.activity_name</span></li>
            <li>活動名稱(英文): <span class="contentspan">@Model.activityinfo.activity_name_en</span></li>
            <li>活動時間: <span class="contentspan">@Model.activityinfo.starttime ~ @Model.activityinfo.endtime</span></li>
            <li>活動地點(中文): <span class="contentspan">@Model.activityinfo.addr</span></li>
            <li>活動地點(英文): <span class="contentspan">@Model.activityinfo.addr_en</span></li>
            <li>主辦單位(中文): <span class="contentspan">@Model.activityinfo.organizer</span></li>
            <li>主辦單位(英文): <span class="contentspan">@Model.activityinfo.organizer_en</span></li>
            <li>主要聯絡人: <span class="contentspan">@Model.activityinfo.name</span></li>
            <li>手機號碼: <span class="contentspan">@Model.activityinfo.phone</span></li>
            <li>電子郵件:<span class="contentspan"> @Model.activityinfo.email</span></li>
        </ul>

        <div class="centerbox">
            <a href="javascript:history.back()" class="buinfor">回到上一頁</a>
        </div>
    </article>
</div>