@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Manager_Activity_ViewModel

@{
    ViewBag.Title = "活動報名審核";
}

@section pagestyle{
    <link href="~/stylesheets/sys.css" rel="stylesheet" />
}

@Styles.Render("~/Content/css/jqueryUI")

<div class="article_col1">
    <form class="form_box sys_searchbox">
        <h2>報名查詢</h2>
        <div class="sys_searchboxcol01L">
            <label for="selectActivityName" class="regis_col02L">活動名稱</label>
            <input id="selectActivityName" type="text" name="selectActivityName" class="regis_col02R"
                   value="@ViewBag.Where_ActivityName">

            <label for="" class="regis_col02L">報名期間</label>
            <div class="regis_col02R">
                <input type="text" id="startDate" name="startDate" maxDate="endDate" value="@Request["startDate"]" />
                <input type="text" id="endDate" name="endDate" minDate="startDate" value="@Request["endDate"]" />
            </div>

            <label for="selectCompany" class="regis_col02L">廠商名稱</label>
            <input id="selectCompany" type="text" name="selectCompany" class="regis_col02R"
                   value="@ViewBag.Where_Company">
        </div>
        <div class="sys_searchboxcol01R">
            <button type="submit" class="buinfor">搜尋</button>
        </div>
    </form>
    <article>
        <h2 class="borderTitle2">活動報名列表</h2>
        <table class="edittable">
            <tr>
                <th>報名時間</th>
                <th>報名廠商</th>
                <th>報名活動</th>
                <th>報名人數</th>
                <th>審核</th>
                <th>審核修改</th>
            </tr>
            @foreach (ActivityRegisterModel activityRegisterModel in Model.activityregisterList)
            {
                <tr>
                    <td>@activityRegisterModel.create_time</td>
                    <td>@activityRegisterModel.company</td>
                    <td>@activityRegisterModel.activity_name</td>
                    <td>@activityRegisterModel.quantity</td>
                    <td>

                        <div class="centerbox">
                            @if (@activityRegisterModel.manager_check == "0")
                            {
                                <img src="../../images/icon/capplicaicon-02.png" id="photo@(activityRegisterModel.register_id)">
                            }
                            else {
                                <img src="../../images/icon/capplicaicon-01.png" id="photo@(activityRegisterModel.register_id)">
                            }
                        </div>
                    </td>
                    <td>
                        <div class="centerbox">
                            <button id="updateManagerCheck@(activityRegisterModel.register_id)" class="addbu editopen" value="@activityRegisterModel.register_id">修改</button>
                        </div>
                    </td>
                </tr>
            }
        </table>
        <ul class="pagelist">
            <li><a href="">&lt;</a></li>

            <li><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li><a href="">6</a></li>
            <li><a href="">7</a></li>
            <li><a href="">8</a></li>
            <li><a href="">9</a></li>
            <li><a href="">10</a></li>

            <li><a href="">&gt;</a></li>
        </ul>
    </article>
</div>

<div id="dialog" title="審核修改">
    <p>是否通過審核</p>
</div>

@Scripts.Render("~/bundles/jqueryUI")
@Scripts.Render("~/bundles/datetimepicker")

<script type="text/javascript">
    $(document).ready(function () {

        var updateId;
        var photoId;

        /* button 修改的欄位*/
        $(".editopen").click(function () {
            $("#dialog").dialog("open");
            updateId = this.id;
            //alert(id);
        });

        /* 確認視窗 */
        $("#dialog").dialog({
            autoOpen: false,
            buttons: {
                "是": function () {
                    var id = updateId.slice(18);//updateManagerCheck
                    photoId = "#photo" + id;
                    $.ajax({
                        type: "post",
                        url: "@Url.Action("EditActivityRegisterUpdateChk", "Manager")",
                        cache: false,
                        data: { "register_id": id, "manager_check": 1 },
                        dataType: "json",
                        success: function (result) {

                        }
                    })
                    $(photoId).attr("src", "../../images/icon/capplicaicon-01.png");
                    $(this).dialog("close");
                },
                "否": function () {
                    var id = updateId.slice(18);//updateManagerCheck
                    photoId = "#photo" + id;
                    //alert(photoId);
                    $.ajax({
                        type: "post",
                        url: "@Url.Action("EditActivityRegisterUpdateChk", "Manager")",
                        cache: false,
                        data: { "register_id": id, "manager_check": 0 },
                        dataType: "json",
                        success: function () {

                        }
                    })
                    $(photoId).attr("src", "../../images/icon/capplicaicon-02.png");
                    $(this).dialog("close");

                }
            }
        });
        /* 報名時間選擇器*/
        $('input[name$="Date"]').datepicker({
            dateFormat: 'yy/mm/dd',
            beforeShow: function () {
                if ($(this).attr('maxDate')) {
                    var dateItem = $('#' + $(this).attr('maxDate'));
                    if (dateItem.val() !== "") {
                        $(this).datepicker('option', 'maxDate', dateItem.val());
                    }
                }

                if ($(this).attr('minDate')) {
                    var dateItem = $('#' + $(this).attr('minDate'));
                    if (dateItem.val() !== "") {
                        $(this).datepicker('option', 'minDate', dateItem.val());
                    }
                }
            }
        });

        /* 活動名稱搜尋*/
        $("#selectActivityName").autocomplete({
            source: "@Url.Action("GetRegisterSearchByActivityName", "Manager")",
            select: function (event, ui) {
                var data = ui.item.label;
            }
        });

        /*廠商名稱搜尋*/
        $("#selectCompany").autocomplete({
            source: "@Url.Action("GetRegisterSearchByCompany", "Manager")",
            select: function (event, ui) {
                var data = ui.item.label;
            }
        });
    });
</script>
