@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Manager_Activity_ViewModel

@{
    ViewBag.Title = "B_NewsList";
}

<article class="form_box article_col1">
@if (Request["news_type"] == "0")
{
    <h2 class="borderTitle2">活動新聞列表</h2>
}
else
{
    <h2 class="borderTitle2">一般新聞列表</h2>
}
        @if (Request["news_type"] == "0")
        {
            <a href="/Manager/EditNewsActivity"  class="submitbu rightbox">新增活動新聞</a>
        }
        else
        {
            <a href="/Manager/EditNewsInfo" class="submitbu rightbox">新增一般新聞</a>
        }
    <br></br>
    <table class="edittable">
        <tr>
            <th>新聞編號</th>
            <th>建立帳號</th>
            <th>新聞標題</th>
            <th>發布日期</th>
<!--            <th>新聞類型</th>-->
            @if (Request["news_type"] == "0")
            {
            <th>活動名稱</th>
            }
            else
            {
            <th>活動連結</th>
            }
<!--            <th>內容</th>-->
            <th></th>
        </tr>
        @foreach (NewsModel newsModel in Model.newsList)
        {
            <tr>
                <td>@newsModel.news_no</td>
                <td>@newsModel.manager_id</td>
                <td>@newsModel.news_title</td>
                <td>@newsModel.news_date</td>
<!--                <td>@newsModel.news_type</td>-->
                @if (Request["news_type"] == "0")
                {
                    <td><a href="ActivityInfo?Id=@newsModel.activity_id">@newsModel.activity_name</a></td>
                    
                }
                else
                {
                    if (newsModel.website == null)
                    {
                        <td>@newsModel.website</td>
                    }
                    else {
                        <td>
                            @if (newsModel.website.IndexOf("http", StringComparison.OrdinalIgnoreCase) >= 0)
                            {
                            <a href="@newsModel.website" target="_blank">@newsModel.website</a>
                            }
                            else {
                            <a href="http://@newsModel.website" target="_blank">@newsModel.website</a>
                            }
                        </td>
                    }
                }

                <td>
                    @if (newsModel.news_type == "0")
                    {
                        <a href="/Manager/EditNewsActivity?Id=@newsModel.news_no" class="editbu">修改</a>
                         <a href="/Manager/EditNewsActivityDelete?Id=@newsModel.news_no" class="deletebu">刪除</a>
                    }
                    else 
                    {
                        <a href="/Manager/EditNewsInfo?Id=@newsModel.news_no" class="editbu">修改</a>
                        <a href="/Manager/EditNewsInfoDelete?Id=@newsModel.news_no" class="deletebu">刪除</a>
                    }
                </td>
            </tr>
        }
    </table>

</article>
