@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Manager_Activity_ViewModel


@{
    ViewBag.Title = "EditNewsActivity";
}

@*@Scripts.Render("~/bundles/ckeditor")*@
<script src="~/Scripts/ckeditor/ckeditor.js" type="text/javascript"></script>


@section pagestyle{
    <link href="~/stylesheets/registerd.css" rel="stylesheet" />
}
@Styles.Render("~/Content/jqueryUI")

@{  
    if(ViewBag.PageType == "Create")
    {
        Model.news.news_no = 0;
        Model.news.manager_id = Request.Cookies["ManagerInfo"]["manager_id"];
        Model.news.news_title = "";
        Model.news.news_date = DateTime.Now;
        Model.news.news_type = "";
        Model.news.activity_id = 0;
        Model.news.website = "";
        Model.news.content = "";
        Model.news.news_style = "3";
    }
    var news_style01 = "";
    var news_style02 = "";
    var news_style03 = "";
    var news_style04 = "";
    if (Model.news.news_style == "0")
    { news_style01 = "checked"; }
    else if (Model.news.news_style == "1")
    { news_style02 = "checked"; }
    else if (Model.news.news_style == "2")
    { news_style03 = "checked"; }
    else if (Model.news.news_style == "3")
    { news_style04 = "checked"; }

}

<article class="form_box article_col1">
    <h2>新增活動訊息</h2>
    <form action=@ViewBag.Action method="post">
        <input type="hidden" name="news_no" value="@Model.news.news_no" />
        <label for="news_style" class="regis_col02L spanRed">顯示頁面</label>
        <div class="regis_col01R_input">
            <input type="radio" class="radioinput" id="news_style01" name="news_style" value="0" @news_style01>
            <label for="news_style01">均不顯示</label>
            <input type="radio" class="radioinput" id="news_style02" name="news_style" value="1" @news_style02>
            <label for="news_style02">中文</label>
            <input type="radio" class="radioinput" id="news_style03" name="news_style" value="2" @news_style03>
            <label for="news_style03">英文</label>
            <input type="radio" class="radioinput" id="news_style04" name="news_style" value="3" @news_style04>
            <label for="news_style04">均顯示</label>
        </div>

        <label for="news_title" class="regis_col02L spanRed">新聞標題</label>
        <input type="text" name="news_title" value="@Model.news.news_title" class="regis_col02R" />

        <label for="news_date" class="regis_col02L spanRed">發布日期</label>
        <input type="text" name="news_date" value="@Model.news.news_date" class="regis_col02R" />
        
        <input type="hidden" name="news_type" value="0" />

        <label for="activity_id" class="regis_col02L spanRed">活動名稱</label>
        <select name="activity_id" class="regis_col02R">
           <option value="">--請選擇--</option>
         
         @foreach (ActivityInfoModel activityInfoModel in Model.activityinfoList)
         {
             if (activityInfoModel.activity_id == Model.news.activity_id)
             {
                <option value="@activityInfoModel.activity_id" selected="selected">@activityInfoModel.activity_name</option>
             }
             else
             {
                <option value="@activityInfoModel.activity_id">@activityInfoModel.activity_name</option>
             }
         }

        </select>
<!--
        <label for="manager_id" class="regis_col02L spanRed">建立帳號:</label>
        <input type="text" readonly name="manager_id" value="@Model.news.manager_id" class="regis_col02R" />
-->
        <div class="centerbox">
            <textarea  id="content" name="content">@Html.Raw(@Model.news.content)</textarea>
        </div>


        <div class="centerbox">
            <button type="submit" class="submitbu">@ViewBag.SubmitName</button>
        </div>
    </form>
</article>

@Scripts.Render("~/bundles/jqueryUI")
@Scripts.Render("~/bundles/datetimepicker")

<script type="text/javascript">
    var url = '@Url.Content("~/Manager/NewsInfoUpload")';
    var editor = CKEDITOR.editor.replace("content",
        {
            skin: "kama",
            width: "900px",
            height: "500px",
            filebrowserImageUploadUrl: url
        });

    $(function () {
        var news_date_val = $("input[name='news_date']").val();
        $('input[name="news_date"]').datetimepicker({
            beforeShow: function () {
            }
        }).datetimepicker('setDate', news_date_val);

    });

</script>

