@model prj_BIZ_System.Models.ActivityInfoModel

@{
    ViewBag.Title = "EditActivity";
}

@section pagestyle{
    <link href="~/stylesheets/registerd.css" rel="stylesheet" />
}

@Styles.Render("~/Content/jqueryUI")

<article class="form_box article_col1">
    <h2>活動資訊編輯</h2>

@{
    string activity_type_chk0 = "";
    string activity_type_chk1 = "";
    string seller_select_chk0 = "";
    string seller_select_chk1 = "";
    string matchmaking_select_chk0 = "";
    string matchmaking_select_chk1 = "";

    if (ViewBag.PageType == "Create")
    {

        Model.activity_id = 0;
        Model.manager_id = "";
        Model.activity_type = "";
        Model.activity_name = "";
        Model.starttime = DateTime.Now;
        Model.endtime = DateTime.Now;
        Model.addr = "";
        Model.organizer = "";
        Model.name = "";
        Model.phone = "";
        Model.email = "";
        Model.seller_select = "";
        Model.matchmaking_select = "";

        Model.activity_name_en = "";
        Model.addr_en = "";
        Model.organizer_en = "";
    }
    else
    {
        if (Model.activity_type == "0")
        {
            activity_type_chk0 = "checked";
        }
        else
        {
            activity_type_chk1 = "checked";
        }
        if (Model.seller_select == "0")
        {
            seller_select_chk0 = "checked";
        }
        else
        {
            seller_select_chk1 = "checked";
        }
        if (Model.matchmaking_select == "0")
        {
            matchmaking_select_chk0 = "checked";
        }
        else
        {
            matchmaking_select_chk1 = "checked";
        }

    }
}



            <form action="@ViewBag.Action" method="post">

                <input type="hidden" name="activity_id" value="@Model.activity_id">
                @*<label for="manager_id_l" class="regis_col02L spanRed">建立者帳號:</label>
                <input type="text" name="manager_id" value="@manager_id" class="regis_col02R">*@
            <label for="activity_type_l" class="regis_col02L spanRed">活動類型:</label>
            <div class="regis_col02R">
                <input type="radio" name="activity_type" class="radioinput" value="0" id="revenue01" @activity_type_chk0 >
                <label for="revenue01">商洽會</label>
                <input type="radio" name="activity_type" value="1" class="radioinput" id="revenue02" @activity_type_chk1>
                <label for="revenue02">拓銷會</label>
            </div>
            <label for="name" class="regis_col02L spanRed">活動名稱(中文):</label>
            <input type="text" name="activity_name" class="regis_col02R" value="@Model.activity_name">
            <label for="leader" class="regis_col02L spanRed">活動時間(起):</label>

            <input type="text" id="starttime" name="starttime" value="@Model.starttime" class="regis_col02R" maxDate="endtime">

            <label for="leader" class="regis_col02L spanRed">活動時間(迄):</label>
            <input type="text" id="endtime" name="endtime" value="@Model.endtime" class="regis_col02R" minDate="starttime">

            <label for="leader" class="regis_col02L spanRed">活動地點(中文):</label>
            <input type="text" name="addr" value="@Model.addr" class="regis_col02R">

            <label for="leader" class="regis_col02L spanRed">主辦單位(中文):</label>
            <input type="text" name="organizer" value="@Model.organizer" class="regis_col02R">
            <label for="leader" class="regis_col02L spanRed">主要聯絡人:</label>
            <input type="text" name="name" value="@Model.name" class="regis_col02R">
            <label for="leader" class="regis_col02L spanRed">手機號碼:</label>
            <input type="text" name="phone" value="@Model.phone" class="regis_col02R">
            <label for="leader" class="regis_col02L spanRed">電子郵件:</label>
            <input type="text" name="email" value="@Model.email" class="regis_col02R">


            <label for="activity_type_l" class="regis_col02L spanRed">是否顯示商務對接:</label>
            <div class="regis_col02R">
                <input type="radio" name="seller_select" class="radioinput" value="0" id="seller_select01" @seller_select_chk0>
                <label for="seller_select01">否</label>
                <input type="radio" name="seller_select" value="1" class="radioinput" id="seller_select02" @seller_select_chk1>
                <label for="seller_select02">是</label>
            </div>

            <label for="activity_type_l" class="regis_col02L spanRed">是否顯示媒合時程:</label>
            <div class="regis_col02R">
                <input type="radio" name="matchmaking_select" class="radioinput" value="0" id="matchmaking_select01" @matchmaking_select_chk0>
                <label for="matchmaking_select01">否</label>
                <input type="radio" name="matchmaking_select" value="1" class="radioinput" id="matchmaking_select02" @matchmaking_select_chk1>
                <label for="matchmaking_select02">是</label>
            </div>

            <label for="leader" class="regis_col02L">活動名稱(英文):</label>
            <input type="text" name="activity_name_en" value="@Model.activity_name_en" class="regis_col02R">
            <label for="leader" class="regis_col02L">活動地點(英文):</label>
            <input type="text" name="addr_en" value="@Model.addr_en" class="regis_col02R">
            <label for="leader" class="regis_col02L">主辦單位(英文):</label>
            <input type="text" name="organizer_en" value="@Model.organizer_en" class="regis_col02R">

            <div class="centerbox">
             <button type="submit" class="submitbu">@ViewBag.SubmitName</button>
            </div>
        </form>
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/datetimepicker")
    <script>
        $(function () {
            var starttime_val = $("input[name='starttime']").val();
            $('input[name="starttime"]').datetimepicker({
                beforeShow: function () {
                    if ($(this).attr('maxDate')) {
                        var dateItem = $('#' + $(this).attr('maxDate'));
                        if (dateItem.val() !== "") {
                            $(this).datetimepicker('option', 'maxDate', dateItem.val());
                        }
                    }

                    if ($(this).attr('minDate')) {
                        var dateItem = $('#' + $(this).attr('minDate'));
                        if (dateItem.val() !== "") {
                            $(this).datetimepicker('option', 'minDate', dateItem.val());
                        }
                    }
                }
            }).datetimepicker('setDate', starttime_val);

            var endtime_val = $("input[name='endtime']").val();
            $('input[name="endtime"]').datetimepicker({
                beforeShow: function () {
                    if ($(this).attr('maxDate')) {
                        var dateItem = $('#' + $(this).attr('maxDate'));
                        if (dateItem.val() !== "") {
                            $(this).datetimepicker('option', 'maxDate', dateItem.val());
                        }
                    }

                    if ($(this).attr('minDate')) {
                        var dateItem = $('#' + $(this).attr('minDate'));
                        if (dateItem.val() !== "") {
                            $(this).datetimepicker('option', 'minDate', dateItem.val());
                        }
                    }
                }
            }).datetimepicker('setDate', endtime_val);
        });
    </script>
</article>
