@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Manager_ViewModel

@{
    ViewBag.Title = "ManagerInfo";
}

@section pagestyle{
    <link href="/stylesheets/sys.css" rel="stylesheet" />
}

<div class="article_col1">

    <div class="sys_searchboxco2">
        <form class="form_box sys_searchbox">
            <h2>管理者帳號查詢</h2>
            <div class="sys_searchboxcol01L">
                <label for="" class="regis_col02L">管理帳號</label>
                <input type="text" class="regis_col02R" name="where_manager_id" value="@ViewBag.Where_ManagerId">

                <label for="" class="regis_col02L">群組</label>
                <select name="where_grp_id" id="group_select_0" class="regis_col02R">
                    <option value="">請選擇</option>
                    @if (Model.groupList != null)
                    {
                        foreach (var group in Model.groupList)
                        {
                            <option value="@group.grp_id" @(group.grp_id.Equals(ViewBag.Where_GroupId) ?"selected":"") >@group.grp_name</option>
                        }
                    }
                </select>
            </div>
            <div class="sys_searchboxcol01R">
                <button type="submit" class="buinfor">搜尋</button>
            </div>

        </form>
        <article>
            <h2 class="borderTitle2">查詢結果</h2>
            <a href="javascript:void(0)" class="addbu rightbox" id="accaddbu">新增帳號</a>
            <table class="edittable">
                <tr>
                    <th>管理帳號</th>
                    <th>啟用</th>
                    <th>群組</th>
                    <th>詳細資料</th>
                </tr>
                @if (Model.managerInfoList != null)
                {
                    foreach (ManagerInfoModel md in Model.managerInfoList)
                    {
                        <tr>
                            <td>@md.manager_id
                            @if ("0".Equals(md.enable))
                            {
                                <span>(停用)</span>
                            }
                            </td>
                            <td>@md.grp_name</td>
                            <td>
                                <div class="centerbox">
                                    <a href="javascript:void(0)" class="deletebu detailedbu" onclick="util_cls.form.row2form('@(md.manager_id)','acc_from')">詳細資料</a>
                                    <span style="display:none" id="rowdata_@(md.manager_id)">{"manager_id":"@(md.manager_id)","name":"@(md.name)","enable":"@(md.enable)","phone":"@(md.phone)","email":"@(md.email)","grp_id":"@(md.grp_id)"}</span>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </table>
            @Html.PagesList((PageList<ManagerInfoModel>)TempData["PageList"])
        </article>
    </div>
    <div class="sys_searchboxco2">
        <form action="@Url.Action("ManagerInfoInsertUpdate","Manager")" class="form_box" id="acc_from" method="post">
            <input type="hidden" name="pagetype" value="">
            <input type="hidden" name="enable" value="">
            <h2>新增帳號</h2>
            <label for="leader" class="regis_col02L spanRed">管理帳號</label>
            <input type="text" class="regis_col02R" name="manager_id" onblur="chkmanager()">

            <label for="addr" class="regis_col02L spanRed">姓名</label>
            <input type="text" class="regis_col02R" name="name">

            <label for="addr" class="regis_col02L">電話</label>
            <input type="text" class="regis_col02R" name="phone">

            <label for="email" class="regis_col02L spanRed">電子郵件</label>
            <input type="text" class="regis_col02R" name="email">

            <label for="email" class="regis_col02L">群組</label>
            <select name="grp_id" id="group_select" class="regis_col02R">
                <option value="">請選擇</option>
                 @if (Model.groupList != null)
                 {
                     foreach (var group in Model.groupList)
                     {
                        <option value="@group.grp_id">@group.grp_name</option>
                     }
                 }
            </select>
            <div class="centerbox">
                <a href="javascript:void(0)" class="buinfor" id="acc_edit" style="display: none;">修改</a>
                <a href="javascript:void(0)" class="submitbu" id="acc_del" style="display: none;">停用</a>
                <a href="javascript:void(0)" class="submitbuOr" id="acc_add">確定新增</a>
            </div>
        </form>
    </div>
</div>
<script src="~/Scripts/util_cls.js" type="text/javascript"></script>
<script>
    $(function () {
        init();
    });
    var g_selected_managerInfo;

    function init() {

        $(".detailedbu").on('click', function () {
            $('#acc_edit,#acc_del').show();
            $('#acc_add').hide();
            $("input[name='manager_id']").prop("readonly", true);
            $("#acc_from h2").text("詳細資料");
        });

        
        $("#acc_del").on("click", function () {
            //if (confirm("是否確定要停用")) {
            doDelete($("input[name='manager_id']").val(), $("input[name='enable']").val());
            //}
        });

        function doDelete(id, enable) {
            $.ajax({
                type: "get",
                url: "@Url.Action("DeleteManagerInfoJson", "Manager")",
                cache: false,
                data: { "manager_id": id, "enable": enable },
                dataType: "json"
            }).done(function (result) {
                if (result != null) {
                    var isDelSuccess = result;
                    if (isDelSuccess == true) {
                        alert("設定成功");
                        //location.reload();
                        var manager_id = $('#acc_from').find("input[name='manager_id']").val();
                        //此時取到的是舊值(修改前的下次狀態值)
                        var enable = $('#acc_from').find("input[name='enable']").val();


                        //"0" == enable  表示原本是停用
                        var next_eanble_text = ("0" == enable) ? "啟用" : "停用";
                        var next_eanble_value = ("0" == enable) ? "1"   : "0";
                        //新值
                        $('#acc_from').find("input[name='enable']").val(next_eanble_value);
                        $("#acc_del").text(next_eanble_text);

                        //"0" == enable 表示原本是停用
                        //此時取到的是舊值(修改前的下次狀態值也就是修改後的當前狀態值)
                        var eanble_style = ("0" == enable) ? "inline" : "none";
                        $("#rowdata_" + manager_id).parents("tr").find("td").eq(0).find("span").css("display", eanble_style);


                    } else {
                        alert("設定失敗");
                    }
                }
                else {
                }
            });
        }


        $("#accaddbu").on('click', function () {
            $("#acc_add").show();
            $("#acc_edit,#acc_del").hide();
            $("input[name='manager_id']").prop("readonly", false);
            $("input").val("");
            $("#acc_from h2").text("新增帳號");
            $('#group_select').each(function () {
                this.selectedIndex = 0;
            });
        });

        $("#acc_add").click(function () {
            $("input[name='pagetype']").val("Insert");
            $("#acc_from").submit();
        });

        $("#acc_from").submit(function () {
            var manager_id = $('#acc_from').find("input[name='manager_id']").val();
            var name = $('#acc_from').find("input[name='name']").val();
            var email = $('#acc_from').find("input[name='email']").val();
            var grp_id = $('#acc_from').find("select[name='grp_id']").val();
            var errMsg = checkValidationOk(manager_id, name, email,enable, grp_id);
            if (errMsg != '') {
                alert(errMsg);
                return false;
            }
        });

        $("#acc_edit").click(function () {
            $("input[name='pagetype']").val("Update");
            var manager_id = $('#acc_from').find("input[name='manager_id']").val();
            var name = $('#acc_from').find("input[name='name']").val();
            var email = $('#acc_from').find("input[name='email']").val();
            var grp_id = $('#acc_from').find("select[name='grp_id']").val();
            var errMsg = checkValidationOk(manager_id, name, email, enable, grp_id);
            if (errMsg != '') {
                alert(errMsg);
                return false;
            }

            $.ajax({
                type: "post",
                url: "@Url.Action("ManagerInfoInsertUpdate", "Manager")",
                cache: false,
                data: $("#acc_from").serialize(),
                dataType: "json"
            }).done(function (result) {
                if (result == true) {
                    var manager_id = $('#acc_from').find("input[name='manager_id']").val();
                    util_cls.form.form2row(manager_id, 'acc_from');
                    var new_grp_id = util_cls.json.getValueFromJsonStr($("#rowdata_" + manager_id).text(),"grp_id");
                    var new_grp_name = $("#group_select_0").find("option[value='" + grp_id + "']").text();
                    $("#rowdata_" + manager_id).parents("tr").find("td").eq(1).text(new_grp_name);

                    var manager_id = $('#acc_from').find("input[name='manager_id']").val();
                    var enable = $('#acc_from').find("input[name='enable']").val();
                    //下次狀態的值 , 所以 "0" == enable 表示下次是停用
                    var eanble_style = ("0" == enable) ? "none" : "inline";
                    $("#rowdata_" + manager_id).parents("tr").find("td").eq(0).find("span").css("display", eanble_style);
                } else {
                    alert("更新失敗");
                }
            });
        });
    }

    function checkValidationOk(manager_id, name, email, enable, grp_id) {
        var errMsg = '';
        if (manager_id == null || manager_id == '') {
            errMsg += '管理帳號不可為空白\n';
        }
        if (name == null || name == '') {
            errMsg += '姓名不可為空白\n';
        }
        if (email == null || email == '') {
            errMsg += '電子郵件不可為空白\n';
        }
        if (grp_id == null || grp_id == "") {
            errMsg += '請選擇群組';
        }
        return errMsg;
    }

    function chkmanager() {

        var manager_id = $("input[name='manager_id']").val();
        if (manager_id != null && manager_id != '')
        {
            $.ajax({
                type: "get",
                url: "@Url.Action("CheckManager", "Manager")",
                cache: false,
                data: { "manager_id": manager_id },
            dataType: "json"
        }).done(function (result) {
            if (result != null) {
                var Hmanager = result;
                if (Hmanager == true) {
                    $('#acc_edit,#acc_del').show();
                    $('#acc_add').hide();
                    $("input[name='manager_id']").prop("readonly", true);
                    $("#acc_from h2").text("詳細資料");

                    util_cls.form.row2form(manager_id, 'acc_from');

                } else {
                    //                        alert("不存在");
                }
            }
            else {
            }
        });
    }
    }

</script>
