@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Match_ViewModel

@{
    ViewBag.Title = "MatchScheduleList";
}

@{

}

@{
    <link href="~/stylesheets/sys.css" rel="stylesheet" />
}

<div class="article_col1">
    <article>
        <form id="form" action="@ViewBag.Action" method="post">
            <h2 class="borderTitle2">媒合時程大表</h2>
            <a href="@Url.Action("ExportExcelByNPOI","Manager", new {activity_id = Model.schedulePeriodSet.activity_id })" class="addbublue rightbox">匯出Excel</a>
            <a href="javascript:return false;" class="addbublue rightbox" id="saveMatchData">儲存</a>
            <table class="edittable">
                <thead>

                    <tr>
                        <th>
                            <div class="centerbox">
                                <a href="@Url.Action("MatchScheduleTime", "Manager", new { activity_id = Model.schedulePeriodSet.activity_id })" class="addbu">設定時段</a>
                            </div>
                        </th>
                        @foreach (BuyerInfoModel buyerInfoModel in Model.buyerinfoList)
                        {


#line default
#line hidden

#line 11 "D:\biz MVC\prj_BIZ_System\Views\Manager\MatchScheduleList.cshtml"
                            __o = buyerInfoModel.company;


#line default
#line hidden

#line 12 "D:\biz MVC\prj_BIZ_System\Views\Manager\MatchScheduleList.cshtml"
                            __o = buyerInfoModel.buyer_id;


#line default
#line hidden

#line 13 "D:\biz MVC\prj_BIZ_System\Views\Manager\MatchScheduleList.cshtml"

                        }

#line default
#line hidden

#line 14 "D:\biz MVC\prj_BIZ_System\Views\Manager\MatchScheduleList.cshtml"
                        foreach (SchedulePeriodSetModel schedulePeriodSetModel in Model.schedulePeriodSetList)
                        {


#line default
#line hidden

#line 15 "D:\biz MVC\prj_BIZ_System\Views\Manager\MatchScheduleList.cshtml"
                            __o = schedulePeriodSetModel.time_start.ToString("yyyy/MM/dd HH:mm");


#line default
#line hidden

#line 16 "D:\biz MVC\prj_BIZ_System\Views\Manager\MatchScheduleList.cshtml"
                            __o = schedulePeriodSetModel.time_end.ToString("yyyy/MM/dd HH:mm");


#line default
#line hidden

#line 17 "D:\biz MVC\prj_BIZ_System\Views\Manager\MatchScheduleList.cshtml"
                            __o = schedulePeriodSetModel.activity_id;


#line default
#line hidden

#line 18 "D:\biz MVC\prj_BIZ_System\Views\Manager\MatchScheduleList.cshtml"
                            __o = schedulePeriodSetModel.period_sn;


#line default
#line hidden

#line 19 "D:\biz MVC\prj_BIZ_System\Views\Manager\MatchScheduleList.cshtml"

                        }

#line default
#line hidden

#line 20 "D:\biz MVC\prj_BIZ_System\Views\Manager\MatchScheduleList.cshtml"
                        foreach (BuyerInfoModel buyerInfoModel in Model.buyerinfoList)
                            buyerInfoModel.company;


#line default
#line hidden

#line 12 "D:\biz MVC\prj_BIZ_System\Views\Manager\MatchScheduleList.cshtml"
                        __o = buyerInfoModel.buyer_id;



#line default
#line hidden

#line 12 "D:\biz MVC\prj_BIZ_System\Views\Manager\MatchScheduleList.cshtml"
                        @*@foreach (MatchmakingNeedModel matchmakingNeedModel in Model.matchmakingNeedList)
                            {
                                if (matchmakingNeedModel.buyer_reply == "0")
                                {
                                    <p>@matchmakingNeedModel.company</p>
                                }
                            }*@

                        @foreach (SchedulePeriodSetModel schedulePeriodSetModel in Model.schedulePeriodSetList)
                            n                  {


#line default
#line hidden
                            r
#line 15 "D:\biz MVC\prj_BIZ_System\Views\Manager\MatchScheduleList.cshtml"
                           __o = schedulePeriodSetModel.time_start.ToString("yyyy/MM/dd HH:mm");


#line default
#line hidden

#line 16 "D:\biz MVC\prj_BIZ_System\Views\Manager\MatchScheduleList.cshtml"
                            __o = schedulePeriodSetModel.time_end.ToString("yyyy/MM/dd HH:mm">
                                    @foreach (BuyerInfoModel buyerInfoModel in Model.buyerinfoList)
                                                            <p>@String.Format(sellerName)</p>
                                    }
                                </td>
                            }
                            else {
                                <td class="centerbox2"></td>
                            }
                        }
                    </tr>
                </tfoot>
            </table>
        </form>
    </article>
</div>

<script type="text/javascript">
    $(function () {
        /*儲存媒合資料*/
        $("#saveMatchData").click(function () {
            $("#form").submit();
        });

        /*下拉式選單媒合資料初始化*/
        initMatchData();
    });

    var sellerCompanys = @Html.Raw(Json.Encode(Model.matchMakingScheduleSellerCompany));
    var sellerIds = @Html.Raw(Json.Encode(Model.matchMakingScheduleSellerId));
    var allSellers = @Html.Raw(Json.Encode(Model.activityRegisterSellerCompany));
    var sellerCounts = @Model.matchMakingScheduleSellerCompany.Count();
    var periodCounts = @Model.schedulePeriodSetList.Count();
    var buyerCounts = @Model.buyerinfoList.Count();

    console.log(sellerCompanys);
    console.log(sellerIds);
    console.log(allSellers);
    console.log(sellerCounts);
    console.log(periodCounts);
    console.log(buyerCounts);

    function initMatchData ()
    {
        for(var index = 0; index < sellerCounts; index++)
        {
            if(sellerIds[index] != "")
            {
                var i = Math.floor(index/buyerCounts);//無條件捨去
                var j = index % buyerCounts;
                //console.log("i:"+i);
                //console.log("j:"+j);

                /*刪除列的資料*/
                for(var indexRow = 0; indexRow < buyerCounts; indexRow++)
                {
                    $("#seller_id"+(i*buyerCounts+indexRow)+" option[value="+sellerIds[index]+"]").remove();
                }

                /*刪除行的資料*/
                for(var indexColumn = j; indexColumn < sellerCounts; indexColumn+=buyerCounts)
                {
                    $("#seller_id"+indexColumn+" option[value="+sellerIds[index]+"]").remove();
                }

                /*回填自己index的初值*/
                $("#seller_id"+index).append($("<option></option>").val(sellerIds[index]).text(sellerCompanys[index]));
                $("#seller_id"+index+" option[value="+ sellerIds[index] +"]").attr("selected", true);

            }
        }
    }

    /*下拉式選單選擇後橫排及豎排不能複選的功能*/
    function PullDownMenus(sellerIdCount) {
        var selectedSellerText = $("#seller_id"+sellerIdCount + " option:selected").text();
        var selectedSellerValue = $("#seller_id"+sellerIdCount + " option:selected").val();


        var i = Math.floor(sellerIdCount/buyerCounts);//無條件捨去
        var j = sellerIdCount % buyerCounts;
        console.log("i:"+i);
        console.log("j:"+j);
        console.log(selectedSellerValue);

        if(selectedSellerValue != "")
        {
            /*刪除列的資料*/
            for(var indexRow = 0; indexRow < buyerCounts; indexRow++)
            {
                $("#seller_id"+(i*buyerCounts+indexRow)+" option[value="+selectedSellerValue+"]").remove();
            }

            /*刪除行的資料*/
            for(var indexColumn = j; indexColumn < sellerCounts; indexColumn+=buyerCounts)
            {
                $("#seller_id"+indexColumn+" option[value="+selectedSellerValue+"]").remove();
            }
        }else{
            $("#seller_id"+sellerIdCount+" option[value="+selectedSellerValue+"]").remove();
        }

        console.log(sellerIds[sellerIdCount]);
        /*有選有*/
        if(sellerIds[sellerIdCount] != "") {

            /*回填列的資料*/
            for(var indexRow = 0; indexRow < buyerCounts; indexRow++)
            {
                if((i*buyerCounts+indexRow) != sellerIdCount){
                    $("#seller_id"+(i*buyerCounts+indexRow)).append($("<option></option>").val(sellerIds[sellerIdCount]).text(sellerCompanys[sellerIdCount]));
                }
            }
            /*回填行的資料*/
            for(var indexColumn = j; indexColumn < sellerCounts; indexColumn+=buyerCounts)
            {
                if(indexColumn  != sellerIdCount){
                    $("#seller_id"+indexColumn).append($("<option></option>").val(sellerIds[sellerIdCount]).text(sellerCompanys[sellerIdCount]));
                }
            }

            /*回填自己index的初值*/
            $("#seller_id"+sellerIdCount).append($("<option></option>").val(selectedSellerValue).text(selectedSellerText));
            $("#seller_id"+sellerIdCount+" option[value="+ selectedSellerValue +"]").attr("selected", true);

        }else{
            /*空選有 回填自己index的初值*/
            $("#seller_id"+sellerIdCount).append($("<option></option>").val(selectedSellerValue).text(selectedSellerText));
            $("#seller_id"+sellerIdCount+" option[value="+ selectedSellerValue +"]").attr("selected", true);
        }
    }

</script>
