@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Match_ViewModel


@{
    ViewBag.Title = "MatchScheduleTime";
}

@section pagestyle{
    <link href="~/stylesheets/sys.css" rel="stylesheet" />
}

@{
    int timeIntervalCount = 0;
}

@Styles.Render("~/Content/jqueryUI")

<div class="article_col1">
    <article>
        <form id="form" action="@ViewBag.Action" method="post">
        <h2 class="borderTitle2">媒合時程大表設定</h2>
            <a href="@Url.Action("MatchScheduleList","Manager",new { activity_id = Model.SchedulePeriodSet.activity_id})" class="addbublue rightbox">返回媒合大表</a>
            <a href="javascript:return false;"class="addbublue rightbox" id="saveMatchTime">儲存</a>
            <table class="edittable">
                <tr>
                    <th>時段</th>
                    <th>開始時間</th>
                    <th>結束時間</th>
                    <th></th>
                </tr>
                <tbody>
                @if (Model.schedulePeriodSetList != null)
                {
                    foreach (SchedulePeriodSetModel schedulePeriodSetModel in Model.schedulePeriodSetList)
                    {
                        <tr>
                            <td>時段@(++timeIntervalCount)</td>
                            <td>
                                <input type="hidden" name="old_period_sn" value="@schedulePeriodSetModel.period_sn" />
                                <input type="text" name="old_time_start" value="@schedulePeriodSetModel.time_start.ToString("yyyy/MM/dd HH:mm")" />
                            </td>
                            <td>
                                <input type="text" name="old_time_end" value="@schedulePeriodSetModel.time_end.ToString("yyyy/MM/dd HH:mm")" />
                            </td>
                            <td>
                                <input type="hidden" name="old_activity_id" value="@schedulePeriodSetModel.activity_id" />
                                <a href="@Url.Action("MatchTimeIntervalDelect", "Manager",new { period_sn  = schedulePeriodSetModel.period_sn, activity_id = schedulePeriodSetModel.activity_id})" class="deleteSbu">刪除</a>
                            </td>
                        </tr>
                    }
                }
                </tbody>
                <tfoot>
                    <tr class="tfootbg">
                        <td class="centerbox2">新增時段</td>
                        <td class="centerbox2">
                            <input type="text" name="time_start" value="@Model.SchedulePeriodSet.time_start.ToString("yyyy/MM/dd HH:mm")" />
                        </td>
                        <td class="centerbox2">
                            <input type="text" name="time_end" value="@Model.SchedulePeriodSet.time_end.ToString("yyyy/MM/dd HH:mm")" />
                        </td>
                        <td>
                            <input type="hidden" name="activity_id" value="@Model.SchedulePeriodSet.activity_id" />
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </article>
</div>

@Scripts.Render("~/bundles/jqueryUI")
@Scripts.Render("~/bundles/datetimepicker")

<script>
    $(function () {
        
        /*儲存按鈕用from做submit送出*/
        $("#saveMatchTime").click(function () {
            var errMsg=chktime();
            if (errMsg != '') {
                alert(errMsg);
                return false;
            }
            $("#form").submit();
        });

        /*舊時間開始*/
        $('input[name="old_time_start"]').datetimepicker({
            beforeShow: function () {
                if ($(this).attr('maxDate')) {
                    var dateItem = $('#' + $(this).attr('maxDate'));
                    if (dateItem.val() !== "") {
                        $(this).datetimepicker('option', 'maxDate', dateItem.val());
                    }
                }

                if ($(this).attr('minDate')) {
                    var dateItem = $('#' + $(this).attr('minDate'));
                    if (dateItem.val() !== "") {
                        $(this).datetimepicker('option', 'minDate', dateItem.val());
                    }
                }
            }
        });

        /*舊時間結束*/
        $('input[name="old_time_end"]').datetimepicker({
            beforeShow: function () {
                if ($(this).attr('maxDate')) {
                    var dateItem = $('#' + $(this).attr('maxDate'));
                    if (dateItem.val() !== "") {
                        $(this).datetimepicker('option', 'maxDate', dateItem.val());
                    }
                }

                if ($(this).attr('minDate')) {
                    var dateItem = $('#' + $(this).attr('minDate'));
                    if (dateItem.val() !== "") {
                        $(this).datetimepicker('option', 'minDate', dateItem.val());
                    }
                }
            }
        });

        /*新時間開始*/
        $('input[name="time_start"]').datetimepicker({
            beforeShow: function () {
                if ($(this).attr('maxDate')) {
                    var dateItem = $('#' + $(this).attr('maxDate'));
                    if (dateItem.val() !== "") {
                        $(this).datetimepicker('option', 'maxDate', dateItem.val());
                    }
                }

                if ($(this).attr('minDate')) {
                    var dateItem = $('#' + $(this).attr('minDate'));
                    if (dateItem.val() !== "") {
                        $(this).datetimepicker('option', 'minDate', dateItem.val());
                    }
                }
            }
        });

        /*新時間結束*/
        $('input[name="time_end"]').datetimepicker({
            beforeShow: function () {
                if ($(this).attr('maxDate')) {
                    var dateItem = $('#' + $(this).attr('maxDate'));
                    if (dateItem.val() !== "") {
                        $(this).datetimepicker('option', 'maxDate', dateItem.val());
                    }
                }

                if ($(this).attr('minDate')) {
                    var dateItem = $('#' + $(this).attr('minDate'));
                    if (dateItem.val() !== "") {
                        $(this).datetimepicker('option', 'minDate', dateItem.val());
                    }
                }
            }
        });

    });

    function chktime() {
        var errMsg = '';
        $input_times = $("input[type='text']");
        var len = $input_times.size();
        var total_row_count = len / 2;
        $input_times.each(function (index, el) {
            var row_index = index / 2;
            var time_type = (row_index % 1) == 0 ? '開始' : '結束';
            var before_time_type = (time_type == '結束') ? '開始時間' : '上一個時段的結束時間'
            if (index >= 1) {
                var prev_val = $input_times.eq(index - 1).val();
                var diff = Date.parse($(el).val()) - Date.parse(prev_val);
                if (diff < 0) {
                    if (row_index < total_row_count - 1) {
                        errMsg = '時段' + (Math.floor(row_index) + 1) + '的' + time_type + '時間不可以早於' + before_time_type;
                    } else {
                        errMsg = '新增時段的' + time_type + '時間不可以早於' + before_time_type;
                    }
                    return false;
                }
            }
        });
        return errMsg;
    }
</script>
