@using prj_BIZ_System.Models
@model IList<EnterpriseSortListModel>

@{

}

<aside>
    <form action="/Home/CompanyList" class="searchbox">
        <input type="text" name="companyName" placeholder="@prj_BIZ_System.LanguageResource.User.lb_companyname">
        <select name="sort_id" id="">
            <option value="">@prj_BIZ_System.LanguageResource.User.lb_scope</option>
            @if (Model != null)
            {
                foreach (EnterpriseSortListModel md in Model)
                {
                    if (Request.Cookies["_culture"] == null || Request.Cookies["_culture"].Value == "zh-TW")
                    {
                        <option value="@md.sort_id">@md.enterprise_sort_name</option>
                    }
                    else {
                        <option value="@md.sort_id">@md.enterprise_sort_name_en</option>
                    }
                }
            }
        </select>
        <button class="searchbox_submit" type="submit"> @prj_BIZ_System.LanguageResource.User.lb_search </button>
    </form>
</aside>

<script>
    var vn = location.pathname.replace("/User/","");
    var urlMapping = [
        ["ProductList"  , 1],
        ["CatalogCreate", 2],
        ["CatalogList"  , 2]
    ];

    $.each(urlMapping, function (index, el) {
        if(el[0] == vn){
            $(".datalist").find("li").eq(el[1]).addClass("inforlistactive");
        }
    });

    
</script>