@model prj_BIZ_System.Models.CatalogListModel

@{
    ViewBag.Title = "CatalogCreate";
}

@section pagestyle{
    <link href="/stylesheets/sys.css" rel="stylesheet" />
    <link href="/stylesheets/registerd.css" rel="stylesheet" />
}


<div class="article_col1">
    <article class="article_col2 form_box">
        <h2>@prj_BIZ_System.LanguageResource.User.lb_catalogupload</h2>
        <form id="form" action="@Url.Action("CatalogUpload","User")" class="uploaddm" method="post" enctype="multipart/form-data">
			<div class="uploadlist dmname">
				<label for="catalog_name">prj_BIZ_System.LanguageResource.User.lb_catalogname:</label>
				<input type="text" id="catalog_name" name="catalog_name">
			</div>		
            <div class="magb30">
                <label class="choose_file" id="upload" for="upexl">prj_BIZ_System.LanguageResource.User.lb_coverupload</label>
                <input type="file" id="upexl" name="cover_file">
                <input type="text" id="upexl_name" name="cover_file_name">
            </div>
            <div class="magb30">
                <label class="choose_file" id="upload" for="catalog_file">@prj_BIZ_System.LanguageResource.User.lb_pdfupload</label>
                <input type="file" id="catalog_file" style="display:none" name="catalog_file">
                <input type="text" id="catalog_file_name" name="catalog_file_name">
            </div>
            <div class="centerbox">
                <button type="submit" class="submitbu">@prj_BIZ_System.LanguageResource.User.lb_submit_sure</button>
            </div>
        </form>
    </article>
    @{
        Html.RenderAction("_HomeLeftPartial", "Home");
    }
</div>

<script>
    $(function () {
        init();
    });

    function init() {

        $("#upexl").on("change", function () {
            var upval = $(this).val();
            var upvalfilename = upval.replace("C:\\fakepath\\", "");
            $("#upexl_name").val(upvalfilename);
        });

        $("#catalog_file").on("change", function () {
            var upval = $(this).val();
            var upvalfilename = upval.replace("C:\\fakepath\\", "");
            $("#catalog_file_name").val(upvalfilename);
        });

        var re_for_pic = /\.(jpg|gif|png|JPG|GIF|PNG)$/i;
        var re_for_pdf = /\.(pdf|PDF)$/i;
        $("#form").submit(function () {
            var catalog_name = $("#catalog_name").val();
            var errMsg = checkValidationOk(catalog_name);
            if (errMsg != '') {
                alert(errMsg);
                return false;
            }

            var pic = $("input[name='cover_file']").val();
            if (!re_for_pic.test(pic)) {
                alert("@prj_BIZ_System.LanguageResource.User.lb_photoupload" + " " + "@prj_BIZ_System.LanguageResource.User.lb_must" + " jpg、gif、png ");
                return false;
            }

            var file = $("input[name='catalog_file']").val();
            if (!re_for_pdf.test(file)) {
                alert("@prj_BIZ_System.LanguageResource.User.lb_pdfupload" + " " + "@prj_BIZ_System.LanguageResource.User.lb_must" + " pdf ");
                return false;
            }
            $("#loaderdiv").css("display", "block");
        });
    }

    function checkValidationOk(catalog_name) {
        var errMsg = '';
        if (catalog_name == null || catalog_name == '') {
            errMsg += '@prj_BIZ_System.LanguageResource.User.lb_catalog_is_empty \n';
        }
        return errMsg;
    }
</script>