@using prj_BIZ_System.App_Start
@model IList<prj_BIZ_System.Models.CatalogListModel>

@{
    ViewBag.Title = "CatalogList";
}

@section pagestyle{
    <link href="/stylesheets/registerd.css" rel="stylesheet" />
    @Styles.Render("~/Scripts/css/fancybox")
}

<div class="article_col1">
    @{
        Html.RenderAction("_NavSearchPartial");
    }
    <article class="article_col2 form_box">
        <h2>型錄上傳</h2>
        <form id="deleteForm" action="@Url.Action("CatalogDelete","User")" method="post">
            <ul class="regis_dmlist">
                @if (Model != null)
                {
                    foreach (var mo in Model)
                    {
                        <li>
                            <a href="@(ViewBag.catalogDir+mo.catalog_file)" target="_blank" class="fancybox"><img src="@(ViewBag.coverDir+mo.cover_file)" /></a>
                            <input type="checkbox" class="inputCheckbox" name="catalog_no" id="@(mo.catalog_no)" value="@(mo.catalog_no)"><label for="@(mo.catalog_no)"></label>
                        </li>
                    }
                }
                else
                {
                    <text>查無資料</text>
                }
            </ul>
            <div class="centerbox">
                <a href="@Url.Action("CatalogCreate","User")" class="addbu">新增</a>
                <a id="deleteLink" href="javascript:void(0)" class="deleteSbu">刪除</a>
            </div>
        </form>
        </article>
    </div>

@Scripts.Render("~/bundles/fancybox")

<script>
    $(function () {
        init();
    })

    function init() {
        $(".fancybox").fancybox({
            width: 600,
            height: 300,
            type: 'iframe'
        });
        $("#deleteLink").click(function () {
            if(confirm("確認是否要刪除")){
                $("#deleteForm").submit();
            }
        });
    }
</script>