@using prj_BIZ_System.Models
@model IEnumerable<prj_BIZ_System.Models.ProductListModel>

@{
    ViewBag.Title = "ProductList";
}
@section pagestyle{
    <link href="/stylesheets/sys.css" rel="stylesheet" />
}
    <div class="article_col1">
        <article class="article_col2 form_box">
            <h2>@ViewBag.company</h2>
            <form id="form" action="@Url.Action("ProductDelete","User")" method="post">
                <ul class="productlist">
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (ProductListModel md in Model)
                        {
                            <li>
                                <div class="imgbox">
                                    <img src="@(string.IsNullOrEmpty(md.product_pic_site)?UploadHelper.defaultImgSmall:ViewBag.productDir+md.product_pic_site)" alt="">
                                </div>
                                <div class="producttext productCheckT">
                                    <h3>產品名稱: @md.product_name</h3>
                                    <p>型號:@(md.model_no)</p>
                                </div>
                                <div class="productCheck">
                                    <input name="del_prods" value="@md.product_id" type="checkbox" class="inputCheckbox" id="dm@(md.product_id)">
                                    <label for="dm@(md.product_id)" class="labeltCheckbox">刪除</label>
                                </div>
                                <div class="productbu">
                                    <a href="@Url.Action("ProductDetailEdit","User",new { product_id = md.product_id} )" class="editsbu ">編輯產品</a>
                                </div>
                            </li>
                        }
                    }
                    else
                    {

                    }
                </ul>
            </form>
            @Html.PagesList((List<PageList<ProductListModel>>)ViewData["PageList"])
            <div class="centerbox">
                <a href="@Url.Action("ProductDetailEdit","User")" class="addbu">新增</a>
                <a href="javascript:void(0)" class="deleteSbu" id="deleteP">刪除</a>
            </div>
        </article>
        @{
            Html.RenderAction("_HomeLeftPartial", "Home");
        }
    </div>
    <script>
        $(function () {
            init();
        });
        function init() {
            $("#deleteP").click(function () {
                if(confirm("確定要刪除嗎?")){
                    $("#form").submit();
                }
            });

        }
    </script>
