@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.ProductListModel

@{
//ViewBag.Title = "ProductList";
}
@section pagestyle{
    <link href="~/stylesheets/sys.css" rel="stylesheet" />
}
    <div class="article_col1">
        <article class="article_col2 form_box">
            <h2>@Model.company</h2>
            <form id="form" action="@Url.Action("doProductInsertOrUpdate", "User")" method="post" enctype="multipart/form-data">
                <div class="magb30 centerbox2">
                    <div class="imgboxB" id="resultB">
                        <img src="@(string.IsNullOrEmpty(Model.product_pic_site)?UploadHelper.defaultImgBig:Url.Content(ViewBag.productDir)+Model.product_pic_site)" alt="">
                    </div>
                    <label class="choose_file" id="upload" for="id_image_large">@prj_BIZ_System.LanguageResource.User.lb_photoupload</label>
                    <input type="file" id="id_image_large" name="product_img">
                </div>
                <div class="magb30">
                    <div class="form_box w100">
                        <h2>@prj_BIZ_System.LanguageResource.User.lb_zhtw_info</h2>
                        <input type="hidden" name="product_id" value="@Model.product_id" class="regis_col02R" />
                        <span class="regis_col02L regis_col_bg">
                            @prj_BIZ_System.LanguageResource.User.lb_p_category:
                        </span>
                        <input name="product_category" value="@Model.product_category" class="regis_col02R" />

                        <span class="regis_col02L regis_col_bg">
                            @prj_BIZ_System.LanguageResource.User.lb_product_name:
                        </span>
                        <input name="product_name" value="@Model.product_name" class="regis_col02R" />

                        <span class="regis_col02L regis_col_bg">
                            @prj_BIZ_System.LanguageResource.User.lb_p_model:
                        </span>
                        <input name="model_no" value="@Model.model_no_en" class="regis_col02R" />

                        <span class="regis_col02L regis_col_bg">
                            @prj_BIZ_System.LanguageResource.User.lb_p_info:
                        </span>
                        <textarea name="product_info" class="regis_col02R">@Model.product_info</textarea>
                        <span class="regis_col02L regis_col_bg">
                            @prj_BIZ_System.LanguageResource.User.lb_p_patent:
                        </span>
                        <textarea name="patent_or_winners" class="regis_col02R">@Model.patent_or_winners</textarea>

                        <span class="regis_col02L regis_col_bg">
                            @prj_BIZ_System.LanguageResource.User.lb_p_specification:
                        </span>
                        <textarea name="specifications_or_other" class="regis_col02R">@Model.specifications_or_other</textarea>
                    </div>
                    <div class="form_box w100">
                        <h2>@prj_BIZ_System.LanguageResource.User.lb_en_info</h2>
                        <span class="regis_col02L regis_col_bg">
                            @prj_BIZ_System.LanguageResource.User.lb_p_category:
                        </span>
                        <input name="product_category_en" value="@Model.product_category_en" class="regis_col02R" />

                        <span class="regis_col02L regis_col_bg">
                            @prj_BIZ_System.LanguageResource.User.lb_product_name:
                        </span>
                        <input name="product_name_en" value="@Model.product_name_en" class="regis_col02R" />


                        <span class="regis_col02L regis_col_bg">
                            @prj_BIZ_System.LanguageResource.User.lb_p_model:
                        </span>
                        <input name="model_no_en" value="@Model.model_no_en" class="regis_col02R" />


                        <span class="regis_col02L regis_col_bg">
                            @prj_BIZ_System.LanguageResource.User.lb_p_info:
                        </span>
                        <textarea name="product_info_en" class="regis_col02R">@Model.product_info_en</textarea>

                        <span class="regis_col02L regis_col_bg">
                            @prj_BIZ_System.LanguageResource.User.lb_p_patent:
                        </span>
                        <textarea name="patent_or_winners_en" class="regis_col02R">@Model.patent_or_winners_en</textarea>

                        <span class="regis_col02L regis_col_bg">
                            @prj_BIZ_System.LanguageResource.User.lb_p_specification:
                        </span>
                        <textarea name="specifications_or_other_en" class="regis_col02R">@Model.specifications_or_other_en</textarea>
                    </div>
                </div>
                <div class="centerbox">
                    <a href="javascript:void(0)" class="addbublue" onclick="doSubmit()">@prj_BIZ_System.LanguageResource.User.lb_save</a>
                </div>

            </form>
        </article>
        @{
            Html.RenderAction("_HomeLeftPartial", "Home");
        }
    </div>
    <script>
        $(function () {
            init();
        });

        function init() { }
        function doSubmit() {
            var errmsg = checkEmpty();
            if ( errmsg != '') {
                alert(errmsg);
                return false;
            } else {
                $("#form").submit();
            }
        }

        function checkEmpty() {
            var errmsg = '';
            var product_name = $("input[name='product_name']").val();
            if (product_name == null || product_name == '') {
                errmsg += "@prj_BIZ_System.LanguageResource.User.lb_pdname_is_empty";
            }
            return errmsg;
        }
    </script>
