@using prj_BIZ_System.Models
@model ProductListModel

@{
    ViewBag.Title = "ProductList";
}
@section pagestyle{
    <link href="/stylesheets/sys.css" rel="stylesheet" />
}
    <article class="article_col1">
        <section class="form_box w100 article_col1">
            <h2>@Model.company</h2>
            <div class="imgboxB">
                <img src="@(string.IsNullOrEmpty(Model.product_pic_site)?UploadHelper.defaultImgBig:ViewBag.productDir+Model.product_pic_site)" alt="">
            </div>
            <div class="magb30">

                <span class="regis_col02L regis_col_bg2">
                    類型:
                </span>
                <span class="regis_col02R contentspan">
                    @Model.product_category
                </span>

                <span class="regis_col02L regis_col_bg2">
                    產品名稱:
                </span>
                <span class="regis_col02R contentspan">
                    @Model.product_name
                </span>

                <span class="regis_col02L regis_col_bg2">
                    商品型號:
                </span>
                <span class="regis_col02R contentspan">
                    @Model.model_no
                </span>

                <span class="regis_col02L regis_col_bg2">
                    產品資料:
                </span>
                <p class="regis_col02R contentspan">
                    @Model.product_info
                </p>

                <span class="regis_col02L regis_col_bg2">
                    商品專利/得獎:
                </span>
                <p class="regis_col02R contentspan">
                    @Model.patent_or_winners
                </p>


                <span class="regis_col02L regis_col_bg2">
                    商品規格或其它:
                </span>
                <p class="regis_col02R contentspan">
                    @Model.specifications_or_other
                </p>



            </div>
            <div class="centerbox magb30">
                <a href="../User/UserInfo?user_id=@(Model.user_id)#1" class="submitbu">回產品列表</a>
            </div>
        </section>

    </article>
<script>
    $(function () {
        init();
    });
    function init() {

        
    }
</script>