@using prj_BIZ_System.Models
@model ProductListModel

@{
    ViewBag.Title = "ProductList";
}
@section pagestyle{
    <link href="~/stylesheets/sys.css" rel="stylesheet" />
}
<div class="article_col1">
    <article class="article_col2">
        <section class="form_box w100 article_col1">
            @{
                var company = Model.company;
                if (Request.Cookies["_culture"] != null && Request.Cookies["_culture"].Value != "zh-TW")
                {
                    if (Model.company_en != null && Model.company_en != "")
                    {
                        company = Model.company_en;
                    }
                }
            }

            <h2>@company</h2>
            <div class="imgboxB">
                <img src="@(string.IsNullOrEmpty(Model.product_pic_site)?UploadHelper.defaultImgBig:ViewBag.productDir+Model.product_pic_site)" alt="">
            </div>
            <div class="magb30">

                @{
                    var product_name = Model.product_name;
                    if (Request.Cookies["_culture"] != null && Request.Cookies["_culture"].Value != "zh-TW")
                    {
                        if (Model.product_name_en != null && Model.product_name_en != "")
                        {
                            product_name = Model.product_name_en;
                        }
                    }
                    var model_no = Model.model_no;
                    if (Request.Cookies["_culture"] != null && Request.Cookies["_culture"].Value != "zh-TW")
                    {
                        if (Model.model_no_en != null && Model.model_no_en != "")
                        {
                            model_no = Model.model_no_en;
                        }
                    }

                    var product_category = Model.product_category;
                    if (Request.Cookies["_culture"] != null && Request.Cookies["_culture"].Value != "zh-TW")
                    {
                        if (Model.product_category_en != null && Model.product_category_en != "")
                        {
                            product_category = Model.product_category_en;
                        }
                    }

                    var product_info = Model.product_info;
                    if (Request.Cookies["_culture"] != null && Request.Cookies["_culture"].Value != "zh-TW")
                    {
                        if (Model.product_info_en != null && Model.product_info_en != "")
                        {
                            product_info = Model.product_info_en;
                        }
                    }

                    var patent_or_winners = Model.patent_or_winners;
                    if (Request.Cookies["_culture"] != null && Request.Cookies["_culture"].Value != "zh-TW")
                    {
                        if (Model.patent_or_winners_en != null && Model.patent_or_winners_en != "")
                        {
                            patent_or_winners = Model.patent_or_winners_en;
                        }
                    }

                    var specifications_or_other = Model.specifications_or_other;
                    if (Request.Cookies["_culture"] != null && Request.Cookies["_culture"].Value != "zh-TW")
                    {
                        if (Model.specifications_or_other_en != null && Model.specifications_or_other_en != "")
                        {
                            specifications_or_other = Model.specifications_or_other_en;
                        }
                    }


                }

                <span class="regis_col02L regis_col_bg2">
                    @prj_BIZ_System.LanguageResource.User.lb_p_category:
                </span>
                <span class="regis_col02R contentspan">
                    @product_category
                </span>

                <span class="regis_col02L regis_col_bg2">
                    @prj_BIZ_System.LanguageResource.User.lb_product_name:
                </span>
                <span class="regis_col02R contentspan">
                    @product_name
                </span>

                <span class="regis_col02L regis_col_bg2">
                    @prj_BIZ_System.LanguageResource.User.lb_p_model:
                </span>
                <span class="regis_col02R contentspan">
                    @model_no
                </span>

                <span class="regis_col02L regis_col_bg2">
                    @prj_BIZ_System.LanguageResource.User.lb_p_info:
                </span>
                <p class="regis_col02R contentspan">
                    @product_info
                </p>

                <span class="regis_col02L regis_col_bg2">
                    @prj_BIZ_System.LanguageResource.User.lb_p_patent:
                </span>
                <p class="regis_col02R contentspan">
                    @patent_or_winners
                </p>

                <span class="regis_col02L regis_col_bg2">
                    @prj_BIZ_System.LanguageResource.User.lb_p_specification:
                </span>
                <p class="regis_col02R contentspan">
                    @specifications_or_other
                </p>

            </div>
            <div class="centerbox magb30">
                @*<a href="../User/UserInfo?user_id=@(Model.user_id)#1" class="submitbu">@prj_BIZ_System.LanguageResource.User.lb_back_pdlist</a>*@
                <button type="button" class="submitbu" onclick="javascript:history.back()">@prj_BIZ_System.LanguageResource.User.lb_back</button>

            </div>
        </section>

    </article>
    @{
        Html.RenderAction("_HomeLeftPartial", "Home");
    }
</div>

<script>
    $(function () {
        init();
    });
    function init() {


    }
</script>