@using prj_BIZ_System.Models
@model IEnumerable<prj_BIZ_System.Models.ProductListModel>

@{
    ViewBag.Title = "ProductList";
}
@section pagestyle{
    <link href="/stylesheets/sys.css" rel="stylesheet" />
}
    <div class="article_col1">
        <article class="article_col2 form_box">
            <h2>@ViewBag.company</h2>
            <form id="form" action="@Url.Action("ProductDelete","User")" method="post">
                <ul class="productlist">
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (ProductListModel md in Model)
                        {
                            <li>
                                <div class="imgbox">
                                    <img src="@(string.IsNullOrEmpty(md.product_pic_site)?UploadHelper.defaultImgSmall:ViewBag.productDir+md.product_pic_site)" alt="">
                                </div>
                                <div class="producttext productCheckT">
                                    <h3>@prj_BIZ_System.LanguageResource.User.lb_product_name: @md.product_name</h3>
                                    <p>@prj_BIZ_System.LanguageResource.User.lb_p_model:@(md.model_no)</p>
                                </div>
                                <div class="productCheck">
                                    <input name="del_prods" value="@md.product_id" type="checkbox" class="inputCheckbox" id="dm@(md.product_id)">
                                    <label for="dm@(md.product_id)" class="labeltCheckbox">@prj_BIZ_System.LanguageResource.User.lb_delete</label>
                                </div>
                                <div class="productbu">
                                    <a href="@Url.Action("ProductDetailEdit","User",new { product_id = md.product_id} )" class="editsbu ">編輯產品</a>
                                </div>
                            </li>
                        }
                    }
                    else
                    {

                    }
                </ul>
            </form>
            @Html.PagesList((List<PageList<ProductListModel>>)ViewData["PageList"])
            <div class="centerbox">
                <a href="@Url.Action("ProductDetailEdit","User")" class="addbu">@prj_BIZ_System.LanguageResource.User.lb_add</a>
                <a href="javascript:void(0)" class="deleteSbu" id="deleteP">@prj_BIZ_System.LanguageResource.User.lb_delete</a>
            </div>
        </article>
        @{
            Html.RenderAction("_HomeLeftPartial", "Home");
        }
    </div>
    <script>
        $(function () {
            init();
        });
        function init() {
            $("#deleteP").click(function () {
                if (confirm("@prj_BIZ_System.LanguageResource.User.lb_deleteornot ?")) {
                    $("#form").submit();
                }
            });

        }
    </script>
