@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.User_ViewModel

@{
    ViewBag.Title = "Register";
}

@section pagestyle{
    <link href="/stylesheets/registerd.css" rel="stylesheet" />
}

@{
    string enterprise_type01 = "checked";
    string enterprise_type02 = "";
    string revenue00 = "";
    string revenue01 = "";
    string revenue02 = "";
    string revenue03 = "";
    string revenue04 = "";
    string revenue05 = "";
    string revenue06 = "";
    if (ViewBag.PageType == "Create")
    {

        Model.userinfo.user_id = "";
        Model.userinfo.user_pw = "";
        Model.userinfo.company = "";
        Model.userinfo.company_en = "";
        Model.userinfo.leader = "";
        Model.userinfo.addr = "";
        Model.userinfo.contact = "";
        Model.userinfo.leader_en = "";
        Model.userinfo.addr_en = "";
        Model.userinfo.contact_en = "";
        Model.userinfo.phone = "";
        Model.userinfo.email = "";
        Model.userinfo.capital = 0;
        Model.userinfo.website = "";
        Model.userinfo.info = "";
        Model.userinfo.info_en = "";
        Model.userinfo.id_enable = "0";

    }
    else {

        if (Model.userinfo.enterprise_type == "0")
        {
            enterprise_type01 = "checked";
        }
        else
        {
            enterprise_type02 = "checked";
        }
        if (Model.userinfo.revenue == "0")
        {
            revenue00 = "checked";
        }
        else if (Model.userinfo.revenue == "1")
        {
            revenue01 = "checked";
        }
        else if (Model.userinfo.revenue == "2")
        {
            revenue02 = "checked";
        }
        else if (Model.userinfo.revenue == "3")
        {
            revenue03 = "checked";
        }
        else if (Model.userinfo.revenue == "4")
        {
            revenue04 = "checked";
        }
        else if (Model.userinfo.revenue == "5")
        {
            revenue05 = "checked";
        }
        else if (Model.userinfo.revenue == "6")
        {
            revenue06 = "checked";
        }

    }

}



            <article class="form_box article_col1">

                <h2>@ViewBag.tname</h2>

@if (ViewBag.PageType != "Create")
{
                <a href="/User/ProductList" class="buinfor">產品說明</a>
                <a href="/User/CatalogList" class="buinfor">型錄上傳</a><br></br>
}
                <form id="form" action="@ViewBag.Action" method="post" enctype="multipart/form-data">
                    <div class="regis_col01L">

                        <div id="result">
                            @if (Model.userinfo.logo_img != null)
                            {
                                <img src="@(ViewBag.logoDir+Model.userinfo.logo_img)" alt="">
                            }
                            else
                            {
                                <img src="/images/logopic.jpg" alt="">
                            }
                        </div>
                        <label class="choose_file" id="upload" for="id_image_large">上傳LOGO圖</label>
                        <input type="file" id="id_image_large" name="logo_img">
                    </div>
                    <div class="regis_col01R">
                        <!--
                        <div class="regis_completebox">
                            <div class="regis_complete" style="width:70%">
                                70%
                            </div>
                        </div>
                        -->
                        <input type="hidden" name="id_enable" value="@Model.userinfo.id_enable">

                        <label class="regis_col01R_label spanRed">
                            企業類型
                        </label>
                        <div class="regis_col01R_input">
                            <input type="radio" class="radioinput" id="enterprise_type01" name="enterprise_type" value="0" @enterprise_type01 onclick="tipstring('0')">
                            <label for="enterprise_type01">國內企業</label>
                            <input type="radio" class="radioinput" id="enterprise_type02" name="enterprise_type" value="1" @enterprise_type02 onclick="tipstring('1')">
                            <label for="enterprise_type02">外國企業</label>
                        </div>
                        <label for="" class="regis_col01R_label spanRed">
                            帳號
                        </label>
                        @if (ViewBag.PageType == "Create")
                        {
                            <input type="text" name="user_id" value="@Model.userinfo.user_id" class="regis_col01R_input spanRed" placeholder="請用統一編號註冊" onblur="chkuser()" required>
                        }
                        else
                        {
                            <input type="text" name="user_id" value="@Model.userinfo.user_id" readonly class="regis_col01R_input spanRed" required>
                            @*<input type="hidden" name="user_id" value="@Model.userinfo.user_id">
                            <label for="" class="regis_col01R_input">
                                @Model.userinfo.user_id
                            </label>*@

                        }

                        @if (ViewBag.PageType == "Create")
                        {
                            <label for="" class="regis_col01R_label spanRed">
                                密碼
                            </label>
                            <input name="user_pw" type="password"  value="@Model.userinfo.user_pw" class="regis_col01R_input" placeholder="密碼請設8個字元的英文及數字組合" required>
                            <label for="" class="regis_col01R_label spanRed">
                                確認密碼
                            </label>
                            <input name="user_pw1" type="password" value="" class="regis_col01R_input" placeholder="同上密碼請再次輸入確認" onblur="chkpw()" required>

                        }
                        else
                        {
                            <label for="" class="regis_col01R_label">
                                <a href="EditPasswd" class="buinfor">修改密碼</a>
                            </label>
                            <input type="password" name="user_pw" readonly value="@Model.userinfo.user_pw" class="regis_col01R_input" required>
                        }

						<label for="name" class="regis_col01R_label spanRed">電話/分機</label>
						<input type="text" name="phone" value="@Model.userinfo.phone" class="regis_col01R_input" required>
						<label for="email" class="regis_col01R_label spanRed">電子郵件</label>
						<input type="email" name="email" value="@Model.userinfo.email" class="regis_col01R_input" required>

                    </div>
					
					<div class="form_box w100">
						<h2>中文資訊</h2>
						<label for="" class="regis_col02L spanRed">
                            公司名稱
                        </label>
                        <input type="text" name="company" value="@Model.userinfo.company" class="regis_col02R" required>
						 <label for="leader" class="regis_col02L">代表人</label>
						<input type="text" name="leader" value="@Model.userinfo.leader" class="regis_col02R">
						<label for="addr" class="regis_col02L">地址</label>
						<input type="text" name="addr" value="@Model.userinfo.addr" class="regis_col02R">
						<label for="name" class="regis_col02L">聯絡人姓名</label>
						<input type="text" name="contact" value="@Model.userinfo.contact" class="regis_col02R">
                        <label class="regis_col02L">企業簡介</label>
                        <div class="regis_col02R">
                            <textarea rows="4" name="info">@Model.userinfo.info</textarea>
                        </div>
					</div>
					
					<div class="form_box w100">
						<h2>英文資訊</h2>
						 <label for="" class="regis_col02L spanRed">
                            公司名稱
                        </label>
                        <input type="text" name="company_en" value="@Model.userinfo.company_en" class="regis_col02R" required>
						<label for="leader" class="regis_col02L">代表人</label>
						<input type="text" name="leader_en" value="@Model.userinfo.leader_en" class="regis_col02R">
						<label for="addr" class="regis_col02L">地址</label>
						<input type="text" name="addr_en" value="@Model.userinfo.addr_en" class="regis_col02R">
						<label for="name" class="regis_col02L">聯絡人姓名</label>
						<input type="text" name="contact_en" value="@Model.userinfo.contact_en" class="regis_col02R">
                        <label class="regis_col02L">企業簡介</label>
                        <div class="regis_col02R">
                            <textarea rows="4" name="info_en">@Model.userinfo.info_en</textarea>
                        </div>
					</div>
					
					<br/><br/>
                    <label for="capital" class="regis_col02L spanRed">資本額</label>
                    <div class="regis_col02R">
                        <input type="text" name="capital" value="@Model.userinfo.capital" required> 萬元
                    </div>
                    <label for="revenue" class="regis_col02L spanRed">營業額</label>
                    <div class="regis_col02R">
                        <input type="radio" name="revenue" class="radioinput" value="0" id="revenue00" @revenue00>
                        <label for="revenue00">500萬以下</label>
                        <input type="radio" name="revenue" value="1" class="radioinput" id="revenue01" @revenue01>
                        <label for="revenue01">501-1000萬</label>
                        <input type="radio" name="revenue" value="2" class="radioinput" id="revenue02" @revenue02>
                        <label for="revenue02">1001-1500萬</label>
                        <input type="radio" name="revenue" value="3" class="radioinput" id="revenue03" @revenue03>
                        <label for="revenue03">1501-3000萬</label>
                        <input type="radio" name="revenue" value="4" class="radioinput" id="revenue04" @revenue04>
                        <label for="revenue04">3001-5000萬</label>
                        <input type="radio" name="revenue" value="5" class="radioinput" id="revenue05" @revenue05>
                        <label for="revenue05">5000萬-1億</label>
                        <input type="radio" name="revenue" value="6" class="radioinput" id="revenue06" @revenue06>
                        <label for="revenue06">一億以上</label>
                    </div>
                    <label for="verticals" class="regis_col02L spanRed">產業別(可複選)</label>
                    <div class="regis_col02R verticalslist">

                    @foreach (var sortList in Model.enterprisesortList)
                    {
                        <input type="checkbox" class="inputCheckbox" name="sort_id" id="@sortList.sort_id" value="@sortList.sort_id"><label for="@sortList.sort_id">@sortList.enterprise_sort_id@sortList.enterprise_sort_name</label>

                    }
                    </div>
                    <label for="website" class="regis_col02L">企業網址</label>
                    <input type="text" name="website" value="@Model.userinfo.website" class="regis_col02R">
                    <div class="centerbox">
                        <button type="submit" class="submitbu">@ViewBag.SubmitName</button>
                    </div>

                </form>
            </article>

<script>
    $(function () {
        init();
        render();
    });

    function init() {
        $(function()
        {
            $("#id_image_large").change(function(){
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
			
                    reader.onload = function (e) {
                        $('#result img').attr('src', e.target.result);
                    }
			
                    reader.readAsDataURL(this.files[0]);
                }
                alert("Logo圖片選擇成功");
            });

        }) ;

    }

    function render(){

        @if(ViewBag.Action.Equals("UserInsertUpdate")){
            <text>
                var UpdateRender = function(){
                    $.each(userSortList,function(index,el){
                        $("input[name='sort_id'][value='"+el.sort_id+"']").prop("checked",true);
                    });
                };
                var userSortList = @Html.Raw(ViewBag.userSortList);
                UpdateRender();
            </text>
        }
    }

    $(function () {

        @if (!string.IsNullOrEmpty((string)TempData["pw_errMsg"]))
        {
            <text>
            function check() {
                var pw_errMsg = '@TempData["pw_errMsg"]';
                if (pw_errMsg != '')
        {
                    alert(pw_errMsg);
        }
        }
            check();
        </text>
    }

        $("#form").submit(function () {
            var user_pw = $("input[name='user_pw']").val();
            var errMsg = checkValidationOk(user_pw);
            if (errMsg != '') {
                alert(errMsg);
                return false;
            }

            var revenue = $("input[name='revenue']:checked").val();
            if (revenue==null || revenue==''){
                alert("請選取公司營業額!!");
                return false;
            }
            var sort_id = $("input[name='sort_id']:checked").val();
            if (sort_id==null || sort_id==''){
                alert("請選取產業別!!");
                return false;
            }

            if($("input[name='enterprise_type']:checked").val()==0){
                var reg = /\D/;
                var user_id = $("input[name='user_id']").val();
                if(reg.test(user_id)){
                    alert("國內企業帳號限制為統一統號!!");
                    return false;
                }
            }
            
        });
    });



    function checkValidationOk(user_pw) {
        var reg = /^(?=.*[a-zA-Z])(?=.*\d).{8,12}$/;
        var errMsg = '';
        if (user_pw == null || user_pw == '') {
            errMsg += '新密碼不可為空白\n';
        } else {
            if(!reg.test(user_pw)){
                errMsg += '新密碼至少英數各一個,長度為8~12位\n';
            }
        }
        return errMsg;
    }

    function tipstring(id) {
        if (id=="0")
            $("input[name='user_id']").attr("placeholder","請用統一編號註冊");
        else
            $("input[name='user_id']").attr("placeholder","請自訂帳號");
    }

    function chkpw() {
        var user_pw = $("input[name='user_pw']").val();
        var user_pw1 = $("input[name='user_pw1']").val();
        if (user_pw != null && user_pw != '') 
        {
            if (user_pw1 =='')
            {
                alert("請輸入確認密碼欄位!!");
                $("input[name='user_pw1']").focus(); 
            }
            else if (user_pw != user_pw1)
            {
                alert("確認密碼錯誤,請重新確認密碼是否有誤!!");
                $("input[name='user_pw1']").focus(); 
            }
        }
    }

    function chkuser() {

        var user_id = $("input[name='user_id']").val();
        if (user_id != null && user_id != '') 
        {
            $.ajax({
                type: "get",
                url: "@Url.Action("CheckUser", "Manager")",
                cache: false,
            data: { "user_id": user_id },
            dataType: "json"
        }).done(function (result) {
            if (result != null) {
                var Huser = result;
                if (Huser == true) {
                    alert("該使用帳號已存在,請確認是否帳號有誤!!");
                    $("input[name='user_id']").focus();                
                } else {
                    //                        alert("不存在");
                }
            }
            else {
            }
        });
    }
    }

</script>