
@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.User_ViewModel

@{
    ViewBag.Title = "User Infomation";
}

@section pagestyle{
    <link href="/stylesheets/registerd.css" rel="stylesheet" />
    <link href="/stylesheets/company_info.css" rel="stylesheet" />
    @Styles.Render("~/Scripts/css/fancybox")
}

@{
    string enterprise_type = "";
    string revenue = "";
    if (Model.userinfo.enterprise_type == "0")
    {
        enterprise_type = "國內企業";
    }
    else
    {
        enterprise_type = "外國企業";
    }

    if (Model.userinfo.revenue == "0")
    {
        revenue = "500萬以下";
    }
    else if (Model.userinfo.revenue == "1")
    {
        revenue = "501-1000萬";
    }
    else if (Model.userinfo.revenue == "2")
    {
        revenue = "1001-1500萬";
    }
    else if (Model.userinfo.revenue == "3")
    {
        revenue = "1501-3000萬";
    }
    else if (Model.userinfo.revenue == "4")
    {
        revenue = "3001-5000萬";
    }
    else if (Model.userinfo.revenue == "5")
    {
        revenue = "5000萬-1億";
    }
    else if (Model.userinfo.revenue == "6")
    {
        revenue = "一億以上";
    }

}

<main>
    <div class="article_col1">
        @{
            Html.RenderAction("_NavSearchPartial", "User");
        }
        <article class="form_box article_col2">
            <section class="form_box comicon article_col1">

                <h2>公司資料</h2>
                <div class="regis_col01L">
                    <div id="result">
                        @if (Model.userinfo.logo_img != null)
                        {
                            <img src="@(ViewBag.logoDir+Model.userinfo.logo_img)" alt="">
                        }
                        else
                        {
                            <img src="/images/logopic.jpg" alt="">
                        }
                    </div>

                </div>
                <div class="regis_col01R">
                    <label class="regis_col01R_label">
                        企業類型
                    </label>
                    <span class="regis_col01R_input">@enterprise_type</span>

                    <label for="" class="regis_col01R_label">
                        帳號
                    </label>
                    <span class="regis_col01R_input">@Model.userinfo.user_id</span>
					
					<label for="name" class="regis_col01R_label">電話/分機</label>
					<span class="regis_col01R_input">@Model.userinfo.phone</span>
					
					<label for="email" class="regis_col01R_label">電子郵件</label>
					<span class="regis_col01R_input">@Model.userinfo.email</span>
                </div>
				<div class="form_box w100">
						<h2>中文資訊</h2>
				  <label for="" class="regis_col02L">
                        公司名稱
                    </label>
                    <span class="regis_col02R">@Model.userinfo.company</span>
					<label for="leader" class="regis_col02L">代表人</label>
					<span class="regis_col02R">@Model.userinfo.leader</span>
					<label for="addr" class="regis_col02L">地址</label>
					<span class="regis_col02R">@Model.userinfo.addr</span>
					<label for="name" class="regis_col02L">聯絡人姓名</label>
				    <label class="regis_col02L">企業簡介</label>
					<span class="regis_col02R">@Model.userinfo.info</span>
				</div>
				
				<div class="form_box w100">
					<h2>英文資訊</h2>
				   <label for="" class="regis_col02L">
                        公司名稱
                    </label>
                    <span class="regis_col02R">@Model.userinfo.company_en</span>
					<span class="regis_col02R">@Model.userinfo.contact</span>
					<label for="leader" class="regis_col02L">代表人</label>
					<span class="regis_col02R">@Model.userinfo.leader_en</span>
					<label for="addr" class="regis_col02L">地址</label>
					<span class="regis_col02R">@Model.userinfo.addr_en</span>
					<label for="name" class="regis_col02L">聯絡人姓名</label>
					<span class="regis_col02R">@Model.userinfo.contact_en</span>
				    <label class="regis_col02L">企業簡介</label>
					<span class="regis_col02R">
					 @if (Model.userinfo.info_en != null)
					{
                        @Model.userinfo.info_en
					}
                    </span>
				</div>
              <br/><br/>
                <label for="capital" class="regis_col02L">資本額</label>
                <div class="regis_col02R">
                    <span>@Model.userinfo.capital</span> 萬元
                </div>
                <label for="revenue" class="regis_col02L">營業額</label>
                <span class="regis_col02R">@revenue</span>
                <label for="verticals" class="regis_col02L">產業別</label>
                <div class="regis_col02R verticalslist">

                    @foreach (var usersortList in Model.usersortList)
                    {
                        <span class="regis_col02R">@usersortList.enterprise_sort_id@usersortList.enterprise_sort_name</span>
                    }
                </div>
                <label for="website" class="regis_col02L">企業網址</label>
                <span class="regis_col02R">@Model.userinfo.website</span>
             
               
                </section>

                <section class="form_box comicon article_col1">
                <h2>產品說明</h2>
                <table class="regis_table">
                    @if (Model != null && Model.productsortList!=null && Model.productsortList.Count()>0)
                    {
                        <tr>
                            <th></th>
                            <th width="40%">產品名稱</th>
                            <th width="40%">產品說明</th>
                            <th></th>
                        </tr>

                    
                        foreach (ProductListModel model in Model.productsortList)
                        {
                            <tr class="_old_prods">
                                <td>
                                </td>
                                <td>
                                    @(model.product_name)<p>
                                    @(model.product_name_en)
                                </td>
                                <td>
                                    @(model.product_info)<p>
                                    @(model.product_info_en)
                                </td>
                                <td></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <span>無</span>
                    }


                </table>


            </section>

            <section class="form_box comicon article_col1">
                <h2>型錄資料</h2>
                    @if (Model.cataloglistList != null && Model.cataloglistList.Count() > 0)
                    {
                        @:<ul class="regis_dmlist">

                                foreach (var mo in Model.cataloglistList)
                                {
                                    <li>
                                        <a href="@(ViewBag.catalogDir+mo.catalog_file)" target="_blank" class="fancybox">
                                            <span>@(mo.catalog_name)</span>
                                            <div class="regisimg">
                                                <img src="@(ViewBag.coverDir+mo.cover_file)" alt="@(mo.catalog_name)">
                                            </div>

                                        </a>
                                    </li>
                                }
                        
                        @:</ul>
                    }
                    else
                    {
                        <span>無</span>
                    }
            </section>

</article>


    </div>

</main>
@Scripts.Render("~/bundles/fancybox")

<script>
    $(function () {
        init();
    })

    function init() {
        $(".fancybox").fancybox({
            width: 600,
            height: 300,
            type: 'iframe'
        });
    }
</script>
