@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.User_ViewModel
@{
    ViewBag.Title = "User List";
}


    <table class="edittable">

        <tr>
            <th>使用者帳號</th>
            <th>帳號有效</th>
            <th>企業類型</th>
            <th>公司名稱</th>
            <th>公司地址</th>
            <th>聯絡人姓名</th>
            <th>聯絡電話</th>
            <th>電子郵件</th>
            <th>資本額 (單位：萬)</th>
            <th>企業網址</th>
            <th></th>
        </tr>
        @foreach (var newInfo in Model.userinfoList)
        {
            <tr>
                <td>@newInfo.user_id</td>
                <td>@newInfo.id_enable</td>
                <td>@newInfo.enterprise_type</td>
                <td>@newInfo.company</td>
                <td>@newInfo.addr</td>
                <td>@newInfo.contact</td>
                <td>@newInfo.phone</td>
                <td>@newInfo.email</td>
                <td>@newInfo.capital</td>
                <td>@newInfo.website</td>
                <td>
                    <a href="/User/DeleteUser?user_id=@newInfo.user_id" class="deletebu">刪除</a>
                    <a href="/User/register?user_id=@newInfo.user_id" class="editbu">修改</a>
                </td>
            </tr>
        }
    </table>
    
        <ul class="pagelist">
            <li><a href="">&lt;</a></li>

            <li><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li><a href="">6</a></li>
            <li><a href="">7</a></li>
            <li><a href="">8</a></li>
            <li><a href="">9</a></li>
            <li><a href="">10</a></li>

            <li><a href="">&gt;</a></li>
        </ul>






