
@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.User_ViewModel

@{
    ViewBag.Title = "User Infomation";
}

@section pagestyle{
    <link href="/stylesheets/registerd.css" rel="stylesheet" />
    <link href="/stylesheets/company_info.css" rel="stylesheet" />
    @Styles.Render("~/Scripts/css/fancybox")
}

@{
    string enterprise_type = "";
    string revenue = "";
    if (Model.userinfo.enterprise_type == "0")
    {
        enterprise_type = @prj_BIZ_System.LanguageResource.User.lb_domestic;
    }
    else
    {
        enterprise_type = @prj_BIZ_System.LanguageResource.User.lb_foreign;
    }

    if (Model.userinfo.revenue == "0")
    {
        revenue = @prj_BIZ_System.LanguageResource.User.lb_0_5000k;
    }
    else if (Model.userinfo.revenue == "1")
    {
        revenue = @prj_BIZ_System.LanguageResource.User.lb_5001k_10000k;
    }
    else if (Model.userinfo.revenue == "2")
    {
        revenue = @prj_BIZ_System.LanguageResource.User.lb_10001_15000k;
    }
    else if (Model.userinfo.revenue == "3")
    {
        revenue = @prj_BIZ_System.LanguageResource.User.lb_15001k_30000k;
    }
    else if (Model.userinfo.revenue == "4")
    {
        revenue = @prj_BIZ_System.LanguageResource.User.lb_30001k_50000k;
    }
    else if (Model.userinfo.revenue == "5")
    {
        revenue = @prj_BIZ_System.LanguageResource.User.lb_50001k_100000k;
    }
    else if (Model.userinfo.revenue == "6")
    {
        revenue = @prj_BIZ_System.LanguageResource.User.lb_morethan100000k;

    }

}

    <div class="article_col1">
        <article class="article_col2">
                @{
                    var company = Model.userinfo.company;
                    if (Request.Cookies["_culture"] != null && Request.Cookies["_culture"].Value != "zh-TW")
                    {
                        if (Model.userinfo.company_en != null && Model.userinfo.company_en != "")
                        {
                            company = Model.userinfo.company_en;
                        }
                    }
                }

            <section class="form_box w100 article_col1">
                <div class="databubox" id="tabA">
                    <a href="javascript:void(0)" class="databu databu05 active">@prj_BIZ_System.LanguageResource.User.lb_profile</a>
                    <a href="javascript:void(0)" class="databu databu02">@prj_BIZ_System.LanguageResource.User.lb_product_info</a>
                    <a href="javascript:void(0)" class="databu databu03">@prj_BIZ_System.LanguageResource.User.lb_pdf</a>
                    <a href="javascript:void(0)" class="databu databu04">@prj_BIZ_System.LanguageResource.User.lb_video</a>
                </div>

                <div id="tabbox">
                    <h2>@company</h2>
                    <section id="section">
                        <div class="regis_col01L">
                            <div id="result">
                                @if (Model.userinfo.logo_img != null)
                                {
                                    <img src="@(ViewBag.logoDir+Model.userinfo.logo_img)" alt="">
                                }
                                else
                                {
                                    <img src="/images/logopic.jpg" alt="">
                                }
                            </div>

                        </div>
                        <div class="regis_col01R">
                            <label class="regis_col01R_label regis_col_bg2">
                                @prj_BIZ_System.LanguageResource.User.lb_category
                            </label>
                            <span class="regis_col01R_input contentspan">@enterprise_type</span>


                            <label for="" class="regis_col01R_label regis_col_bg2">
                                @prj_BIZ_System.LanguageResource.User.lb_user_id
                            </label>
                            <span class="regis_col01R_input contentspan">@Model.userinfo.user_id</span>

                            <label for="name" class="regis_col01R_label regis_col_bg2">@prj_BIZ_System.LanguageResource.User.lb_tel</label>
                            <span class="regis_col01R_input contentspan">@Model.userinfo.phone</span>

                            <label for="email" class="regis_col01R_label regis_col_bg2">@prj_BIZ_System.LanguageResource.User.lb_email</label>
                            <span class="regis_col01R_input contentspan">@Model.userinfo.email</span>

                        </div>
                        <div class="form_box w100">
                            <h2>@prj_BIZ_System.LanguageResource.User.lb_zhtw_info</h2>
                            <label for="" class="regis_col02L regis_col_bg2">
                                @prj_BIZ_System.LanguageResource.User.lb_companyname
                            </label>
                            <span class="regis_col02R contentspan">@Model.userinfo.company</span>
                            <label for="leader" class="regis_col02L regis_col_bg2">@prj_BIZ_System.LanguageResource.User.lb_boss</label>
                            <span class="regis_col02R contentspan">@Model.userinfo.leader</span>
                            <label for="addr" class="regis_col02L regis_col_bg2">@prj_BIZ_System.LanguageResource.User.lb_addr</label>
                            <span class="regis_col02R contentspan">@Model.userinfo.addr</span>
                            <label for="name" class="regis_col02L regis_col_bg2">@prj_BIZ_System.LanguageResource.User.lb_contactname</label>
                            <span class="regis_col02R contentspan">@Model.userinfo.contact</span>
                            <label class="regis_col02L regis_col_bg2">@prj_BIZ_System.LanguageResource.User.lb_companybrief</label>
                            <span class="regis_col02R contentspan">@Model.userinfo.info</span>

                        </div>

                        <div class="form_box w100">
                            <h2>@prj_BIZ_System.LanguageResource.User.lb_en_info</h2>
                            <label for="" class="regis_col02L regis_col_bg2">
                                @prj_BIZ_System.LanguageResource.User.lb_companyname
                            </label>
                            <span class="regis_col02R contentspan">@Model.userinfo.company_en</span>

                            <label for="leader" class="regis_col02L regis_col_bg2">@prj_BIZ_System.LanguageResource.User.lb_boss</label>
                            <span class="regis_col02R contentspan">@Model.userinfo.leader_en</span>
                            <label for="addr" class="regis_col02L regis_col_bg2">@prj_BIZ_System.LanguageResource.User.lb_addr</label>
                            <span class="regis_col02R contentspan">@Model.userinfo.addr_en</span>
                            <label for="name" class="regis_col02L regis_col_bg2">@prj_BIZ_System.LanguageResource.User.lb_contactname</label>
                            <span class="regis_col02R contentspan">@Model.userinfo.contact_en</span>
                            <label class="regis_col02L regis_col_bg2">@prj_BIZ_System.LanguageResource.User.lb_companybrief</label>
                            <span class="regis_col02R contentspan">
                                @if (Model.userinfo.info_en != null)
                                {
                                    @Model.userinfo.info_en
                                }
                            </span>

                        </div>
                        <br>
                        <br>

                        <label for="capital" class="regis_col02L regis_col_bg2">@prj_BIZ_System.LanguageResource.User.lb_amountofcapital</label>
                        <div class="regis_col02R">
                            <span class="contentspan">@Model.userinfo.capital</span> @prj_BIZ_System.LanguageResource.User.lb_1000dollars
                        </div>
                        <label for="revenue" class="regis_col02L regis_col_bg2">@prj_BIZ_System.LanguageResource.User.lb_sumofbiz</label>
                        <span class="regis_col02R contentspan">@revenue</span>
                        <label for="verticals" class="regis_col02L regis_col_bg2">@prj_BIZ_System.LanguageResource.User.lb_scope</label>
                        <div class="regis_col02R verticalslist">

                            @foreach (var usersortList in Model.usersortList)
                            {
                                if (Request.Cookies["_culture"] == null || Request.Cookies["_culture"].Value == "zh-TW")
                                {
                                    <span class="regis_col02R">@usersortList.enterprise_sort_id@usersortList.enterprise_sort_name</span>
                                }
                                else
                                {
                                    <span class="regis_col02R">@usersortList.enterprise_sort_id@usersortList.enterprise_sort_name_en</span>
                                }
                            }
                        </div>
                        <label for="website" class="regis_col02L regis_col_bg2">@prj_BIZ_System.LanguageResource.User.lb_website</label>
                        <span class="regis_col02R contentspan">@Model.userinfo.website</span>
                    </section>

                    <section id="section2" style="display:none">
                        <ul class="productlist">
                            @if (Model.productsortList != null && Model.productsortList.Count() > 0)
                            {
                                foreach (ProductListModel md in Model.productsortList)
                                {
                                    <li>
                                        <div class="imgbox">
                                            <img src="@(string.IsNullOrEmpty(md.product_pic_site)?UploadHelper.defaultImgSmall:ViewBag.productDir+md.product_pic_site)" alt="">
                                        </div>
                                        <div class="producttext">
                                            <h3>@prj_BIZ_System.LanguageResource.User.lb_product_name: @md.product_name </h3>
                                            <p>@prj_BIZ_System.LanguageResource.User.lb_prod_model_no: @md.model_no </p>
                                        </div>
                                        <div class="productbu">

                                            <a href='@Url.Action("ProductDetail","User",new { product_id = md.product_id })' class="deleteSbu">詳細內容</a>
                                        </div>
                                    </li>
                                }
                                @Html.PagesList((PageList<ProductListModel>)TempData["PageList"]);
                            }
                            else
                            {
                                <span>@prj_BIZ_System.LanguageResource.User.lb_nodata</span>
                            }
                        </ul>
                    </section>

                    <section id="section3" style="display:none">
                        @if (Model.cataloglistList != null && Model.cataloglistList.Count() > 0)
                        {
                            @:<ul class="regis_dmlist">
                        foreach (var mo in Model.cataloglistList)
                            {
                                <li>
                                    <a href="@(ViewBag.catalogDir+mo.catalog_file)" target="_blank" class="fancybox">
                                        <span>@(mo.catalog_name)</span>
                                        <div class="regisimg">
                                            <img src="@(ViewBag.coverDir+mo.cover_file)" alt="@(mo.catalog_name)">
                                        </div>

                                    </a>
                                </li>
                            }
                            @:</ul>
                        }
                        else
                        {
                            <span>@prj_BIZ_System.LanguageResource.User.lb_nodata</span>
                        }
                    </section>
                    <section id="section4" style="display:none">
                        <ul class="regis_dmlist3">
                            @if (Model.videolistList != null)
                            {
                                foreach (var mo in Model.videolistList)
                                {
                                    <li>
                                        <iframe src="https://www.youtube.com/embed/@(mo.youtube_site)" frameborder="0" allowfullscreen></iframe>
                                        <p>@(mo.video_name)</p>
                                        <input type="checkbox" class="inputCheckbox" name="video_no" id="@(mo.video_no)" value="@(mo.video_no)"><label for="@(mo.video_no)"></label>
                                    </li>
                                }
                            }
                            else
                            {
                                <span>@prj_BIZ_System.LanguageResource.User.lb_nodata</span>
                            }
                        </ul>
                    </section>
                </div>
            </section>

        </article>
        @{
            Html.RenderAction("_HomeLeftPartial", "Home");
        }

    </div>

@Scripts.Render("~/bundles/fancybox")

<script>
    $(function () {
        init();
    })

    function init() {
        $(".fancybox").fancybox({
            width: 600,
            height: 300,
            type: 'iframe'
        });
    }

    $(document).ready(function () {
        $("#tabA").on('click', 'a', function () {
            var index = $("#tabA a").index(this);
            var formbox = $("#tabbox section")[index];
            $("#tabA a").removeClass('active');
            $(this).addClass('active');
            $("#tabbox section").hide();
            $("#tabbox").find(formbox).show();
        })

        var sectionIndex = location.href.split("#")[1];
        if (sectionIndex) {
            $("#tabA a").removeClass('active');
            $("#tabA a").eq(sectionIndex).addClass('active');
            $("#tabbox section").hide();
            $("#tabbox").find($("#tabbox section")[sectionIndex]).show();
        }
    })


</script>
