@using prj_BIZ_System.App_Start
@model IList<prj_BIZ_System.Models.VideoListModel>

@{
    ViewBag.Title = "VideoList";
}

@section pagestyle{
    <link href="/stylesheets/registerd.css" rel="stylesheet" />
    @Styles.Render("~/Scripts/css/fancybox")
}

<div class="article_col1">
    <article class="article_col2 form_box">
        @{
            var company = HttpUtility.UrlDecode(Request.Cookies["UserInfo"]["company"]);
            var company_en = HttpUtility.UrlDecode(Request.Cookies["UserInfo"]["company_en"]);
            if (Request.Cookies["_culture"] != null && Request.Cookies["_culture"].Value != "zh-TW")
            {
                if (company_en != null && company_en != "")
                {
                    company = company_en;
                }
            }
        }
        <h2>@company - @prj_BIZ_System.LanguageResource.User.lb_video</h2>
        @*<a href="/User/Register" class="buinfor">@prj_BIZ_System.LanguageResource.User.lb_myinfo</a>
        <a href="/User/ProductList" class="buinfor">@prj_BIZ_System.LanguageResource.User.lb_product_info</a>
        <a href="/User/CatalogList" class="buinfor">@prj_BIZ_System.LanguageResource.User.lb_pdf</a>
        <br /><br />*@

        <form id="deleteForm" action="@Url.Action("VideoDelete","User")" method="post">
            <ul class="regis_dmlist3">
                @if (Model != null)
                {
                    foreach (var mo in Model)
                    {
                        <li>
                            <iframe src="https://www.youtube.com/embed/@(mo.youtube_site)" frameborder="0" allowfullscreen></iframe>
							<p>@(mo.video_name)</p>
                            <input type="checkbox" class="inputCheckbox" name="video_no" id="@(mo.video_no)" value="@(mo.video_no)"><label for="@(mo.video_no)"></label>
                        </li>
                    }
                }
                else
                {
                    <text>@prj_BIZ_System.LanguageResource.User.lb_nodata</text>
}
            </ul>
            <div class="centerbox">
                <a href="@Url.Action("VideoListCreate","User")" class="addbu">@prj_BIZ_System.LanguageResource.User.lb_add</a>
                <a id="deleteLink" href="javascript:void(0)" class="deleteSbu">@prj_BIZ_System.LanguageResource.User.lb_delete</a>
            </div>
        </form>
    </article>
    @{
        Html.RenderAction("_HomeLeftPartial", "Home");
    }

    </div>

@Scripts.Render("~/bundles/fancybox")

<script>
    $(function () {
        init();
    })

    function init() {
        $(".fancybox").fancybox({
            width: 600,
            height: 300,
            type: 'iframe'
        });
        $("#deleteLink").click(function () {
            if(confirm("確認是否要刪除")){
                $("#deleteForm").submit();
            }
        });
    }
</script>