@using prj_BIZ_System.Models

@{
    ViewBag.Title = "Permissions";
}

@section pagestyle{
    <link href="~/stylesheets/sys.css" rel="stylesheet" />
    <link href="~/stylesheets/screen.css" rel="stylesheet" />
}

@Styles.Render("~/Content/jqueryUI")

<div class="article_col1">
    <h2 class="borderTitle2">帳號權限設定</h2>
    <form id="form" action="@Url.Action("doUpdatePermissions","Sales")" method="post">
        <div id="accordion">
            <!---->
            <h3>
                企業資料庫 <br />
                <span class="groupmember">是否可與貴公司的業會員共同管理</span>
            </h3>
            <div>
                <p>

                    <input type="radio" name="company" class="radioinput" value="0" id="company01" @("0".Equals(Model.company) ? "checked" : "")>
                    <label for="company01">僅限企業會員管理</label> <br /> <br />
                    <input type="radio" name="company" class="radioinput" value="1" id="company02" @("1".Equals(Model.company) ? "checked" : "")>
                    <label for="company02">提供所有業務會員共同管理</label> <br /> <br />
                    <input type="radio" name="company" class="radioinput" value="2" id="company03" @("2".Equals(Model.company) ? "checked" : "")>
                    <label for="company03">提供部份業務會員共同管理</label>
                </p>
                <table class="multipletable" id="selcttable1">
                    <tr>
                        <td>
                            <div class="form_box">
                                <h2>不可共同管理</h2>
                                <select name="unCompanySalesIds" size="5" multiple="multiple" @("2".Equals(Model.company) ? "" : "disabled") data-myid="company">
                                    @foreach (SalesInfoModel sm in Model.unCompanySalesList)
                                    {
                                        <option value="@sm.sales_id">@sm.sales_name</option>
                                    }
                                </select>
                            </div>
                        </td>
                        <td style="width: 120px;text-align:center">
                            <input type="button" name="right" value=">" /><br /><br />
                            <input type="button" name="left" value="<" /><br /><br />
                            <input type="button" name="rightAll" value=">>" /><br /><br />
                            <input type="button" name="leftAll" value="<<" />
                        </td>
                        <td>
                            <div class="form_box">
                                <h2>可共同管理</h2>
                                <select name="companySalesIds" size="5" multiple="multiple" @("2".Equals(Model.company) ? "" : "disabled") data-myid="company">
                                    @foreach (SalesInfoModel sm in Model.companySalesList)
                                    {
                                        <option value="@sm.sales_id">@sm.sales_name</option>
                                    }
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <!---->
            <!---->
            <h3>
                影音型錄 <br />
                <span class="groupmember">是否可與貴公司的業會員共同管理</span>
            </h3>
            <div>
                <p>
                    <input type="radio" name="video" class="radioinput" value="0" id="video04" @("0".Equals(Model.video) ? "checked" : "")>
                    <label for="video04">僅限企業會員管理</label> <br /> <br />
                    <input type="radio" name="video" class="radioinput" value="1" id="video05" @("1".Equals(Model.video) ? "checked" : "")>
                    <label for="video05">提供所有業務會員共同管理</label> <br /> <br />
                    <input type="radio" name="video" class="radioinput" value="2" id="video06" @("2".Equals(Model.video) ? "checked" : "")>
                    <label for="video06">提供部份業務會員共同管理</label>
                </p>
                <table class="multipletable" id="selcttable2">
                    <tr>
                        <td>
                            <div class="form_box">
                                <h2>不可共同管理</h2>
                                <select name="unVideoSalesIds" size="5" multiple="multiple" @("2".Equals(Model.video) ? "" : "disabled") data-myid="video">
                                    @foreach (SalesInfoModel sm in Model.unVideoSalesList)
                                    {
                                        <option value="@sm.sales_id">@sm.sales_name</option>
                                    }
                                </select>
                            </div>
                        </td>
                        <td style="width: 120px;text-align:center">
                            <input type="button" name="right" value=">" /><br /><br />
                            <input type="button" name="left" value="<" /><br /><br />
                            <input type="button" name="rightAll" value=">>" /><br /><br />
                            <input type="button" name="leftAll" value="<<" />
                        </td>
                        <td>
                            <div class="form_box">
                                <h2>可共同管理</h2>
                                <select name="videoSalesIds" size="5" multiple="multiple" @("2".Equals(Model.video) ? "" : "disabled") data-myid="video">
                                    @foreach (SalesInfoModel sm in Model.videoSalesList)
                                    {
                                        <option value="@sm.sales_id">@sm.sales_name</option>
                                    }
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <!---->
            <!---->
            <h3>
                業務管理 <br />
                <span class="groupmember">是否可與貴公司的業會員共同管理</span>
            </h3>
            <div>
                <p>
                    <input type="radio" name="sales" class="radioinput" value="0" id="sales07" @("0".Equals(Model.sales) ? "checked" : "")>
                    <label for="sales07">僅限企業會員管理</label> <br /> <br />
                    <input type="radio" name="sales" class="radioinput" value="1" id="sales08" @("1".Equals(Model.sales) ? "checked" : "")>
                    <label for="sales08">提供所有業務會員共同管理</label> <br /> <br />
                    <input type="radio" name="sales" class="radioinput" value="2" id="sales09" @("2".Equals(Model.sales) ? "checked" : "")>
                    <label for="sales09">提供部份業務會員共同管理</label>
                </p>
                <table class="multipletable" id="selcttable2">
                    <tr>
                        <td>
                            <div class="form_box">
                                <h2>不可共同管理</h2>
                                <select name="unSalesSalesIds" size="5" multiple="multiple" @("2".Equals(Model.sales) ? "" : "disabled") data-myid="sales">
                                    @foreach (SalesInfoModel sm in Model.unSalesSalesList)
                                    {
                                        <option value="@sm.sales_id">@sm.sales_name</option>
                                    }
                                </select>
                            </div>
                        </td>
                        <td style="width: 120px;text-align:center">
                            <input type="button" name="right" value=">" /><br /><br />
                            <input type="button" name="left" value="<" /><br /><br />
                            <input type="button" name="rightAll" value=">>" /><br /><br />
                            <input type="button" name="leftAll" value="<<" />
                        </td>
                        <td>
                            <div class="form_box">
                                <h2>可共同管理</h2>
                                <select name="salesSalesIds" size="5" multiple="multiple" @("2".Equals(Model.sales) ? "" : "disabled") data-myid="sales">
                                    @foreach (SalesInfoModel sm in Model.salesSalesList)
                                    {
                                        <option value="@sm.sales_id">@sm.sales_name</option>
                                    }
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <!---->
            <!---->
            <h3>
                訊息管理 <br />
                <span class="groupmember">是否可與貴公司的業會員共同管理</span>
            </h3>
            <div>
                <p>
                    <input type="radio" name="message" class="radioinput" value="0" id="message10" @("0".Equals(Model.message) ? "checked" : "")>
                    <label for="message10">僅限企業會員管理</label> <br /> <br />
                    <input type="radio" name="message" class="radioinput" value="1" id="message11" @("1".Equals(Model.message) ? "checked" : "")>
                    <label for="message11">提供所有業務會員共同管理</label> <br /> <br />
                    <input type="radio" name="message" class="radioinput" value="2" id="message12" @("2".Equals(Model.message) ? "checked" : "")>
                    <label for="message12">提供部份業務會員共同管理</label>
                </p>
                <table class="multipletable" id="selcttable2">
                    <tr>
                        <td>
                            <div class="form_box">
                                <h2>不可共同管理</h2>
                                <select name="unMessageSalesIds" size="5" multiple="multiple" @("2".Equals(Model.message) ? "" : "disabled") data-myid="message">
                                    @foreach (SalesInfoModel sm in Model.unMessageSalesList)
                                    {
                                        <option value="@sm.sales_id">@sm.sales_name</option>
                                    }
                                </select>
                            </div>
                        </td>
                        <td style="width: 120px;text-align:center">
                            <input type="button" name="right" value=">" /><br /><br />
                            <input type="button" name="left" value="<" /><br /><br />
                            <input type="button" name="rightAll" value=">>" /><br /><br />
                            <input type="button" name="leftAll" value="<<" />
                        </td>
                        <td>
                            <div class="form_box">
                                <h2>可共同管理</h2>
                                <select name="messageSalesIds" size="5" multiple="multiple" @("2".Equals(Model.message) ? "" : "disabled") data-myid="message">
                                    @foreach (SalesInfoModel sm in Model.messageSalesList)
                                    {
                                        <option value="@sm.sales_id">@sm.sales_name</option>
                                    }
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <!---->
        </div>
    </form>
    <div class="centerbox">
        <br />
        <a id="submitBtn" href="javascript:void(0)" class="buinfor">確定送出</a>
    </div>
</div>

<script type="text/javascript"
        src="~/Scripts/jquery-ui-1.10.2.min.js">
</script>

<script>
		$(document).ready(function() {

				var move = function(s1,s2,selector){
					var ops = s1.find(selector);
			        s2.append(ops.clone());
			        ops.remove();
				}

				  $('input[type=button]').on('click', function() {
			    	var selectes = $(this).closest('tr').find('select');
					var left = $(selectes[0]), right = $(selectes[1]);
			        var name = 	$(this).attr('name');
		        	if(left.attr('disabled') != 'disabled'){
				        if(name=='right'){
				        	move(left,right,'option:selected');
				        }else if(name=='left'){
				        	move(right,left,'option:selected');
				        }else if(name == 'rightAll'){
				        	move(left,right,'option');
				        }else if(name == 'leftAll'){
				        	move(right,left,'option');
				        };
		   			}
			    });

		    var setnoChecked = function(){
		        var selectid = $(this).attr('name'), n = $(this).index();
			 	if(n==8){
			 	 	$('select[data-myid='+selectid+']').prop('disabled', false);
			 	}
			 	else{
			 		$('select[data-myid='+selectid+']').prop('disabled', true);
			 	}
			};
		    $("input[type='radio']").on("click",setnoChecked);

		     $( "#accordion" ).accordion();

		     $("#submitBtn").click(function () {
		         $("#form option").prop("selected", true);
		         $("#form").submit();
		     });

            

             @if (!string.IsNullOrEmpty((string)TempData["salesUpdatePermissionResult"]))
		     {
                <text>
	            function check() {
	                var errMsg = '@TempData["salesUpdatePermissionResult"]';
	                if (errMsg != '') {
	                    alert(errMsg);
		            }
		         }
		         check();
		        </text>
		     }

		});
</script>