@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.User_ViewModel

@{
    ViewBag.Title = "News";
}
@section pagestyle{
    <link href="/stylesheets/company_info.css" rel="stylesheet" />
    @Styles.Render("~/Scripts/css/fancybox")
}

<div class="article_col1">
    @{
        Html.RenderAction("_NavSearchPartial", "User");
    }
    <article class="article_col2">
        <h2 class="borderTitle">
            @prj_BIZ_System.LanguageResource.User.lb_company
        </h2>
        <section class="form_box">
            <h2>@prj_BIZ_System.LanguageResource.User.lb_searchresult</h2>
            <ul class="listlink col2 comicon article_col1">

                @if (ViewBag.model == "companysortList")
                {

                    foreach (var sortList in Model.companysortList)
                    {
                        var company = sortList.company;
                        if (Request.Cookies["_culture"] != null && Request.Cookies["_culture"].Value != "zh-TW")
                        {
                            if (sortList.company_en != null && sortList.company_en != "")
                            {
                                company = sortList.company_en;
                            }
                        }

                        <li><a href="/User/UserInfo?user_id=@sortList.user_id">@company </a></li>

                    }
                }
                else
                {
                    foreach (var sortList in Model.userinfoList)
                    {
                        var company = sortList.company;
                        if (Request.Cookies["_culture"] != null && Request.Cookies["_culture"].Value != "zh-TW")
                        {
                            if (sortList.company_en != null && sortList.company_en != "")
                            {
                                company = sortList.company_en;
                            }
                        }

                        <li><a href="/User/UserInfo?user_id=@sortList.user_id">@company </a></li>
                    }

                }

            </ul>
        </section>
        <section class="form_box">
            <h2>@prj_BIZ_System.LanguageResource.User.lb_latestcatalog</h2>
            <ul class="regis_dmlist">

                @foreach (var catalogList in Model.cataloglistList)
                {
                    <li>
                        <a href="@(ViewBag.coverDir + catalogList.user_id + "/Catalog/catalog_file/" + catalogList.catalog_file)" target="_blank" class="fancybox">
                            <span>@catalogList.catalog_name</span>
                            <div class="regisimg">
                                <img src="@(ViewBag.coverDir + catalogList.user_id + "/Catalog/cover_file/" + catalogList.cover_file)" alt="">
                            </div>    
                            <p class="conpany_name">@catalogList.company</p>
                        </a>
                    </li>
                }
            </ul>
        </section>
    </article>
</div>
@Scripts.Render("~/bundles/fancybox")

<script>
    $(function () {
        init();
    })

    function init() {
        $(".fancybox").fancybox({
            width: 600,
            height: 300,
            type: 'iframe'
        });
        $("#deleteLink").click(function () {
            if (confirm("是否確認要刪除")) {
                $("#deleteForm").submit();
            }
        });
    }
</script>