@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.User_ViewModel

@{
    ViewBag.Title = "News";
}
@section pagestyle{
    <link href="/stylesheets/company_info.css" rel="stylesheet" />
    @Styles.Render("~/Scripts/css/fancybox")
}

<div class="article_col1">
    @{
        Html.RenderAction("_NavSearchPartial", "User");
    }
    <article class="article_col2">
        <h2 class="borderTitle">
            企業資料庫
        </h2>
        <section class="form_box">
            <h2>@prj_BIZ_System.LanguageResource.User.lb_companytype</h2>
            <ul class="listlink col2 comicon article_col1">


                @foreach (var sortList in Model.enterprisesortList)
                {
                    if (Request.Cookies["_culture"] == null || Request.Cookies["_culture"].Value == "zh-TW")
                    {
                        <li><a href="CompanyList?sort_id=@sortList.sort_id">@sortList.enterprise_sort_id - @sortList.enterprise_sort_name</a></li>
                    }
                    else{
                        <li><a href="CompanyList?sort_id=@sortList.sort_id">@sortList.enterprise_sort_id - @sortList.enterprise_sort_name_en</a></li>
                    }

                }

            </ul>
        </section>
        <section class="form_box">
            <h2>最新型錄</h2>
            <ul class="regis_dmlist">

                @foreach (var catalogList in Model.cataloglistList)
                {
                    <li>
                        <a href="@(ViewBag.coverDir + catalogList.user_id + "/Catalog/catalog_file/" + catalogList.catalog_file)" target="_blank" class="fancybox">
                            <span>@(catalogList.catalog_name)</span>
                            <div class="regisimg">
                                <img src="@(ViewBag.coverDir + catalogList.user_id + "/Catalog/cover_file/" + catalogList.cover_file)" alt="@(catalogList.catalog_name)">
                            </div>
                            <p class="conpany_name">@(catalogList.company)</p>
                        </a>

                    </li>
                }
            </ul>
        </section>
    </article>
</div>
@Scripts.Render("~/bundles/fancybox")

<script>
    $(function () {
        init();
    })

    function init() {
        $(".fancybox").fancybox({
            width: 600,
            height: 300,
            type: 'iframe'
        });
        $("#deleteLink").click(function () {
            if(confirm("確認是否要刪除")){
                $("#deleteForm").submit();
            }
        });
    }
</script>