@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.User_ViewModel

@{
    ViewBag.Title = "Company";
}
@section pagestyle{
    <link href="~/stylesheets/company_info.css" rel="stylesheet" />
    @*@Styles.Render("~/Scripts/css/fancybox")*@
}

<div class="article_col1">
    <article class="article_col2">
        <h2 class="borderTitle">
            @prj_BIZ_System.LanguageResource.User.lb_company
        </h2>
        <section class="form_box">
            <h2>@prj_BIZ_System.LanguageResource.User.lb_scope</h2>
             <ul id="industryList">  
             <li>

                @foreach (var sortList in Model.enterprisesortList)
                {

                    var enterprise_sort_name_b = sortList.enterprise_sort_name_b;
                    var enterprise_sort_name = sortList.enterprise_sort_name;
                    var sstring="<ul class='listlink col2 comicon article_col1 industryText'>";
                    var estring="</ul>";
                    if (Request.Cookies["_culture"] != null && Request.Cookies["_culture"].Value != "zh-TW")
                    {
                        enterprise_sort_name_b = sortList.enterprise_sort_name_en_b;
                        enterprise_sort_name = sortList.enterprise_sort_name_en;
                    }

                    if (sortList.enterprise_sort_id_b.Length>1 && sortList.enterprise_sort_id_b.Substring(1,1) == "S")
                    {
                    <a href="javascript:void(0)" class="industryTitle">@sortList.enterprise_sort_id.Substring(0, 1) - @enterprise_sort_name_b</a>
                     @Html.Raw(sstring)
                    }

                    <li>
                        <a href="CompanyList?sort_id=@sortList.sort_id">@sortList.enterprise_sort_id @enterprise_sort_name </a> 
                    </li>

                    if ((sortList.enterprise_sort_id_b.Length > 1 && sortList.enterprise_sort_id_b.Substring(1,1) == "E") || (sortList.enterprise_sort_id_b.Length > 2 && sortList.enterprise_sort_id_b.Substring(2,1) == "E"))
                    {
                    @Html.Raw(estring)
                    }
                }

            </li>
            </ul>
        </section>
        <section class="form_box">
            <h2>@prj_BIZ_System.LanguageResource.User.lb_latestcatalog</h2>
            <ul class="regis_dmlist">
                @foreach (var catalogList in Model.cataloglistList)
                {
                    
                    <li>
                        <a href="@Url.Content(ViewBag.coverDir + catalogList.user_id + "/Catalog/catalog_file/" + catalogList.catalog_file)" target="_blank" class="fancybox">
                            <span>@(catalogList.catalog_name)</span>
                            <div class="regisimg">
                                <img src="@Url.Content(ViewBag.coverDir + catalogList.user_id + "/Catalog/cover_file/" + catalogList.cover_file)" alt="@(catalogList.catalog_name)">
                            </div>
                        </a>
                        <a href="~/User/UserInfo?user_id=@catalogList.user_id">@prj_BIZ_System.LanguageResource.Localization.getPropValue(Request.Cookies["_culture"], catalogList, "company") </a>

                    </li>
                }
            </ul>
        </section>
    </article>
    @{
        Html.RenderAction("_HomeLeftPartial", "Home");
    }
</div>
@*@Scripts.Render("~/bundles/fancybox")*@

<script>
    $(function () {
        init();
    })

    $(function () {
        $("#industryList a").on('click', function () {
            $(this).toggleClass('active');
        })
    })



    function init() {
        //$(".fancybox").fancybox({
        //    width: 600,
        //    height: 300,
        //    type: 'iframe'
        //});
        $("#deleteLink").click(function () {
            if (confirm("@prj_BIZ_System.LanguageResource.User.lb_deleteornot")) {
                $("#deleteForm").submit();
            }
        });
    }
</script>