@using prj_BIZ_System.Models

@{
    ViewBag.Title = "ForgetPassword";
}

@section pagestyle{
    <link href="/stylesheets/password_edit.css" rel="stylesheet" />
}
<div class="article_col1">
    @*@{
        Html.RenderAction("_NavSearchPartial", "User");
    }*@
    <article class="article_col2">
        <form id="form" action="@Url.Action("ReSetPassword","Home")" class="form_box" method="post">
            <h2>@prj_BIZ_System.LanguageResource.User.lb_forget_pw</h2>
            <p>@prj_BIZ_System.LanguageResource.User.lb_ifforgetpw
            </p>
            <ul class="loginbox">
                <li>
                    <label for="">@prj_BIZ_System.LanguageResource.User.lb_user_id:</label>
                    <input type="text" name="user_id" text="">  
                    <span class="fontRed" id="msg1"></span><br>
                </li>
                <li>
                    <label for="">E-mail:</label>
                    <input type="email" name="email" text="">  
                    <span class="fontRed" id="msg2"></span><br>
                </li>

            </ul>
            <div class="centerbox">
                <button class="buinfor" type="submit">@prj_BIZ_System.LanguageResource.User.lb_submit_sure</button>
            </div>
        </form>
    </article>
</div>

<script>
    $(function() {

        $("#form").submit(function () {
            var user_id = $("input[name='user_id']").val();
            var email = $("input[name='email']").val();
            var errMsg = checkValidationOk(user_id, email);
            if (errMsg != '') {
//                alert(errMsg);
                return false;
            }
        });

    });

    function checkValidationOk(user_id, email) {
        var errMsg1 = '';
        var errMsg2 = '';
        if (user_id == null || user_id == '') {
            errMsg1 = '@prj_BIZ_System.LanguageResource.User.lb_account_is_empty\n';
        }
        if (email == null || email == '') {
            errMsg2 = '@prj_BIZ_System.LanguageResource.User.lb_email_is_empty\n';
        }
        $("#msg1").html(errMsg1);
        $("#msg2").html(errMsg2);
        return errMsg1 + errMsg2;
    }
</script>