@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Index_ViewModel

@{
    ViewBag.Title = "Index";
}
@section pagestyle{
    <link href="/stylesheets/index.css" rel="stylesheet" />
}


<main>
    <div class="article_col1">
        <form action="CompanyList" class="searchbox indexsearch">
            <input type="text" name="companyName" placeholder="@prj_BIZ_System.LanguageResource.User.lb_companyname">
            <select name="sort_id" id="">
                <option value="">@prj_BIZ_System.LanguageResource.User.lb_scope</option>

                @foreach (var sortList in Model.enterprisesortList)
                {
                    if (Request.Cookies["_culture"] == null || Request.Cookies["_culture"].Value == "zh-TW")
                    {
                        <option value="@sortList.sort_id">@sortList.enterprise_sort_name</option>
                    }
                    else
                    {
                        <option value="@sortList.sort_id">@sortList.enterprise_sort_name_en</option>
                    }
                }
            </select>
            <button class="searchbox_submit" type="submit"> @prj_BIZ_System.LanguageResource.User.lb_search </button>
        </form>
        <aside>
            <div class="newcom">
                <h3>@prj_BIZ_System.LanguageResource.User.lb_latest_company</h3>
                <ul class="listlink comicon">
                    @{
                        var company = "";
                        foreach (var userList in Model.userinfoList)
                        {
                            company = userList.company;
                            if (Request.Cookies["_culture"] != null && Request.Cookies["_culture"].Value != "zh-TW")
                            {
                                if (userList.company_en != null && userList.company_en != "")
                                {
                                    company = userList.company_en;
                                }
                            }
                            <li><a href="/User/UserInfo?user_id=@userList.user_id">@company</a></li>
                        }
                    }
                </ul>
            </div>

        </aside>
        <article class="article_col2">
            <div class="newsbox">
                <div class="newsboxTitle">
                    <h3>@prj_BIZ_System.LanguageResource.User.lb_latest_activity</h3>
                    <a href="Activity">More</a>
                </div>
                <img src="/images/index_pic.jpg" alt="" class="newsboximg01">
                <ul class="newsboxList01 listlink dmicon">
                @{
                    int i = 0;
                    int j = 0;
                    var activity_name = "";
                    foreach (var activityList in Model.activityinfoList)
                    {
                        i = i + 1;
                        activity_name = activityList.activity_name;

                        if (Request.Cookies["_culture"] != null && Request.Cookies["_culture"].Value != "zh-TW")
                        {
                            if (activityList.activity_name_en != null && activityList.activity_name_en != "")
                            {
                                activity_name = activityList.activity_name_en;
                            }
                        }

                    <li>
                        <a href="/Activity/ActivityInfo?Id=@activityList.activity_id">
                            <span>@activityList.starttime.ToString("yyyy-MM-dd")</span>
                            @activity_name
                        </a>
                    </li>
                    }
                    for (j = i; j < 6; j++)
                    {
                        <br></br>
                    }
                }
                </ul>

            </div>
            <div class="newsbox">
                <div class="newsboxTitle">
                    <h3>@prj_BIZ_System.LanguageResource.User.lb_latest_activitynews</h3>
                    <a href="News">More</a>
                </div>

                <ul class="newsboxList02 listlink dmicon">
                @foreach (var newsList in Model.newsList)
                {
                    <li>
                        <a href="NewsView?Id=@newsList.news_no">@newsList.news_title</a>
                    </li>
                }
                </ul>
            </div>

@*
            <div class="newsbox">
                <div class="newsboxTitle">
                    <h3>最新型錄</h3>
                    <a href="">More</a>
                </div>
                <ul class="newsboxList02 listlink dmicon">

                    @foreach (var catalogList in Model.cataloglistList)
                    {
                        <li>
                            <a href="@(ViewBag.coverDir + catalogList.user_id + "/Catalog/catalog_file/" + catalogList.catalog_file)" target="_blank" class="fancybox">
                                <span>@(catalogList.catalog_name)</span>
                                <div class="regisimg">
                                    <img src="@(ViewBag.coverDir + catalogList.user_id + "/Catalog/cover_file/" + catalogList.cover_file)" alt="@(catalogList.catalog_name)">
                                </div>
                                <p class="conpany_name">@(catalogList.company)</p>
                            </a>

                        </li>
                    }
                </ul>
            </div>
*@

</article>
    </div>
</main>