@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Index_ViewModel

@{
    ViewBag.Title = "Index";
}
@section pagestyle{
    <link href="/stylesheets/index.css" rel="stylesheet" />
}


<main>
    <div class="article_col1">
        <form action="CompanyList" class="searchbox indexsearch">
            <input type="text" name="companyName" placeholder="公司名">
            <select name="sort_id" id="">
                <option value="">@prj_BIZ_System.LanguageResource.User.lb_companytype</option>

                @foreach (var sortList in Model.enterprisesortList)
                {
                    if (Request.Cookies["_culture"] == null || Request.Cookies["_culture"].Value == "zh-TW")
                    {
                        <option value="@sortList.sort_id">@sortList.enterprise_sort_name</option>
                    }
                    else
                    {
                        <option value="@sortList.sort_id">@sortList.enterprise_sort_name_en</option>
                    }
                }
            </select>
            <button class="searchbox_submit" type="submit"> 搜尋 </button>
        </form>
        <aside>
            <div class="newcom">
                <h3>最新上架企業</h3>
                <ul class="listlink comicon">
                @foreach (var userList in Model.userinfoList)
                {
                    <li><a href="/User/UserInfo?user_id=@userList.user_id">@userList.company</a></li>
                }
                </ul>
            </div>

        </aside>
        <article class="article_col2">
            <div class="newsbox">
                <div class="newsboxTitle">
                    <h3>最新活動</h3>
                    <a href="Activity">More</a>
                </div>
                <img src="/images/index_pic.jpg" alt="" class="newsboximg01">
                <ul class="newsboxList01 listlink dmicon">
                @{
                    int i = 0;
                    int j = 0;
                    foreach (var activityList in Model.activityinfoList)
                    {
                        i = i + 1;
                    <li>
                        <a href="/Activity/ActivityInfo?Id=@activityList.activity_id">
                            <span>@activityList.starttime.ToString("yyyy-MM-dd")</span>
                            @activityList.activity_name
                        </a>
                    </li>
                    }
                    for (j = i; j < 6; j++)
                    {
                        <br></br>
                    }
                }
                </ul>

            </div>
            <div class="newsbox">
                <div class="newsboxTitle">
                    <h3>最新新聞</h3>
                    <a href="News">More</a>
                </div>

                <ul class="newsboxList02 listlink dmicon">
                @foreach (var newsList in Model.newsList)
                {
                    <li>
                        <a href="NewsView?Id=@newsList.news_no">@newsList.news_title</a>
                    </li>
                }
                </ul>
            </div>
        </article>
    </div>
</main>