@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Index_ViewModel

@{
    ViewBag.Title = "Index";
}
@section pagestyle{
    <link href="~/stylesheets/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Scripts/bxslider/jquery.bxslider.css">
    <link href="http://code.jquery.com/ui/1.11.4/themes/hot-sneaks/jquery-ui.css" rel="stylesheet">
    @Styles.Render("~/Scripts/css/fancybox")
}

    <div class="article_col1">

        <article class="article_col2">
            <div class="boxtest mg30">
                <ul class="bxslider">
                    <li><img src="~/images/banner01-min.jpg" /></li>
                    <li><img src="~/images/banner02-min.jpg" /></li>
                    <li><img src="~/images/banner03-min.jpg" /></li>
                </ul>
            </div>

            <div class="newsbox mg30">
                <div class="newsboxTitle">
                    <h3>@prj_BIZ_System.LanguageResource.User.lb_latest_activitynews</h3>
                    <a href="~/Home/News">More</a>
                </div>

                <ul class="newsboxList02">
                    @foreach (var newsList in Model.newsList)
                    {
                        string aa = "news_newspage";
                        string bb = prj_BIZ_System.LanguageResource.User.lb_news;

                        if (newsList.news_type == "0")
                        {
                            aa = "news_activity";
                            bb = prj_BIZ_System.LanguageResource.User.lb_activities;
                        }

                        <li>
                            <a href="~/Home/NewsView?Id=@newsList.news_no" class=@aa>
                                <span>@bb</span>
                                @newsList.news_title
                            </a>
                        </li>
                    }
                </ul>

            </div>


            <div class="mg30">
                <div class="newsboxTitle">
                    <h3>@prj_BIZ_System.LanguageResource.User.lb_latestcatalog</h3>
                    <!--<a href="">More</a>-->
                </div>
                <ul class="regis_dmlist">

                    @foreach (var catalogList in Model.cataloglistList)
                    {
                        var company = catalogList.company;
                        if (Request.Cookies["_culture"] != null && Request.Cookies["_culture"].Value != "zh-TW")
                        {
                            if (catalogList.company_en != null && catalogList.company_en != "")
                            {
                                company = catalogList.company_en;
                            }
                        }

                        <li>
                            <a href="@Url.Content(ViewBag.coverDir + catalogList.user_id + "/Catalog/catalog_file/" + catalogList.catalog_file)" target="_blank" class="fancybox">
                                <!--<span>@(catalogList.catalog_name)</span>-->
                                <div class="regisimg">
                                    <img src="@Url.Content(ViewBag.coverDir + catalogList.user_id + "/Catalog/cover_file/" + catalogList.cover_file)" alt="@(catalogList.catalog_name)">
                                </div>
                            </a>
                            <a href="~/User/UserInfo?user_id=@catalogList.user_id">@company </a>

                        </li>
                    }
                </ul>
            </div>

            <div class="mg30">
                <div class="newsboxTitle">
                    <h3>@prj_BIZ_System.LanguageResource.User.lb_activitypic</h3>
                </div>
                <ul class="newsphoto">

                    @foreach (var photoList in Model.activityphotoList)
                    {
                        var brief = photoList.photo_brief;
                        if (Request.Cookies["_culture"] != null && Request.Cookies["_culture"].Value != "zh-TW")
                        {
                            if (photoList.photo_brief_en != null && photoList.photo_brief_en != "")
                            {
                                brief = photoList.photo_brief_en;
                            }
                        }
                        <li>
                            <div class="photoimg">
                                @*<img src="~/images/index_sample_pic01.jpg" alt="">*@
                                <img src="@(string.IsNullOrEmpty(photoList.photo_pic_site)?UploadHelper.defaultImgSmall:Url.Content(ViewBag.coverDir + photoList.manager_id + "/Activity/" + photoList.photo_pic_site))" alt="">
                            </div>
                            <span>@photoList.photo_time.ToString("yyyy-MM-dd") </span>
                            <p>@brief</p>
                        </li>
                    }

                </ul>
            </div>
        </article>
        @{
            Html.RenderAction("_HomeLeftPartial", "Home");
        }
    </div>
<div id="dialog" title=@prj_BIZ_System.LanguageResource.User.lb_msg style="display:none;">
    <p>
        <span class="instext"></span><br />
    </p>
</div>


@Scripts.Render("~/bundles/fancybox")

<script type="text/javascript" src="~/Scripts/regis.js"></script>
<script type="text/javascript" src="~/Scripts/bxslider/jquery.bxslider.min.js"></script>
<script type="text/javascript"
        src="~/Scripts/jquery-ui-1.10.2.min.js">
</script>

<script type="text/javascript" language="javascript">

    $(function () {
        init();

         @if (!string.IsNullOrEmpty((string)TempData["userpw_errMsg"]))
        {
            <text>
            function check() {
                var pw_errMsg = '@TempData["userpw_errMsg"]';
                if (pw_errMsg != ''){
//                   alert(pw_errMsg);
                    $("#dialog").dialog({
                        autoOpen: true,
                        modal: true,
                        buttons: {
                            "@prj_BIZ_System.LanguageResource.User.lb_ok": function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                    $(".instext").text(pw_errMsg);
                }
            }
             check();
            </text>
        }

         @if (!string.IsNullOrEmpty((string)TempData["MailValidateResult"]))
        {
            <text>
            function check1() {
                var MailValidateResult = '@TempData["MailValidateResult"]';
                if (MailValidateResult != '') {
//                    alert(MailValidateResult);
                    $("#dialog").dialog({
                        autoOpen: true,
                        modal: true,
                        buttons: {
                            "@prj_BIZ_System.LanguageResource.User.lb_ok": function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                    $(".instext").text(MailValidateResult);
             }
         }
             check1();
        </text>
    }

    });

    function init() {
        $(".fancybox").fancybox({
            width: 600,
            height: 300,
            type: 'iframe'
        });
    }

		$(document).ready(function() {
			$('.bxslider').bxSlider({
			  auto: true,
			  controls: false
			});
		})
</script>
