@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Index_ViewModel

@{
    ViewBag.Title = "Index";
}
@section pagestyle{
    <link href="/stylesheets/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Scripts/bxslider/jquery.bxslider.css">
    @Styles.Render("~/Scripts/css/fancybox")
}

    <div class="article_col1">

        <article class="article_col2">
            <div class="boxtest mg30">
                <ul class="bxslider">
                    <li><img src="/images/banner01-min.jpg" /></li>
                    <li><img src="/images/banner02-min.jpg" /></li>
                    <li><img src="/images/banner03-min.jpg" /></li>
                </ul>
            </div>

            <div class="newsbox mg30">
                <div class="newsboxTitle">
                    <h3>@prj_BIZ_System.LanguageResource.User.lb_latest_activitynews</h3>
                    <a href="/Home/News">More</a>
                </div>

                <ul class="newsboxList02">
                    @foreach (var newsList in Model.newsList)
                    {
                        string aa = "news_newspage";
                        string bb = prj_BIZ_System.LanguageResource.User.lb_news;

                        if (newsList.news_type == "0")
                        {
                            aa = "news_activity";
                            bb = prj_BIZ_System.LanguageResource.User.lb_activities;
                        }

                        <li>
                            <a href="/Home/NewsView?Id=@newsList.news_no" class=@aa>
                                <span>@bb</span>
                                @newsList.news_title
                            </a>
                        </li>
                    }
                </ul>

            </div>


            <div class="mg30">
                <div class="newsboxTitle">
                    <h3>最新上架型錄</h3>
                    <a href="">More</a>
                </div>
                <ul class="regis_dmlist">

                    @foreach (var catalogList in Model.cataloglistList)
                    {
                        <li>
                            <a href="@(ViewBag.coverDir + catalogList.user_id + "/Catalog/catalog_file/" + catalogList.catalog_file)" target="_blank" class="fancybox">
                                <span>@(catalogList.catalog_name)</span>
                                <div class="regisimg">
                                    <img src="@(ViewBag.coverDir + catalogList.user_id + "/Catalog/cover_file/" + catalogList.cover_file)" alt="@(catalogList.catalog_name)">
                                </div>
                                <p class="conpany_name">@(catalogList.company)</p>
                            </a>

                        </li>
                    }
                </ul>
            </div>

            <div class="mg30">
                <div class="newsboxTitle">
                    <h3>活動照片</h3>
                </div>
                <ul class="newsphoto">
                    <li>
                        <a href="">
                            <div class="photoimg">
                                <img src="../../images/index_pic.jpg" alt="">
                            </div>
                            <span>2016-11-06</span>
                            <p>北美綠商機拓銷會</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="photoimg">
                                <img src="../../images/dmtest.jpg" alt="">
                            </div>
                            <span>2016-11-06</span>
                            <p>北美綠商機拓銷會</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="photoimg">
                                <img src="../../images/logopic.jpg" alt="">
                            </div>
                            <span>2016-11-06</span>
                            <p>北美綠商機拓銷會</p>
                        </a>
                    </li>
                </ul>
            </div>
        </article>
        @{
            Html.RenderAction("_HomeLeftPartial", "Home");
        }
    </div>

@Scripts.Render("~/bundles/fancybox")

<script type="text/javascript" src="/Scripts/regis.js"></script>
<script type="text/javascript" src="/Scripts/bxslider/jquery.bxslider.min.js"></script>

<script type="text/javascript" language="javascript">

    $(function () {
        init();

         @if (!string.IsNullOrEmpty((string)TempData["fp_errMsg"]))
        {
            <text>
            function check() {
                var pw_errMsg = '@TempData["fp_errMsg"]';
                if (pw_errMsg != ''){
                      alert(pw_errMsg);
                }
            }
             check();
            </text>
        }
        loadData();
    });

    function init() {
        $(".fancybox").fancybox({
            width: 600,
            height: 300,
            type: 'iframe'
        });
    }

    function loadData (){
        $.ajax({
            type: "GET",
            url: "@Url.Action("MailValidateResult", "Home")",
            cache: false,
        dataType: "json",
        success: function (msg) {
            if (msg != '') {
                alert(msg);
            }
        }
    });
    }

		$(document).ready(function() {
			$('.bxslider').bxSlider({
			  auto: true,
			  controls: false
			});
		})
</script>
