@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Index_ViewModel

@{
    ViewBag.Title = "Index";
}
@section pagestyle{
    <link href="/stylesheets/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Scripts/bxslider/jquery.bxslider.css">
}

    <div class="article_col1">

        <aside>
            @if (Request.Cookies["UserInfo"] == null){
            <!--login-->
                <div class="mg30 loginbox">
                    <h3>會員登入</h3>
                    <div class="login_idlist" id="tabA">
                        <a href="javascript:void(0)" title="企業會員" class="login_id login_id1 active">企</a>
                        <a href="javascript:void(0)" title="業務會員" class="login_id login_id2">業</a>
                        <a href="javascript:void(0)" title="生管會員" class="login_id login_id3">生</a>
                    </div>
                    <div class="loginfrom" id="tabbox">

                        <form id="form" action="~/Home/IdentifyUser">

                            <input type="text" name="user_id" placeholder="@prj_BIZ_System.LanguageResource.User.lb_user_id" required>
                            <input type="password" name="user_pw" placeholder="@prj_BIZ_System.LanguageResource.User.lb_password" required>

                            <button class="loginbox_submit" type="submit"> @prj_BIZ_System.LanguageResource.User.lb_login </button>
                            <a href="/User/Register?user_id=new" class="loginbox_newid">@prj_BIZ_System.LanguageResource.User.lb_newid </a>
                        </form>

                        <form id="form2" action="/Home/IdentifyUser" style="display:none">
                            <input type="text" placeholder="帳號">
                            <input type="password" placeholder="密碼">
                            <button class="loginbox_submit" type="submit"> 登入 </button>
                        </form>

                        <form id="form3" action="/Home/IdentifyUser" style="display:none">
                            <input type="text" placeholder="帳號">
                            <input type="password" placeholder="密碼">
                            <button class="loginbox_submit" type="submit"> 登入 </button>
                        </form>
                    </div>
                    <a href="javascript:void(0)" class="login_info">
                        說明
                    </a>
                    <ul class="login_infobox">
                        <li>請點擊右上按鈕選擇會員身份</li>
                        <li><span class="login_id login_id1 active">企</span>企業會員</li>
                        <li><span class="login_id login_id2 active">業</span>業務會員</li>
                        <li><span class="login_id login_id3 active">生</span>生管會員</li>
                    </ul>
                    <a href="/Home/ForgetPassword" class="loginbox_fpw">忘記密碼</a>
                </div>
            <!--login-->

            }
            else
            {
                <div class="mg30 userlist">
                    @if (HttpUtility.UrlDecode(Request.Cookies["UserInfo"]["logo_img"])!="")
                    {
                        <div class="userimg">
                            <img src="@(ViewBag.logoDir+HttpUtility.UrlDecode(Request.Cookies["UserInfo"]["logo_img"]))" alt="">
                        </div>
                    }
                    <h2>@HttpUtility.UrlDecode(Request.Cookies["UserInfo"]["company"])</h2>
                    <ul class="userfn">
                        <li><a href="company_info_edit.html">公司簡介</a></li>
                        <li><a href="company_info_edit_product.html">公司產品</a></li>
                        <li><a href="company_info_edit_dm.html">線上型錄</a></li>
                        <li><a href="company_info_edit_dm_movie.html">影音型錄</a></li>
                        <li>
                            <a href="message_companylist.html">
                                未讀訊息
                                <span class="userfnmsg">100</span>
                            </a>
                        </li>
                        <li><a href="schedule.html">活動媒合</a></li>
                    </ul>
                </div>
            }

            <div class="newsbox mg30">
                <div class="newsboxTitle2">
                    <h3>@prj_BIZ_System.LanguageResource.User.lb_latest_activity</h3>
                    <a href="Activity">More</a>
                </div>
                <ul class="newsboxList01 listlink dmicon">
                    @{
                        var activity_name = "";
                        foreach (var activityList in Model.activityinfoList)
                        {
                            activity_name = activityList.activity_name;

                            if (Request.Cookies["_culture"] != null && Request.Cookies["_culture"].Value != "zh-TW")
                            {
                                if (activityList.activity_name_en != null && activityList.activity_name_en != "")
                                {
                                    activity_name = activityList.activity_name_en;
                                }
                            }

                            <li>
                                <a href="/Activity/ActivityInfo?Id=@activityList.activity_id">
                                    <span>@activityList.starttime.ToString("yyyy-MM-dd")</span>
                                    @activity_name
                                </a>
                            </li>
                        }
                    }


                </ul>
            </div>

            <div class="searchdiv mg30">
                <div class="newsboxTitle2">
                    <h3>企業資料庫搜尋</h3>
                </div>
                <form action="CompanyList" class="indexsearch">
                    <select name="searchbox" id="searchbox">
                        <option value="searchname">搜尋:公司名稱</option>
                        <option value="searchtype">搜尋:產業類別</option>
                    </select>
                    <input type="text" id="searchname" name="companyName" placeholder="@prj_BIZ_System.LanguageResource.User.lb_companyname">
                    <select name="sort_id" id="searchtype" style="display:none">
                        <option value="">@prj_BIZ_System.LanguageResource.User.lb_scope</option>

                        @foreach (var sortList in Model.enterprisesortList)
                        {
                            if (Request.Cookies["_culture"] == null || Request.Cookies["_culture"].Value == "zh-TW")
                            {
                                <option value="@sortList.sort_id">@sortList.enterprise_sort_name</option>
                            }
                            else
                            {
                                <option value="@sortList.sort_id">@sortList.enterprise_sort_name_en</option>
                            }
                        }
                    </select>
                    <button class="searchbox_submit" type="submit"> @prj_BIZ_System.LanguageResource.User.lb_search </button>
                </form>
            </div>

            <div class="regis_dmlist3 mg30">
                <div class="newsboxTitle2">
                    <h3>最新影音型錄</h3>
                </div>
                <div class="centerbox2">
                    <iframe src="https://www.youtube.com/embed/82a4QvVsDAg" frameborder="0" allowfullscreen=""></iframe>
                </div>
                <p>Mars - Principles in Action</p>
            </div>
        </aside>

        <article class="article_col2">
            <div class="boxtest mg30">
                <ul class="bxslider">
                    <li><img src="/images/banner01-min.jpg" /></li>
                    <li><img src="/images/banner02-min.jpg" /></li>
                    <li><img src="/images/banner03-min.jpg" /></li>
                </ul>
            </div>

            <div class="newsbox mg30">
                <div class="newsboxTitle">
                    <h3>@prj_BIZ_System.LanguageResource.User.lb_latest_activitynews</h3>
                    <a href="/Home/News">More</a>
                </div>

                <ul class="newsboxList02">
                    @foreach (var newsList in Model.newsList)
                    {
                        string aa = "news_newspage";
                        string bb = prj_BIZ_System.LanguageResource.User.lb_news;

                        if (newsList.news_type == "0")
                        {
                            aa = "news_activity";
                            bb = prj_BIZ_System.LanguageResource.User.lb_activities;
                        }

                        <li>
                            <a href="/Home/NewsView?Id=@newsList.news_no" class=@aa>
                                <span>@bb</span>
                                @newsList.news_title
                            </a>
                        </li>
                    }
                </ul>

            </div>


            <div class="mg30">
                <div class="newsboxTitle">
                    <h3>最新上架型錄</h3>
                    <a href="">More</a>
                </div>
                <ul class="regis_dmlist">

                    @foreach (var catalogList in Model.cataloglistList)
                    {
                        <li>
                            <a href="@(ViewBag.coverDir + catalogList.user_id + "/Catalog/catalog_file/" + catalogList.catalog_file)" target="_blank" class="fancybox">
                                <span>@(catalogList.catalog_name)</span>
                                <div class="regisimg">
                                    <img src="@(ViewBag.coverDir + catalogList.user_id + "/Catalog/cover_file/" + catalogList.cover_file)" alt="@(catalogList.catalog_name)">
                                </div>
                                <p class="conpany_name">@(catalogList.company)</p>
                            </a>

                        </li>
                    }
                </ul>
            </div>

            <div class="mg30">
                <div class="newsboxTitle">
                    <h3>活動照片</h3>
                </div>
                <ul class="newsphoto">
                    <li>
                        <a href="">
                            <div class="photoimg">
                                <img src="../../images/index_pic.jpg" alt="">
                            </div>
                            <span>2016-11-06</span>
                            <p>北美綠商機拓銷會</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="photoimg">
                                <img src="../../images/dmtest.jpg" alt="">
                            </div>
                            <span>2016-11-06</span>
                            <p>北美綠商機拓銷會</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="photoimg">
                                <img src="../../images/logopic.jpg" alt="">
                            </div>
                            <span>2016-11-06</span>
                            <p>北美綠商機拓銷會</p>
                        </a>
                    </li>
                </ul>
            </div>

        </article>
    </div>

<script type="text/javascript" src="/Scripts/regis.js"></script>
<script type="text/javascript" src="/Scripts/bxslider/jquery.bxslider.min.js"></script>

<script type="text/javascript" language="javascript">
    $(function () {
         @if (!string.IsNullOrEmpty((string)TempData["fp_errMsg"]))
        {
            <text>
            function check() {
                var pw_errMsg = '@TempData["fp_errMsg"]';
                if (pw_errMsg != ''){
                      alert(pw_errMsg);
                }
            }
             check();
            </text>
        }
        loadData();
    });

    function loadData (){
        $.ajax({
            type: "GET",
            url: "@Url.Action("MailValidateResult", "Home")",
            cache: false,
        dataType: "json",
        success: function (msg) {
            if (msg != '') {
                alert(msg);
            }
        }
    });
    }



		$(document).ready(function() {
			$("#searchbox").on('change',function(){
				var selects = $("select option:selected").val();
				if(selects == 'searchname'){
					$("#searchname").show();
					$("#searchtype").hide();
					$("#searchtype").val('');

				}else if(selects == 'searchtype'){
					$("#searchname").hide();
					$("#searchtype").show();
					$("#searchname").val('');
                }

			});
			$('.bxslider').bxSlider({
			  auto: true,
			  controls: false
			});

			$("#tabA").on('click','a',function(){
				var index = $("#tabA a").index(this);
				var formbox = $("#tabbox form")[index];
				$("#tabA a").removeClass('active');
				$(this).addClass('active');
				$("#tabbox form").hide();
				$("#tabbox").find(formbox).show();
			})

		})
</script>
