@{
    ViewBag.Title = "Login";
}

@section pagestyle{
    <link href="/stylesheets/login.css" rel="stylesheet" />
}

<div class="loginbox">
    <form id="form" action="~/Home/IdentifyUser">
        <ul class="loginboxR">
            <li>
                <label for="">@prj_BIZ_System.LanguageResource.User.lb_user_id:</label>
                <input type="text" name="user_id" text=""><br>
            </li>
            <li>
                <label for="">@prj_BIZ_System.LanguageResource.User.lb_password:</label>
                <input type="text" name="user_pw" text=""><br>
            </li>
            <li>
            <span class="fontRed" id="msg"></span>
            </li>
            <li>
                <a href="/Home/ForgetPassword" class="loginbox_fpw">@prj_BIZ_System.LanguageResource.User.lb_forget_pw</a>
            </li>
        </ul>
        <button class="loginbox_submit" type="submit"> @prj_BIZ_System.LanguageResource.User.lb_login </button>
    </form>
    
    <a href="/User/Register?user_id=new" class="loginbox_newid">@prj_BIZ_System.LanguageResource.User.lb_newid </a>

</div>

<script>

    $(function () {
        loadData();

    });

    @*function render(){
        @{
            var jsonString = "{orderID: 12345,Name:\"測試資料\"}";

            <text>
                var UpdateRender = function(){
                    $.each(userSortList,function(index,el){
                        //                        $("input[name='sort_id'][value='"+el.sort_id+"']").prop("checked",true);
                        alert(el);
                        $("#label1").html(el);
                    });
                };
                var userSortList = @Html.Raw(jsonString);
        alert(userSortList.Name);
            UpdateRender();
            </text>
        }
    }*@


    function loadData (){
        $.ajax({
            type: "GET",
            url: "@Url.Action("MailValidateResult", "Home")",
            cache: false,
            dataType: "json",
            success: function (msg) {
                if (msg != '') {
                    alert(msg);
                }
            }
        });
    }

    $(function() {
         @if (!string.IsNullOrEmpty((string)TempData["pw_errMsg"]))
        {
            <text>
            function check() {
                var pw_errMsg = '@TempData["pw_errMsg"]';
                if (pw_errMsg != '')
         {
                      $("#msg").html(pw_errMsg);
         }
         }
             check();
        </text>
    }

        $("#form").submit(function () {
            var user_id = $("input[name='user_id']").val();
            var user_pw = $("input[name='user_pw']").val();
            if (user_id == '' && user_pw == '') {
                $("#msg").html("@prj_BIZ_System.LanguageResource.User.lb_accountpw_empty");
            return false;
        }
            else if (user_id == '') {
                $("#msg").html("@prj_BIZ_System.LanguageResource.User.lb_account_is_empty");
            return false;
        }
            else if (user_pw == '') {
                $("#msg").html("@prj_BIZ_System.LanguageResource.User.lb_pw_is_empty");
            return false;
        }
    });

    });


</script>