@{
    ViewBag.Title = "Verification";

    string name= Request["name"];
    string email= Request["email"];
    string user_id = Request["user_id"];
}


@section pagestyle{
    <link href="~/stylesheets/verification.css" rel="stylesheet" />
}
<main>
    <div class="form_box w600">
        <h2>@prj_BIZ_System.LanguageResource.User.lb_memberok</h2>
        <p>
            @name @prj_BIZ_System.LanguageResource.User.lb_hello<br/>
            @prj_BIZ_System.LanguageResource.User.lb_sendmail (@email)，
            @prj_BIZ_System.LanguageResource.User.lb_verifacationletter
        </p>
        <div class="centerbox">
            <a href="ReAccountMailValidate?user_id=@user_id&name=@name&email=@email" class="submitbuOr" onclick="tipstring()">重發驗證信</a>
            <p>
                <span class="fontRed" id="msg"></span>
            </p>
        </div>
</div>
</main>

<script>
    $(function() {
        @if (!string.IsNullOrEmpty((string)TempData["remail_Msg"]))
        {
            <text>
        function check() {
            var remail_Msg = '@TempData["remail_Msg"]';
            if (remail_Msg != '')
        {
                $("#msg").html(remail_Msg);
        }
        }
            check();
        </text>
    }
    }
    )

    function tipstring() {
        $("#msg").html('');
    }

</script>