@model prj_BIZ_System.Models.Activity_ViewModel

@{
    ViewBag.Title = "ActivityInfo";
}

@section pagestyle{
    <link href="~/stylesheets/news.css" rel="stylesheet" />
    <link href="~/stylesheets/sys.css" rel="stylesheet" />
}

@Styles.Render("~/Content/jqueryUI")

<div class="article_col1">
    <article class="article_col2">

        <h2 class="borderTitle">@prj_BIZ_System.LanguageResource.User.lb_activityinfo</h2>

        @{
            string activity_type_chk = "";
            string seller_select_chk = "";
            string matchmaking_select_chk = "";
            string activity_name = "";
            string addr = "";
            string organizer = "";
            if (Model.activityinfo.activity_type == "0")
            {
                activity_type_chk = @prj_BIZ_System.LanguageResource.User.lb_tradeshow;
            }
            else
            {
                activity_type_chk = @prj_BIZ_System.LanguageResource.User.lb_bizexploremisson;
            }
            if (Model.activityinfo.seller_select == "0")
            {
                seller_select_chk = @prj_BIZ_System.LanguageResource.User.lb_no;
            }
            else
            {
                seller_select_chk = @prj_BIZ_System.LanguageResource.User.lb_yes;
            }
            if (Model.activityinfo.matchmaking_select == "0")
            {
                matchmaking_select_chk = @prj_BIZ_System.LanguageResource.User.lb_no;
            }
            else
            {
                matchmaking_select_chk = @prj_BIZ_System.LanguageResource.User.lb_yes;
            }

            activity_name = prj_BIZ_System.LanguageResource.Localization.getPropValue(Request.Cookies["_culture"], Model.activityinfo, "activity_name");
            addr = prj_BIZ_System.LanguageResource.Localization.getPropValue(Request.Cookies["_culture"], Model.activityinfo, "addr");
            organizer = prj_BIZ_System.LanguageResource.Localization.getPropValue(Request.Cookies["_culture"], Model.activityinfo, "organizer");

        }

         <ul class="news_content_list">
            <li>@prj_BIZ_System.LanguageResource.User.lb_activitytype: <span class="contentspan">@activity_type_chk</span> </li>
            <li>@prj_BIZ_System.LanguageResource.User.lb_activity_name: <span class="contentspan">@activity_name</span></li>
            <li>@prj_BIZ_System.LanguageResource.User.lb_activity_period: <span class="contentspan">@Model.activityinfo.starttime.ToString("yyyy/MM/dd tt hh:mm") ~ @Model.activityinfo.endtime.ToString("yyyy/MM/dd tt hh:mm")</span></li>
            <li>@prj_BIZ_System.LanguageResource.User.lb_activity_site: <span class="contentspan">@addr</span></li>
            <li>@prj_BIZ_System.LanguageResource.User.lb_organizer: <span class="contentspan">@organizer</span></li>
            <li>@prj_BIZ_System.LanguageResource.User.lb_contactman: <span class="contentspan">@Model.activityinfo.name</span></li>
            <li>@prj_BIZ_System.LanguageResource.User.lb_phone_no: <span class="contentspan">@Model.activityinfo.phone</span></li>
            <li>@prj_BIZ_System.LanguageResource.User.lb_email: <span class="contentspan">@Model.activityinfo.email</span></li>
<!--
            <li>商務對接: @seller_select_chk                    媒合時程: @matchmaking_select_chk</li>
-->
        </ul>
        <div class="centerbox">
            @if (Model.activityregister == null)
            {
//                if (Model.buyerinfo == null && new TimeSpan(Model.activityinfo.starttime.Ticks - DateTime.Now.Ticks).TotalHours > 24)
                if (Model.buyerinfo == null && new TimeSpan(Model.activityinfo.endtime.Ticks - DateTime.Now.Ticks).TotalHours > 0)
                {
                    if (Request.Cookies["UserInfo"] != null)
                    {
                        <a href="~/Activity/EditActivityRegister?activity_id=@Model.activityinfo.activity_id" class="submitbuRed">@prj_BIZ_System.LanguageResource.User.lb_signup_me</a>
                    }
                    else
                    {
                        <a id="checkmember" href="javascript:void(0)" class="submitbu">@prj_BIZ_System.LanguageResource.User.lb_signup_me</a>
                    }
                }
            }
            else if (Model.activityregister.manager_check == "0")
            {
                <a href="~/Activity/EditActivityRegister?register_id=@Model.activityregister.register_id&activity_id=@Model.activityinfo.activity_id" class="submitbuRed">@prj_BIZ_System.LanguageResource.User.lb_underreview</a>
                <a href="~/Activity/EditActivityRegisterDelete?activity_id=@Model.activityinfo.activity_id" class="submitbuRed">@prj_BIZ_System.LanguageResource.User.lb_cancel</a>
            }
            else
            {
                <a href="~/Activity/EditActivityRegister?register_id=@Model.activityregister.register_id&activity_id=@Model.activityinfo.activity_id" class="submitbuRed">@prj_BIZ_System.LanguageResource.User.lb_audited</a>
            }
            <a href="~/Activity/BuyerInfoActivity?Id=@Model.activityinfo.activity_id" class="buinfor">@prj_BIZ_System.LanguageResource.User.lb_buyerinfo</a>
         </div>
    </article>
    @{
        Html.RenderAction("_HomeLeftPartial", "Home");
    }


</div>
<div id="dialog" title=@(prj_BIZ_System.LanguageResource.User.lb_activityregister) style="display:none;">
    <p>
        <span class="instext"></span><br />
    </p>
</div>

<script type="text/javascript"
        src="~/Scripts/jquery-ui-1.10.2.min.js">
</script>

<script type="text/javascript" language="javascript">

    $("#checkmember").click(function (e) {
        //       alert("報名必須註冊會員，如果是會員請至首頁<<會員登入>>，如尚未加入會員，請至首頁<<創建新帳號>>加入會員!!");
        $("#dialog").dialog({
            autoOpen: true,
            modal: true,
            buttons: {
                @(prj_BIZ_System.LanguageResource.User.lb_yes): function () {
                    window.location = "/Home/Index";
                    event.returnValue = false; //需要加上這行 Why??
                    //window.open(url); //如果是開窗就不用加 event.returnValue = false;
                    $(this).dialog("close");
                },
                @(prj_BIZ_System.LanguageResource.User.lb_no): function () {
                    $(this).dialog("close");
                }
            }
        });
        $(".instext").text("@prj_BIZ_System.LanguageResource.User.lb_backlogin_a");

    });



</script>
