@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Activity_ViewModel

@{
    ViewBag.Title = "新聞列表";
}

<article class="form_box article_col1">
    <h2>新聞列表</h2>
    <table class="edittable">
        <tr>
            <th>新聞編號</th>
            <th>建立帳號</th>
            <th>新聞標題</th>
            <th>發布日期</th>
            <th>新聞類型</th>
            <th>活動編號</th>
            <th>活動連結</th>
            <th>內容</th>
            <th></th>
        </tr>
        @foreach (NewsModel newsModel in Model.newsList)
            {
            <tr>
                <td>@newsModel.news_no</td>
                <td>@newsModel.manager_id</td>
                <td>@newsModel.news_title</td>
                <td>@newsModel.news_date</td>
                <td>@newsModel.news_type</td>
                <td>@newsModel.activity_id</td>
                @if (newsModel.website == null){
                    <td>@newsModel.website</td>
                }
                else {
                    <td>
                        @if (newsModel.website.IndexOf("http", StringComparison.OrdinalIgnoreCase) >= 0){
                            <a href="@newsModel.website" target="_blank">@newsModel.website</a>
                        }
                        else {
                            <a href="http://@newsModel.website" target="_blank">@newsModel.website</a>
                        }
                    </td>
                }

                <td>@newsModel.content</td>
                <td>
                    @if (newsModel.news_type == "0")
                    {
                        <a href="/Activity/EditNewsActivity?Id=@newsModel.news_no" class="editbu">修改</a>
                            <a href="/Activity/EditNewsActivityDelete?Id=@newsModel.news_no" class="deletebu">刪除</a>
                    }
                    else {
                        <a href="/Activity/EditNewsInfo?Id=@newsModel.news_no" class="editbu">修改</a>
                            <a href="/Activity/EditNewsInfoDelete?Id=@newsModel.news_no" class="deletebu">刪除</a>
                    }
                </td>
            </tr>
        }
    </table>

    <div class="centerbox">
        <a href="/Activity/EditNewsActivity" class="submitbu">新增活動訊息</a>
        <a href="/Activity/EditNewsInfo" class="submitbu">新增新聞訊息</a>
    </div>
</article>
