@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Activity_ViewModel


@{
    ViewBag.Title = prj_BIZ_System.LanguageResource.User.lb_buyerinfo + @prj_BIZ_System.LanguageResource.User.lb_list;
}
<div class="article_col1">

    <article class="form_box article_col2">
        <h2>@(prj_BIZ_System.LanguageResource.User.lb_buyerinfo + @prj_BIZ_System.LanguageResource.User.lb_list)</h2>
        <table class="edittable">
            <tr>
                @*<th>買主帳號</th>*@
                <th>@(prj_BIZ_System.LanguageResource.User.lb_companyname)</th>
                <th width="75%">@(prj_BIZ_System.LanguageResource.User.lb_buyerneed)</th>
            </tr>
            @foreach (BuyerInfoModel buyerInfoModel in Model.buyerinfoList)
            {
                var company = buyerInfoModel.company;
                if (Request.Cookies["_culture"] != null && Request.Cookies["_culture"].Value != "zh-TW")
                {
                    if (buyerInfoModel.company_en != null && buyerInfoModel.company_en != "")
                    {
                        company = buyerInfoModel.company_en;
                    }
                }

                <tr>
                    @*<td><a href="/User/UserInfo?user_id=@buyerInfoModel.buyer_id">@buyerInfoModel.buyer_id</a></td>*@
                    <td><a href="/User/UserInfo?user_id=@buyerInfoModel.buyer_id">@company</a></td>
                    <td>@buyerInfoModel.buyer_need</td>
                </tr>
            }
        </table>

    </article>
    @{
        Html.RenderAction("_HomeLeftPartial", "Home");
    }
</div>
