@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Activity_ViewModel
@section pagestyle{
    <link href="~/stylesheets/sys.css" rel="stylesheet" />
}
@Styles.Render("~/Content/jqueryUI")
@{
    ViewBag.Title = prj_BIZ_System.LanguageResource.User.lb_buyerinfo + @prj_BIZ_System.LanguageResource.User.lb_list;
}
<div class="article_col1">
    <article class="article_col2">
        <h2 class="borderTitle2">@prj_BIZ_System.LanguageResource.User.lb_buyerinfo@prj_BIZ_System.LanguageResource.User.lb_list</h2>

        @foreach (BuyerInfoModel buyerInfoModel in Model.buyerinfoList)
        {
            <div class="form_box panelbox">
                <h2 class="panelTitle">@prj_BIZ_System.LanguageResource.Localization.getPropValue(Request.Cookies["_culture"], buyerInfoModel, "company")</h2>
                <label for="" class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_estimated_amount</label>
                <span class="regis_col02R contentspan">@buyerInfoModel.estimated_purchasing_now</span>
                <label for="" class="regis_col02L">@(prj_BIZ_System.LanguageResource.User.lb_buyerneed)</label>
                <p class="regis_col02R contentspan">
                    @prj_BIZ_System.LanguageResource.Localization.getPropValue(Request.Cookies["_culture"], buyerInfoModel, "buyer_need")
                </p>
                <label for="" class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_coverage</label>
                <p class="regis_col02R contentspan">
                    @prj_BIZ_System.LanguageResource.Localization.getPropValue(Request.Cookies["_culture"], buyerInfoModel, "distribution")
                </p>
                <label for="" class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_items</label>
                <p class="regis_col02R contentspan">
                    @prj_BIZ_System.LanguageResource.Localization.getPropValue(Request.Cookies["_culture"], buyerInfoModel, "items")
                </p>
                <div class="centerbox">
                    <a href="~/User/UserInfo?user_id=@buyerInfoModel.buyer_id" class="panelSubmitBu" target="_blank">@prj_BIZ_System.LanguageResource.User.lb_companybrief </a>
                </div>
            </div>
        }
        @Html.PagesList((List<PageList<prj_BIZ_System.Models.BuyerInfoModel>>)ViewData["PageList"])

    </article>
    @{
        Html.RenderAction("_HomeLeftPartial", "Home");
    }
</div>
