@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Activity_ViewModel

@{
    ViewBag.Title = prj_BIZ_System.LanguageResource.User.lb_activity_register;
}

@section pagestyle{
    <link href="~/stylesheets/registerd.css" rel="stylesheet" />
    @Styles.Render("~/Scripts/css/fancybox")
}

@if (ViewBag.PageType == "CreateRegister")
{

    Model.activityregister.user_info = Model.userinfo.info;
    Model.activityregister.user_info_en = Model.userinfo.info_en;
}




<div class="article_col1">
        <article class="form_box article_col2">
            <h2>@prj_BIZ_System.LanguageResource.User.lb_activity_register</h2>
            <form id="insertForm" action="@ViewBag.Action" method="post">
                <input type="hidden" name="activity_id" value="@Model.activityinfo.activity_id">
                <label for="activity_id" class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_activity_name</label>
                <p class="regis_col03R">@Model.activityinfo.activity_name</p>


                <label for="leader" class="regis_col02L ">@prj_BIZ_System.LanguageResource.User.lb_user_id</label>
                <p class="regis_col03R">@Model.activityregister.user_id</p>

                <label for="leader" class="regis_col03L">@prj_BIZ_System.LanguageResource.User.lb_companyname</label>
                <p class="regis_col03R">@Model.userinfo.company</p>


                <label for="starttime" class="regis_col02L ">@prj_BIZ_System.LanguageResource.User.lb_activity_period</label>
                <p id="starttime" class="regis_col03R">@Model.activityinfo.starttime.ToString("yyyy/MM/dd tt hh:mm")</p>

                <label for="endtime" class="regis_col03L "> ~ </label>
                <p id="endtime" class="regis_col03R">@Model.activityinfo.endtime.ToString("yyyy/MM/dd tt hh:mm")</p>

                <label for="activityAddr" class="regis_col02L ">@prj_BIZ_System.LanguageResource.User.lb_activity_site</label>
                <p id="activityAddr" class="regis_col02R">@Model.activityinfo.addr</p>


                <label for="quantity" class="regis_col02L spanRed">@prj_BIZ_System.LanguageResource.User.lb_activity_amount</label>
                <input type="text" name="quantity" value="@Model.activityregister.quantity" class="regis_col03R"><br />

                <label for="name_a" class="regis_col02L spanRed">@prj_BIZ_System.LanguageResource.User.lb_activity_participant</label>
                <input type="text" name="name_a" value="@Model.activityregister.name_a" class="regis_col03R">
                <input type="text" name="title_a" value="@Model.activityregister.title_a" class="regis_col03L" placeholder="@prj_BIZ_System.LanguageResource.User.lb_title"><br />

                <label for="name_b" class="regis_col02L spanRed">@prj_BIZ_System.LanguageResource.User.lb_contactman</label>
                <input type="text" name="name_b" value="@Model.activityregister.name_b" class="regis_col03R" required>
                <input type="text" name="title_b" value="@Model.activityregister.title_b" class="regis_col03L" placeholder="@prj_BIZ_System.LanguageResource.User.lb_title"><br />

                <label for="phone" class="regis_col02L spanRed">@prj_BIZ_System.LanguageResource.User.lb_phone_no</label>
                <input type="text" name="phone" value="@Model.activityregister.phone" class="regis_col03R" required>

                <label for="telephone" class="regis_col03L spanRed">@prj_BIZ_System.LanguageResource.User.lb_tel</label>
                <input type="text" name="telephone" value="@Model.activityregister.telephone" class="regis_col03R">

                <label for="email" class="regis_col02L spanRed">@prj_BIZ_System.LanguageResource.User.lb_email</label>
                <input type="email" name="email" value="@Model.activityregister.email" class="regis_col02R" required>

                @*
                <label for="website" class="regis_col02L">公司網址</label>
                <div class="regis_col02R">
                    <a class="linkb" href="@Model.userinfo.website" target="_block">@Model.userinfo.website</a>
                </div>
                *@

                <label class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_companybrief</label>
                <div class="regis_col02R">
                    <textarea rows="4" name="user_info">@Model.activityregister.user_info</textarea>
                </div>
                <label class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_companybrief (English)</label>
                <div class="regis_col02R">
                    <textarea rows="4" name="user_info_en">@Model.activityregister.user_info_en</textarea>
                </div>

                @*
                <label for="verticals" class="regis_col02L">產業別</label>
                <p class="regis_col02R verticalslist">
                    @foreach (EnterpriseSortAndListModel enterpriseSortAndListmodel in Model.enterprisesortandlistList)
                    {
                        @enterpriseSortAndListmodel.enterprise_sort_id @enterpriseSortAndListmodel.enterprise_sort_name <br />
                    }
                </p>
                *@
                <div class="regis_col02L">
                    <label for="" class="label01">@prj_BIZ_System.LanguageResource.User.lb_product_company</label>
                </div>
                <div class="regis_col02R">
@{
    if (Model.productsortList.Count == 0)
    {
        <label for="" class="label01">@prj_BIZ_System.LanguageResource.User.lb_nodata</label>
    }
    else
    {
                    <table class="regis_table">
                        <tr>
                            <th></th>
                            <th>@prj_BIZ_System.LanguageResource.User.lb_product_name</th>
                            <th>@prj_BIZ_System.LanguageResource.User.lb_product_info</th>
                        </tr>
                                 @*
                                @if (ViewBag.PageType.Equals("CreateRegister"))
                                {
                                *@

                                    @foreach (ProductListModel productListModel in Model.productsortList)
                                    {
                                        <tr>
                                            <td>
                                                <input type="checkbox" name="product_id" class="inputCheckbox"
                                                       id="product@(productListModel.product_id)"
                                                       value="@productListModel.product_id">
                                                <label for="product@(productListModel.product_id)"></label>
                                            </td>
                                            <td>@productListModel.product_name</td>
                                            <td>@productListModel.product_info</td>
                                        </tr>
                                    }
                                
                                    @*
                                    }
                                else {
                                    foreach (ActivityProductSelectModel activityProductSelectModel in Model.activityproductselectList)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>@activityProductSelectModel.product_name</td>
                                            <td>@activityProductSelectModel.product_info</td>
                                        </tr>
                                    }
                                }
                                 *@

                        </table>
    }
}
                    </div>
                    <div class="regis_col02L">
                        <label for="" class="label01">@prj_BIZ_System.LanguageResource.User.lb_company_catalog</label>
                    </div>
                    <div class="regis_col02R uplodboxR">
@{
    if (Model.cataloglistList.Count == 0)
    {
        <label for="" class="label01">@prj_BIZ_System.LanguageResource.User.lb_nodata</label>
    }
    else
    {
                        <ul class="regis_dmlist">
                            @*
                            @if (ViewBag.PageType.Equals("CreateRegister"))
                            {
*@
                                @foreach (CatalogListModel catalogListModel in Model.cataloglistList)
                                {
                                    <li>
                                        <a href="@(ViewBag.catalogDir + catalogListModel.catalog_file)" target="_blank" class="fancybox">
                                            <div class="regisimg">
                                                <img src="@(ViewBag.coverDir + catalogListModel.cover_file)"   alt=""/>
                                            </div>
                                        </a>
                                        <input type="checkbox" name="catalog_no" class="inputCheckbox"
                                               id="catalog@(catalogListModel.catalog_no)"
                                               value="@catalogListModel.catalog_no">
                                        <label for="catalog@(catalogListModel.catalog_no)"></label>
                                    </li>
                                }
@*
                            }
                            else {
                                foreach (ActivityCatalogSelectModel activityCatalogSelectModel in Model.activitycatalogselectList)
                                {
                                    <li>
                                        <a href="@(ViewBag.coverDir + activityCatalogSelectModel.cover_file)">
                                            <img src="@(ViewBag.coverDir + activityCatalogSelectModel.cover_file)" />
                                        </a>
                                    </li>
                                }
                            }
*@
                        </ul>
        }
    }
                    </div>

                    <div class="centerbox">
                        <button id="submitInfo" type="submit" class="submitbuRed">@ViewBag.SubmitName</button>
                    </div>

                </form>
            </article>
    @{
        Html.RenderAction("_HomeLeftPartial", "Home");
    }
    </div>



    <script type="text/javascript"
            src="/Scripts/jquery-ui-1.10.2.min.js">
    </script>
@Scripts.Render("~/bundles/fancybox")


    <script type="text/javascript" src="~/Scripts/date.f-0.5.0.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#activity_id").change(function () {
                var id = $("#activity_id").val();
                $.ajax({
                    type: "get",
                    url: "@Url.Action("selectedActivityId", "Activity")",
                    cache: false,
                    data: { "activity_id": id },
                    dataType: "json",
                    success: function (result) {
                        $("#starttime").text(new Date(parseInt(result.starttime.substr(6))).f("yyyy/MM/dd tt hh:mm:ss"));
                        $("#endtime").text(new Date(parseInt(result.starttime.substr(6))).f("yyyy/MM/dd tt hh:mm:ss"));
                        $("#activityAddr").text(result.addr);
                    }
                })
            });

            $("#submitInfo").click(function () {
                var quantity = $("input[name='quantity']").val();
                var name_a = $("input[name='name_a']").val();
                var name_b = $("input[name='name_b']").val();
                var phone = $("input[name='phone']").val();
                var telephone = $("input[name='telephone']").val(); 
                var email = $("input[name='email']").val();
                var errMsg = checkValidationOk(quantity , name_a , name_b , phone , telephone , email);
                if (errMsg != '') {
                    alert(errMsg);
                    return false;
                }

                if (confirm('確認是否報名此活動?')) {
                    return true
                } else {
                    return false
                }
            });

        });


        function checkValidationOk(quantity , name_a , name_b , phone , telephone , email) {
            var errMsg = '';
            if (quantity == null || quantity == '') {
                errMsg += '與會人數不可為空白\n';
            }
            if (name_a == null || name_a == '') {
                errMsg += '與會人不可為空白\n';
            }
            if (name_b == null || name_b == '') {
                errMsg += '主聯絡人不可為空白\n';
            }
            if (phone == null || phone == '') {
                errMsg += '手機號碼不可為空白\n';
            }
            if (telephone == null || telephone == '') {
                errMsg += '電話/分機不可為空白\n';
            }
            if (email == null || email == '') {
                errMsg += '電子郵件不可為空白\n';
            }
            return errMsg;
        }
    </script>

    <script>
        $(function () {
            init();
            render();
        });

        function init() {
            $(".fancybox").fancybox({
                width: 600,
                height: 300,
                type: 'iframe'
            });
            $("#deleteLink").click(function () {
                if(confirm("確認是否要刪除")){
                    $("#deleteForm").submit();
                }
            });
        }

        function render(){

            @if(ViewBag.Action.Equals("EditActivityRegisterUpdate")){
                <text>
                    var UpdateRender = function(){
                        $.each(productselectList,function(index,el){
                            $("input[name='product_id'][value='"+el.product_id+"']").prop("checked",true);
                        });

                        $.each(catalogselectList,function(index,el){
                            $("input[name='catalog_no'][value='"+el.catalog_no+"']").prop("checked",true);
                        });
                    };
                    var productselectList = @Html.Raw(ViewBag.productselectList);
                    var catalogselectList = @Html.Raw(ViewBag.catalogselectList);
                    UpdateRender();
                </text>

            }
        }

    </script>