@using prj_BIZ_System.Models
@model prj_BIZ_System.ViewModels.News_BNList_ViewModel

@{
    ViewBag.Title = "新聞列表";
}

<article class="form_box article_col1">
    <h2>新聞列表</h2>
    <table class="edittable">
        <tr>
            <th>建立帳號</th>
            <th>新聞標題</th>
            <th>發布日期</th>
            <th>新聞類型</th>
            <th>活動編號</th>
            <th>網址</th>
            <th>內容</th>
            <th></th>
        </tr>
        @foreach(NewsModel newsModel in Model.NewsList)
        {
            <tr>
                <td>@newsModel.manager_id</td>
                <td>@newsModel.news_title</td>
                <td>@newsModel.news_date</td>
                <td>@newsModel.news_type</td>
                <td>@newsModel.activity_id</td>
                <td>@newsModel.website</td>
                <td>@newsModel.content</td>
                <td>
                    <a href="/News/EditActivityInfo?Id=@newsModel.news_no" class="editbu">修改</a>
                    <a href="/News/EditActivityInfo?Id=@newsModel.news_no" class="editbu">刪除</a>
                </td>
            </tr>
        }
    </table>

    <div class="centerbox">
        <a href="/News/EditActivityInfo" class="submitbu">新增活動訊息</a>
        <a href="/News/EditNewsInfo" class="submitbu">新增新聞訊息</a>
    </div>
</article>
