@using prj_BIZ_System.Models
@model prj_BIZ_System.ViewModels.News_EAInfo_ViewModel


@{
    ViewBag.Title = "新增活動訊息";
}

@{  
    int dowhat = 1;
    Model.NewsModel.news_no = 0;
    Model.NewsModel.manager_id = "";
    Model.NewsModel.news_title = "";
    Model.NewsModel.news_date = DateTime.Now;
    Model.NewsModel.news_type = "";
    Model.NewsModel.activity_id = 0;
    Model.NewsModel.website = "";
    Model.NewsModel.content = "";
    if(Model.NewsModel != null)
    {
        //dowahat = 2;

    }

}

<article class="form_box article_col1">
    <h2>新增活動訊息</h2>
    <form action=@ViewBag.NextAction method="post">
        <input type="hidden" name="news_no" value="@Model.NewsModel.news_no" />

        <label for="news_title" class="regis_col02L spanRed">新聞標題</label>
        <input type="text" name="news_title" value="@Model.NewsModel.news_title" class="regis_col02R" />

        <label for="news_date" class="regis_col02L spanRed">發布日期</label>
        
        @if (dowhat == 1)
        {
         <input type="text" name="news_date" value="@Model.NewsModel.news_date" class="regis_col02R" />
        }
        else
        {
         <input type="text" name="news_date" value="@Model.NewsModel.news_date" class="regis_col02R" />
        }
        <input type="hidden" name="news_type" value="0" />
        <label for="activity_id" class="regis_col02L spanRed">活動名稱</label>
        <select name="activity_id" class="regis_col02R">
            <option value="">--請選擇--</option>
            @foreach (ActivityInfoModel activityInfoModel in Model.ActivityInfoList)
            {
                <option value="@activityInfoModel.activity_id">@activityInfoModel.activity_name</option>
            }
        </select>


        <label for="manager_id" class="regis_col02L spanRed">建立帳號:</label>
        <input type="text" name="manager_id" value="@Model.NewsModel.manager_id" class="regis_col02R" />

        <div class="centerbox">
            <textarea  name="content">@Model.NewsModel.content</textarea>
        </div>


        <div class="centerbox">
            <button type="submit" class="submitbu">@ViewBag.NextName</button>
        </div>
    </form>
</article>

