

<aside>
    <div class="datalist">
        <h3>@prj_BIZ_System.LanguageResource.User.lb_my@prj_BIZ_System.LanguageResource.User.lb_cluster</h3>
        <ul class="listlink comicon inforlist">
            @if (Request.Cookies["_menu"].Value == "MessageClusterMain")
            {
                <li class="inforactive"><span>@prj_BIZ_System.LanguageResource.User.lb_msg_managment</span></li>
            }
            else
            {
                <li><a href="~/Message/MessageClusterMain">@prj_BIZ_System.LanguageResource.User.lb_msg_managment</a></li>
            }

            @if (Request.Cookies["_menu"].Value == "Cluster_Files")
            {
                <li class="inforactive"><span>@prj_BIZ_System.LanguageResource.User.lb_cluster_doc</span></li>
            }
            else
            {
                <li><a href="~/Cluster/Cluster_Files">@prj_BIZ_System.LanguageResource.User.lb_cluster_doc</a></li>
            }

            @*<li><a href="~/Cluster/group_order_manager.html">聚落訂單管理</a></li>*@

            @if (Request.Cookies["_menu"].Value == "Cluster_Detail")
            {
                <li class="inforactive"><span>@prj_BIZ_System.LanguageResource.User.lb_cluster_about</span></li>
            }
            else
            {
                <li><a href="~/Cluster/Cluster_Detail">@prj_BIZ_System.LanguageResource.User.lb_cluster_about</a></li>
            }

            @if (Request.Cookies["_menu"].Value == "Cluster_Members")
            {
                <li class="inforactive"><span>@prj_BIZ_System.LanguageResource.User.lb_member_management</span></li>
            }
            else
            {
                <li><a href="~/Cluster/Cluster_Members">@prj_BIZ_System.LanguageResource.User.lb_member_management</a></li>
            }

            @if (Request.Cookies["SalesInfo"] == null || Request.Cookies["SalesInfo"]["sales_id"] == null)
            {

                @*if (Request.Cookies["_menu"].Value == "Cluster_Sales")
                {
                <li class="inforactive"><span>業務權限設定</span></li>
                }
                else
                {
                <li><a href="~/Cluster/Cluster_Sales">業務權限設定</a></li>
                }*@
            }

        </ul>
    </div>

</aside>

<script>
	  $(function() {
	  	$( ".floor" ).click(function() {
		  	 $( ".floor2" ).toggleClass('open');
			 $(this).toggleClass('active');
		});

	  });
</script>
