
@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Cluster_ViewModel
@{
    ViewBag.Title = "Cluster_Detail";
}

@section pagestyle{
    <link href="~/stylesheets/sys.css" rel="stylesheet" />
}

@Styles.Render("~/Content/jqueryUI")
    <div class="article_col1">
        @{
            Html.RenderAction("_ClusterMenuPartial", "Cluster");
        }

        <article class="article_col2">
            <h2 class="borderTitle2">@Model.clusterInfo.cluster_name</h2>
            <div class="form_box">
                <h2>@prj_BIZ_System.LanguageResource.User.lb_cluster_about</h2>
                <form id="form" class="" action="@Url.Action("EditCluster", "Cluster")" method="post">
                    <input type="hidden" name="no" value="@Model.clusterInfo.cluster_no">
                    <input type="hidden" name="enable" value="@Model.clusterInfo.enable">
                    <input type="hidden" name="cluster_name" value="@Model.clusterInfo.cluster_name">
                    <div class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_cluster_name</div>
                    <span class="regis_col02R contentspan">@Model.clusterInfo.cluster_name</span>
                    <div class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_cluster_manager</div>
                    <span class="regis_col02R contentspan">@Model.clusterInfo.user_id</span>
                    <div class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_cluster_member</div>
                    <table class="regis_col02R membertable listlink">
                        @if (Model.clusterMemberList != null)
                        {
                            foreach (ClusterMemberModel md in Model.clusterMemberList)
                            {
                                if (md.cluster_enable != "2")
                                {
                                    var company = md.company;
                                    if (Request.Cookies["_culture"] != null && Request.Cookies["_culture"].Value != "zh-TW")
                                    {
                                        if (md.company_en != null && md.company_en != "")
                                        {
                                            company = md.company_en;
                                        }
                                    }


                                    <tr id="grp_name_@md.user_id">
                                        <td>
                                            <a href="~/User/UserInfo?user_id=@md.user_id" target="_blank">@md.user_id - @company</a>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </table>
                    <label for="" class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_cluster_brief</label>
                    <textarea class="regis_col02R" name="cluster_info" id="" placeholder="@prj_BIZ_System.LanguageResource.User.lb_300less" maxlength="300">@Model.clusterInfo.cluster_info</textarea>

                    <div class="centerbox">
                        <button type="submit" class="buinfor">@prj_BIZ_System.LanguageResource.User.lb_edit</button>
                    </div>
                </form>
            </div>
        </article>
    </div>
