
@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Cluster_ViewModel
@{
    ViewBag.Title = "Cluster_Detail";
}

@section pagestyle{
    <link href="/stylesheets/sys.css" rel="stylesheet" />
    <link href="http://code.jquery.com/ui/1.11.4/themes/hot-sneaks/jquery-ui.css" rel="stylesheet">
}

@Styles.Render("~/Content/jqueryUI")
    <div class="article_col1">
        @{
            Html.RenderAction("_ClusterMenuPartial", "Cluster");
        }

        <article class="article_col2">
            <h2 class="borderTitle2">@Model.clusterInfo.cluster_name</h2>
            <div class="form_box">
                <h2>聚落明細</h2>
                <form id="form" class="" action="@Url.Action("EditCluster", "Cluster")" method="post">
                    <input type="hidden" name="no" value="@Model.clusterInfo.cluster_no">
                    <input type="hidden" name="enable" value="@Model.clusterInfo.enable">
                    <input type="hidden" name="cluster_name" value="@Model.clusterInfo.cluster_name">
                    <div class="regis_col02L">聚落名稱</div>
                    <span class="regis_col02R contentspan">@Model.clusterInfo.cluster_name</span>
                    <div class="regis_col02L">建立帳號</div>
                    <span class="regis_col02R contentspan">@Model.clusterInfo.user_id</span>
                    <div class="regis_col02L">聚落商家</div>
                    <table class="regis_col02R membertable">
                        @if (Model.clusterMemberList != null)
                        {
                            foreach (ClusterMemberModel md in Model.clusterMemberList)
                            {
                                if (md.cluster_enable != "2")
                                {
                                    <tr id="grp_name_@md.user_id">
                                        <td>
                                            <label>@md.user_id - @md.company</label>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </table>
                    <label for="" class="regis_col02L">聚落簡介</label>
                    <textarea class="regis_col02R" name="cluster_info" id="" placeholder="@prj_BIZ_System.LanguageResource.User.lb_300less" maxlength="300">@Model.clusterInfo.cluster_info</textarea>

                    <div class="centerbox">
                        <button type="submit" class="buinfor">修改</button>
                    </div>
                </form>
            </div>
        </article>
    </div>
