
@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Cluster_ViewModel
    @{
        ViewBag.Title = "Cluster File";
    }

@section pagestyle{
    <link href="~/stylesheets/sys.css" rel="stylesheet" />
    <link href="http://code.jquery.com/ui/1.11.4/themes/hot-sneaks/jquery-ui.css" rel="stylesheet">
}


    @Styles.Render("~/Content/jqueryUI")

    <div class="article_col1">
    @{
        Html.RenderAction("_ClusterMenuPartial", "Cluster");
    }
    <article class="article_col2">
        <h2 class="borderTitle2">@HttpUtility.UrlDecode(Request["cluster_name"])</h2>
        <div class="form_box">
            <h2>文件管理</h2>
            <div class="regis_col02R">
                <div class="regis_completebox">
                    <div class="regis_complete" style="width:70%">
                        目前使用量 70%
                    </div>
                </div>
            </div>

            <a href="Cluster_UploadFiles" class="addbu rightbox">上傳文件</a>
            <table class="edittable">
                <tr>
                    <th>編號</th>
                    <th style="width: 50%">檔案名稱</th>
                    <th>上傳者</th>
                    <th>上傳時間</th>
                    <th>檔案大小</th>
                    <th>下載</th>
                </tr>
                @foreach (var mo in Model.clusterFileList)
                {
                    <tr>
                        <td>@mo.cluster_file_no</td>
                        <td class="alignleft">
                            @mo.cluster_file_site
                        </td>
                        <td>
                            @mo.user_id
                        </td>
                        <td>
                            @mo.create_time
                        </td>
                        <td>20M</td>
                        <td>
                            <div class="centerbox">
                                <a href="#" class="editbu">下載</a>
                                @if (Request.Cookies["UserInfo"]["user_id"] == mo.user_id)
                                {
                                    <br /><br /><a href="javascript:void(0)" class="deletebu quit">刪除</a>
                                }
                            </div>
                        </td>
                    </tr>

                }
            </table>
            @Html.PagesList((List<PageList<ClusterFileModel>>)ViewData["PageList"])

        </div>
    </article>
</div>

<div id="dialog" title="刪除文件" style="display:none;">
    <p>確定要刪除文件?</p>
</div>
