
@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Cluster_ViewModel
    @{
        ViewBag.Title = "Cluster List";
        Layout = null;
    }

    @section pagestyle{
        <link href="~/stylesheets/sys.css" rel="stylesheet" />
        <link href="~/stylesheets/business.css" rel="stylesheet" />
    }

    @Styles.Render("~/Content/jqueryUI")

    @{ 
        var user_id = "";
        if (Request.Cookies["UserInfo"] != null && Request.Cookies["UserInfo"]["user_id"] != null)
        {
            user_id = HttpUtility.UrlDecode(Request.Cookies["UserInfo"]["user_id"]);
        }
        else {
            user_id = HttpUtility.UrlDecode(Request.Cookies["SalesInfo"]["user_id"]);
        }


    }

    <div class="article_col1s">

    <article>
                @foreach (var newInfo in Model.clusterWebServiceInfoList)
                {

                    <div class="form_box panelbox">
                        <h2 class="panelTitle">@newInfo.cluster_name</h2>
                        
                        @if (Request["list"] == "4" && user_id != newInfo.user_id)
                        {
                            <a href="Cluster_Status?cluster_no=@newInfo.cluster_no&status=3" class="panelSubmitBu">退出聚落</a>
                        }
                        else if (user_id == newInfo.user_id)
                        {
                            <a href="Cluster_Manager?cluster_no=@newInfo.cluster_no" class="panelSubmitBu">更換管理者</a>
                        }


                        @*<label for="" class="regis_col02L"></label>*@

                        @if (Request["list"] != "3")
                        {
                        <label for="" class="regis_col02L">邀請時間</label>
                        <span class="regis_col02R contentspan">@newInfo.member_invite_time</span>
                        <label for="" class="regis_col02L">管理者
                        </label>
                        <span class="regis_col02R contentspan">@newInfo.creator_name
                        @if (user_id == newInfo.manager_id)
                        {
                            <label class="fontRed">傳來要求成為管理者</label>
                            <a href="ClusterManagerOk?cluster_no=@newInfo.cluster_no&id=@user_id" class="deleteSbu">接受</a>
                            <a href="ClusterManagerOk?cluster_no=@newInfo.cluster_no&id=@newInfo.user_id" class="deleteSbu">拒絕</a>
                        }
                        </span>
                        <label for="" class="regis_col02L">成員</label>
                        <p class="regis_col02R contentspan">
                            @newInfo.cluster_members
                        </p>

                        }
                        else
                        {
                            <label for="" class="regis_col02L">申請時間</label>
                            <span class="regis_col02R contentspan">@newInfo.cluster_create_time</span>
                            <label for="" class="regis_col02L">申請者</label>
                            <span class="regis_col02R contentspan">@newInfo.creator_name</span>
                        }

                        <label for="" class="regis_col02L">簡介</label>
                        <p class="regis_col02R contentspan">
                            @newInfo.cluster_info
                        </p>

                        <div class="centerbox">
                        @if (Request["list"] == null || Request["list"] == "1")
                        {
                            //------可申請的聚落
                            <a href="Cluster_Status?cluster_no=@newInfo.cluster_no&status=4" class="addbu">申請</a>
                            //------------------
                        }
                        else if (Request["list"] == "2")
                        {
                            //------申請中
                            //------------------
                        }
                        else if (Request["list"] == "3")
                        {
                            //------申請審核
                            <a href="Cluster_Status?cluster_no=@newInfo.cluster_no&status=1&id=@newInfo.cluster_members" class="addbu">接受申請</a>
                            <a href="Cluster_Status?cluster_no=@newInfo.cluster_no&status=0&id=@newInfo.cluster_members" class="deleteSbu">婉拒申請</a>
                            //------------------
                        }
                        else if (Request["list"] == "4")
                        {
                            //------已加入
                            <a href="Cluster_Add?cluster_no=@newInfo.cluster_no" class="addbu">聚落邀請</a>

                            if (newInfo.enable == "1")
                            {
                                <a href="Cluster_Detail?cluster_no=@newInfo.cluster_no" class="addbured">進入聚落</a>
                            }
                            //------------------
                        }
                        else if (Request["list"] == "5")
                        {
                            //------受邀請中
                            <a href="Cluster_Status?cluster_no=@newInfo.cluster_no&status=1" class="addbu">加入</a>
                            <a href="Cluster_Status?cluster_no=@newInfo.cluster_no&status=0" class="deleteSbu">婉拒</a>
                            //------------------
                        }
                        else if (Request["list"] == "6")
                        {
                            //------已加入已成立
                            <a href="Cluster_Detail?cluster_no=@newInfo.cluster_no" class="addbured">進入聚落</a>
                            //------------------
                        }

                        </div>
                    </div>
                }
                @Html.PagesList((List<PageList<prj_BIZ_System.Models.ClusterDetailModel>>)ViewData["PageList"])
</article>
</div>
