
@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Cluster_ViewModel
    @{
        ViewBag.Title = "Cluster List";
    }

    @section pagestyle{
        <link href="~/stylesheets/sys.css" rel="stylesheet" />
    }

    @Styles.Render("~/Content/jqueryUI")

    <div class="article_col1s">

    <article>
        <h2 class="borderTitle2">產業聚落管理</h2>
        <a href="Cluster_Add" class="addbu2 rightbox">新建產業聚落</a>
        <a href="ClusterInvited" class="addbu2 rightbox">受邀聚落清單</a>
        @foreach (var newInfo in Model.clusterWebServiceInfoList)
            {

            <div class="form_box">
                <h2>@newInfo.cluster_name</h2>
                <label for="" class="regis_col02L"></label>
                <span class="regis_col02R contentspan"><a href="Cluster_Status?cluster_no=@newInfo.cluster_no&status=3" class="deleteSbu quit rightbox">退出聚落</a></span>
                <label for="" class="regis_col02L">邀請時間</label>
                <span class="regis_col02R contentspan">@newInfo.member_invite_time</span>
                <label for="" class="regis_col02L">建立者</label>
                <span class="regis_col02R contentspan">@newInfo.creator_name</span>
                <label for="" class="regis_col02L">成員</label>
                <p class="regis_col02R contentspan">
                    @newInfo.cluster_members
                </p>

                <label for="" class="regis_col02L">簡介</label>
                <p class="regis_col02R contentspan">
                    @newInfo.cluster_info
                </p>

                <div class="centerbox">
                    <a href="Cluster_Add?cluster_no=@newInfo.cluster_no" class="addbu">聚落邀請</a>
                    @if (newInfo.enable == "1")
                    {
                        <a href="Cluster_Detail?cluster_no=@newInfo.cluster_no" class="addbured">進入聚落</a>
                    }

                </div>
            </div>
        }
        @Html.PagesList((List<PageList<prj_BIZ_System.WebService.Model.ClusterInfo>>)ViewData["PageList"])
    </article>
</div>

