@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Cluster_ViewModel
@{
    ViewBag.Title = "Cluster_Add";
//    Layout = null;
}

@section pagestyle{
<link href="~/stylesheets/sys.css" rel="stylesheet" />
<link href="http://code.jquery.com/ui/1.11.4/themes/hot-sneaks/jquery-ui.css" rel="stylesheet">
}

@Styles.Render("~/Content/jqueryUI")


<div class="article_col1">
    <article class="article_col2">
        <form id="form" class="form_box sys_searchbox" action="@Url.Action("EditClusterManager", "Cluster")" method="post">
            <input type="hidden" name="no" value="@Model.clusterInfo.cluster_no">
            <input type="hidden" name="user_id" value="@Model.clusterInfo.user_id">
            <h2>指定管理者</h2>
            <label for="" class="regis_col02L">聚落名稱</label>
            <span class="regis_col02R contentspan">@Model.clusterInfo.cluster_name</span>
            <label for="" class="regis_col02L">現有管理者</label>
            <span class="regis_col02R contentspan">@Model.clusterInfo.user_id</span>

            <label for="" class="regis_col02L">要求指定管理者</label>
            <div class="regis_col02_1R">
                @if (Model.clusterMemberList != null)
                {
                    int i = 0;
                    foreach (ClusterMemberModel md in Model.clusterMemberList)
                    {
                        if (md.user_id != Request.Cookies["UserInfo"]["user_id"] && md.cluster_enable == "1")
                        {
                            i = i + 1;
                            var a = "";
                            if (Model.clusterInfo.manager_id == md.user_id)
                            {
                                a = "checked";
                            }
                            <input type="radio" class="radioinput" id="manager_id_@i" name="manager_id" value="@md.user_id" @a>
                            <label for="manager_id_@i">@md.user_id - @md.company</label>
                        }
                    }
                }
                <br />
            </div>

            <div class="centerbox">
                <button type="submit" class="buinfor">送出要求</button>
                <button type="button" class="submitbu" onclick="javascript:history.back()">返回前頁</button>
            </div>

        </form>
    </article>
@{
    Html.RenderAction("_HomeLeftPartial", "Home");
}

</div>

