
@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Cluster_ViewModel
@{
    ViewBag.Title = "Cluster List";
}

@section pagestyle{
    <link href="~/stylesheets/sys.css" rel="stylesheet" />
}

@Styles.Render("~/Content/jqueryUI")

<div class="article_col1">
    <article class="article_col2">
        <h2 class="borderTitle2">@prj_BIZ_System.LanguageResource.User.lb_cluster</h2>

            <dl class="clusterBox w100">
                <!--內容Start-->
                @foreach (var newInfo in Model.clusterWebServiceInfoList)
                {
                    <dt>
                        <a href="javascript:void(0)" class="moreData">+</a>
                        <span for=""><font color="gray">@newInfo.cluster_name</font></span>
                        <div class="clusterBoxBtn">
                            <a href="javascript:showmsg()" class="clusterAddBtn" title="申請">申請</a>
                        </div>
                    </dt>

                    <dd class="panelbox clusterBoxContent">
                        <label for="" class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_cluster_create</label>
                        <span class="regis_col02R contentspan">@newInfo.cluster_create_time.ToString("yyyy/MM/dd tt hh:mm")</span>
                        <label for="" class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_cluster_manager</label>
                        <span class="regis_col02R contentspan">@newInfo.creator_name</span>
                        <label for="" class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_cluster_member</label>
                        <p class="regis_col02R contentspan">
                            <apan class="overFont">@newInfo.cluster_members</apan>
                        </p>

                        <label for="" class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_cluster_brief</label>
                        <p class="regis_col02R contentspan">
                            @newInfo.cluster_info
                        </p>
                    </dd>
                }
                <!--內容End-->
            </dl>

        @Html.PagesList((List<PageList<prj_BIZ_System.Models.ClusterDetailModel>>)ViewData["PageList"])
    </article>
    @{
        Html.RenderAction("_HomeLeftPartial", "Home");
    }
</div>

<div id="dialog" title="聚落申請" style="display:none;">
    <p>
        <span class="instext"></span><br />
    </p>
</div>

<script type="text/javascript"
        src="~/Scripts/jquery-ui-1.10.2.min.js">
</script>

<script type="text/javascript" language="javascript">
    $(".moreData").on('click', function () {
        $(this).toggleClass('active');
        $(this).parents('dt').toggleClass("clusterActive");
        $(this).parents('dt').next('dd').toggleClass("w100");
    })

    function showmsg() {
        //       alert("報名必須註冊會員，如果是會員請至首頁<<會員登入>>，如尚未加入會員，請至首頁<<創建新帳號>>加入會員!!");
        $("#dialog").dialog({
            autoOpen: true,
            modal: true,
            buttons: {
                @(prj_BIZ_System.LanguageResource.User.lb_yes): function () {
                    window.location = "../Home/Index";
                    event.returnValue = false; //需要加上這行 Why??
                    //window.open(url); //如果是開窗就不用加 event.returnValue = false;
                    $(this).dialog("close");
                },
                @(prj_BIZ_System.LanguageResource.User.lb_no): function () {
                    $(this).dialog("close");
                }
            }
        });
        $(".instext").text("您好，請先登入會員再申請加入聚落，是否回首頁登入?");

    }



</script>
