
@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Cluster_ViewModel
    @{
        ViewBag.Title = "Cluster List";
        Layout = null;
    }

    @section pagestyle{
        <link href="~/stylesheets/sys.css" rel="stylesheet" />
    }

    @Styles.Render("~/Content/jqueryUI")

    <div class="article_col1s">

    <article>
                @foreach (var newInfo in Model.clusterWebServiceInfoList)
                {

                    <div class="form_box">
                        <h2>@newInfo.cluster_name</h2>
                        <label for="" class="regis_col02L"></label>
                        @if (Request["list"] == "3")
                        {
                        <span class="regis_col02R contentspan"><a href="Cluster_Status?cluster_no=@newInfo.cluster_no&status=3" class="deleteSbu quit rightbox">退出聚落</a></span>
                        }
                        <label for="" class="regis_col02L">邀請時間</label>
                        <span class="regis_col02R contentspan">@newInfo.member_invite_time</span>
                        <label for="" class="regis_col02L">建立者</label>
                        <span class="regis_col02R contentspan">@newInfo.creator_name</span>
                        <label for="" class="regis_col02L">成員</label>
                        <p class="regis_col02R contentspan">
                            @newInfo.cluster_members
                        </p>

                        <label for="" class="regis_col02L">簡介</label>
                        <p class="regis_col02R contentspan">
                            @newInfo.cluster_info
                        </p>

                        <div class="centerbox">
                        @if (Request["list"] == null || Request["list"] == "1")
                        {
                            //------可申請的聚落
                            <a href="Cluster_Status?cluster_no=@newInfo.cluster_no&status=4" class="addbu">申請</a>
                            //------------------
                        }
                        else if (Request["list"] == "2")
                        {
                            //------申請中
                            //------------------
                        }
                        else if (Request["list"] == "3")
                        {
                            //------已加入
                            <a href="Cluster_Add?cluster_no=@newInfo.cluster_no" class="addbu">聚落邀請</a>

                            if (newInfo.enable == "1")
                            {
                                <a href="Cluster_Detail?cluster_no=@newInfo.cluster_no" class="addbured">進入聚落</a>
                            }
                            //------------------
                        }
                        else if (Request["list"] == "4")
                        {
                            //------受邀請中
                            <a href="Cluster_Status?cluster_no=@newInfo.cluster_no&status=1" class="addbu">加入</a>
                            <a href="Cluster_Status?cluster_no=@newInfo.cluster_no&status=0" class="deleteSbu">婉拒</a>
                            //------------------
                        }

                        </div>
                    </div>
                }
                @Html.PagesList((List<PageList<prj_BIZ_System.Models.ClusterDetailModel>>)ViewData["PageList"])
</article>
</div>
