
@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Cluster_ViewModel



    @{
        ViewBag.Title = "Cluster Invite";

    }

    @section pagestyle{
        <link href="~/stylesheets/sys.css" rel="stylesheet" />
    }

    @Styles.Render("~/Content/jqueryUI")

    <div class="article_col1s">

        <article>
            <h2 class="borderTitle2">受邀聚落清單</h2>
            <a href="Cluster_Add" class="addbu2 rightbox">新建產業聚落</a>
            <a href="ClusterList" class="addbu2 rightbox">產業聚落管理</a>
                @foreach (var newInfo in Model.clusterWebServiceInfoList)
                {

                    <div class="form_box">
                        <h2>@newInfo.cluster_name</h2>
                        <label for="" class="regis_col02L">邀請時間</label>
                        <span class="regis_col02R contentspan">@newInfo.member_invite_time</span>
                        <label for="" class="regis_col02L">建立者</label>
                        <span class="regis_col02R contentspan">@newInfo.creator_name</span>
                        <label for="" class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_cluster_member</label>
                        <p class="regis_col02R contentspan">
                            @newInfo.cluster_members
                        </p>

                        <label for="" class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_cluster_brief </label>
                        <p class="regis_col02R contentspan">
                            @newInfo.cluster_info
                        </p>

                        <div class="centerbox">
                            <a href="Cluster_Status?cluster_no=@newInfo.cluster_no&status=1" class="addbu">加入</a>
                            <a href="Cluster_Status?cluster_no=@newInfo.cluster_no&status=0" class="deleteSbu">婉拒</a>
                        </div>
                    </div>
                }
            @Html.PagesList((List<PageList<prj_BIZ_System.Models.ClusterDetailModel>>)ViewData["PageList"])
        </article>
        <button type="button" class="submitbu" onclick="javascript:history.back()">@prj_BIZ_System.LanguageResource.User.lb_back</button>
    </div>
