
@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Cluster_ViewModel
    @{
        ViewBag.Title = "Cluster File";
    }

@section pagestyle{
    <link href="~/stylesheets/sys.css" rel="stylesheet" />
}

@Styles.Render("~/Content/jqueryUI")

@{
    var user_id = "";
    if (Request.Cookies["UserInfo"] != null && Request.Cookies["UserInfo"]["user_id"] != null)
    {
        user_id = HttpUtility.UrlDecode(Request.Cookies["UserInfo"]["user_id"]);
    }
    else {
        user_id = HttpUtility.UrlDecode(Request.Cookies["SalesInfo"]["user_id"]);
    }
}


    @Styles.Render("~/Content/jqueryUI")

    <div class="article_col1">
    @{
        Html.RenderAction("_ClusterMenuPartial", "Cluster");
    }
    <article class="article_col2">
        <h2 class="borderTitle2">@HttpUtility.UrlDecode(Request["cluster_name"])</h2>
        <div class="form_box">
            <h2>文件管理</h2>
            <div class="regis_col02R">

                <div class="regis_completebox">
                    <span>目前使用量 @ViewBag.fs%</span>
                    <div class="regis_complete" style="width:@ViewBag.fs%"></div>
                </div>	
            </div>


            <a href="Cluster_UploadFiles" class="addbu rightbox">上傳文件</a>
            <table class="edittable">
                <tr>
                    <th>編號</th>
                    <th style="width: 50%">檔案名稱</th>
                    <th>上傳者</th>
                    <th>上傳時間</th>
                    <th>檔案大小</th>
                    <th>下載</th>
                </tr>
                @foreach (var mo in Model.clusterFileList)
                {
                    <tr>
                        <td>@mo.cluster_file_no</td>
                        <td class="alignleft">
                            @mo.cluster_file_site
                        </td>
                        <td>
                            @mo.user_id
                        </td>
                        <td>
                            @mo.create_time
                        </td>
                        <td>@String.Format("{0:#,###,###.##}", mo.file_size) KB
                        </td>
                        <td>
                            <div class="centerbox">
                                <a href="@Url.Action("DownloadFile","Cluster",new {filepath = @ViewBag.path, filename = @mo.cluster_file_site})" class="editbu">下載</a>
                                @if (user_id == mo.user_id)
                                {
                                    <br /><br /><a id="@mo.cluster_file_no" href="javascript:void(0)" class="deletebu quit">刪除</a>
                                }

                            </div>
                        </td>
                    </tr>

                }
            </table>
            @Html.PagesList((List<PageList<ClusterFileModel>>)ViewData["PageList"])

            <div id="dialog" title="刪除文件">
                <p>確定要刪除文件?</p>
            </div>
        </div>
    </article>
</div>

@Scripts.Render("~/bundles/jqueryUI")

<script>
    var fileid;
    $(function () {
    
        @if (!string.IsNullOrEmpty((string)TempData["errMsg"]))
        {
            <text>
            
	        function check() {
	            var errMsg = '@TempData["errMsg"]';
	            if (errMsg != '') {
	                alert(errMsg);
                }
            }
            check();
            </text>
        }

		$( "#dialog" ).dialog({
			autoOpen: false,
			buttons: {
			    "是": function () {
			        var url = '@Url.Action("DeleteFile", "Cluster", new { cluster_file_no = "__fileid__" })';
			        window.location.href = url.replace('__fileid__', encodeURIComponent(fileid));
			        $(this).dialog("close");

			},
			"否": function() {
			    $( this ).dialog( "close" );
			}
			}
		});
	    $( ".quit" ).click(function() {
	        $("#dialog").dialog("open");
	        fileid = this.id;
	    });


	});
</script>