@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Match_ViewModel


@{
    ViewBag.Title = "帳戶管理(賣家)";
}

@section pagestyle{
    <link href="~/stylesheets/account.css" rel="stylesheet" />
}

<div class="article_col1">
    @{
        Html.RenderAction("_NavSearchPartial", "User");
    }
    <article class="article_col2">
        <section class="w55">
            <section class="form_box">
                <h2>活動列表-買方專區</h2>
                <ul>
                    @foreach (BuyerInfoModel buyerInfoModel in Model.buyerinfoList)
                    {
                        <li>
                            <a href="news_activity.html" class="iconlink"><span>@buyerInfoModel.starttime.ToShortDateString()</span>@buyerInfoModel.activity_name</a>
                            <div class="centerbox">
                                <a href="@Url.Action("SellerInfoActivity","Activity", new { activity_id = buyerInfoModel.activity_id })" class="deleteSbu">賣家清單</a>
                                <a href="@Url.Action("WhetherMetchSeller","Match", new { activity_id = buyerInfoModel.activity_id })" class="addbu">活動媒合</a>
                            </div>
                        </li>
                    }
                </ul>
            </section>
            <section class="form_box">
                <h2>活動列表</h2>
                <ul>
                    @foreach (ActivityRegisterModel activityRegisterModel in Model.activityregisterList)
                    {
                        <li>
                            <a href="news_activity.html" class="iconlink"><span>@activityRegisterModel.starttime.ToShortDateString()</span>@activityRegisterModel.activity_name</a>
                            <div class="centerbox">
                                <a href="@Url.Action("ActivityRegister","Activity",new { register_id = activityRegisterModel.register_id, activity_id = activityRegisterModel.activity_id})" class="deleteSbu">報名資料</a>
                                <a href="@Url.Action("WhetherMetchBuyer","Match",new {activity_id = activityRegisterModel.activity_id})" class="addbu">活動媒合</a>
                            </div>
                        </li>
                    }
                </ul>
            </section>
        </section>
        <section class="form_box w45">
            <h2>推薦活動</h2>
            <ul>
                @foreach (ActivityInfoModel activityInfoModel in Model.activityinfoList)
                {
                    <li>
                        <a href="/Activity/ActivityInfo?Id=@activityInfoModel.activity_id" class="iconlink"><span>@activityInfoModel.starttime.ToShortDateString()</span>@activityInfoModel.activity_name</a>
                    </li>
                }
            </ul>
        </section>
    </article>
</div>

