@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Match_ViewModel

@{
    ViewBag.Title = "商務對接(買家)";
}

@Styles.Render("~/Content/jqueryUI")

@section pagestyle{
    <link href="~/stylesheets/business.css" rel="stylesheet" />
}

<div class="article_col1">

    <article class="form_box article_col2">
        <h2>商務對接</h2>
        <form id="insertForm" action="@ViewBag.Action" method="post">
            <table class="edittable mg30">
                <tr>
                    <th>公司名稱</th>
                    <th  style="width: 97px;">想與賣家洽談</th>
                </tr>
                @foreach (ActivityRegisterModel activityRegisterModel in Model.activityregisterList)
                {
                    var company = activityRegisterModel.company;
                    if (Request.Cookies["_culture"] != null && Request.Cookies["_culture"].Value != "zh-TW")
                    {
                        if (activityRegisterModel.company_en != null && activityRegisterModel.company_en != "")
                        {
                            company = activityRegisterModel.company_en;
                        }
                    }

                    <tr>
                        <td><a href="@Url.Action("UserInfo","User", new { user_id = activityRegisterModel.user_id})" class="linkb" target="_blank">@company</a></td>
                        <td>
                            @if (activityRegisterModel.Ischeck == true)
                            {
                                <input type="checkbox" class="inputCheckbox" name="seller_id"
                                       id="Seller@(activityRegisterModel.register_id)"
                                       value="@activityRegisterModel.user_id" checked="checked">

                            }
                            else
                            {
                                <input type="checkbox" class="inputCheckbox" name="seller_id"
                                       id="Seller@(activityRegisterModel.register_id)"
                                       value="@activityRegisterModel.user_id">

                            }
                            <label for="Seller@(activityRegisterModel.register_id)"></label>
                            <input type="hidden" name="activity_id" value="@activityRegisterModel.activity_id">
                        </td>
                    </tr>
                }


                @*@foreach (MatchmakingNeedModel matchmakingNeedModel in Model.matchmakingNeedList)
                {
                    <tr>
                        <td><a href="@Url.Action("UserINfo", "User", new { user_id = matchmakingNeedModel.seller_id})" class="linkb">@matchmakingNeedModel.company</a></td>
                        <td>
                            <input type="checkbox" class="inputCheckbox" name="seller_id"
                                   id="Seller@(matchmakingNeedModel.serial_no)"
                                   value="@matchmakingNeedModel.seller_id">
                            <label for="Seller@(matchmakingNeedModel.serial_no)"></label>
                            <input type="hidden" name="activity_id" value="@matchmakingNeedModel.activity_id">
                        </td>
                    </tr>
                }*@
            </table>
            <div class="centerbox mg30">
                <a href="javascript:void(0)" id="submitInfo" class="submitbuRed">@ViewBag.SubmitName</a>
            </div>
        </form>
    </article>
    @{
        Html.RenderAction("_HomeLeftPartial", "Home");
    }
</div>

<div id="dialog" title="商務對接" style="display:none;">
    <p>
        <span>是否修改洽談對象</span>
    </p>
</div>

@Scripts.Render("~/bundles/jqueryUI")




<script type="text/javascript">

        $("#dialog").dialog({
            autoOpen: false,
            modal: true,
            buttons: {
                "Save": function () {
                    $("#insertForm").submit();
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#submitInfo").click(function () {
            $("#dialog").dialog("open");
        });
</script>
