@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Match_ViewModel

@{
    ViewBag.Title = "商務對接(買家)";
}

@section pagestyle{
    <link href="~/stylesheets/business.css" rel="stylesheet" />
}

<div class="article_col1">
   @{
       Html.RenderAction("_NavSearchPartial", "User");
    }

    <article class="form_box article_col2">
        <h2>商務對接</h2>
        <form id="insertForm" action="@ViewBag.Action" method="post">
            <table class="edittable">
                <tr>
                    <th width="30%">公司名稱</th>
                    <th>想與賣家洽談</th>
                </tr>
                @*@foreach (ActivityRegisterModel activityRegisterModel in Model.activityregisterList)
                {
                    <tr>
                        <td><a href="@Url.Action("UserInfo","User", new { user_id = activityRegisterModel.user_id})" class="linkb">@activityRegisterModel.company</a></td>
                        <td>
                            <input type="checkbox" class="inputCheckbox" name="seller_id"
                                   id="Seller@(activityRegisterModel.register_id)"
                                   value="@activityRegisterModel.user_id">
                            <label for="Seller@(activityRegisterModel.register_id)"></label>
                            <input type="hidden" name="activity_id" value="@activityRegisterModel.activity_id">
                        </td>
                    </tr>
                }*@
                @foreach (MatchmakingNeedModel matchmakingNeedModel in Model.matchmakingNeedList)
                {
                    <tr>
                        <td><a href="@Url.Action("UserINfo", "User", new { user_id = matchmakingNeedModel.seller_id})" class="linkb">@matchmakingNeedModel.company</a></td>
                        <td>
                            <input type="checkbox" class="inputCheckbox" name="seller_id"
                                   id="Seller@(matchmakingNeedModel.serial_no)"
                                   value="@matchmakingNeedModel.seller_id">
                            <label for="Seller@(matchmakingNeedModel.serial_no)"></label>
                            <input type="hidden" name="activity_id" value="@matchmakingNeedModel.activity_id">
                        </td>
                    </tr>
                }
            </table>
            <div class="centerbox">
                <button id="submitInfo" type="submit" class="submitbuRed">確定送出</button>
            </div>
        </form>
    </article>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#submitInfo").click(function () {
            if (confirm('提示訊息:送出後無法更改，請警慎填寫')) {
                return true
            } else {
                return false
            }
        });

    });
</script>
