@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Match_ViewModel


@{
    ViewBag.Title = "媒合時程表時間設定";
}

@section pagestyle{
    <link href="~/stylesheets/sys.css" rel="stylesheet" />
}

@{
    int timeIntervalCount = 0;
}

@Styles.Render("~/Content/css/jqueryUI")

<div class="article_col1">
    <article>
        <h2 class="borderTitle2">媒合時程大表設定</h2>
        <form action="@ViewBag.Action" method="post">
            <button type="submit" class="addbublue rightbox">儲存</button>
            <table class="edittable">
                <tr>
                    <th>時段</th>
                    <th>開始時間</th>
                    <th>結束時間</th>
                    <th></th>
                </tr>
                <tbody>
                @if (Model.schedulePeriodSetList != null)
                {
                    foreach (SchedulePeriodSetModel schedulePeriodSetModel in Model.schedulePeriodSetList)
                    {
                        <tr>
                            <td>時段@(++timeIntervalCount)</td>
                            <td>
                                <input type="hidden" name="old_period_sn" value="@schedulePeriodSetModel.period_sn" />
                                <input type="text" name="old_time_start" value="@schedulePeriodSetModel.time_start.ToString("yyyy/MM/dd HH:mm")" />
                            </td>
                            <td>
                                <input type="text" name="old_time_end" value="@schedulePeriodSetModel.time_end.ToString("yyyy/MM/dd HH:mm")" />
                            </td>
                            <td>
                                <input type="hidden" name="old_activity_id" value="@schedulePeriodSetModel.activity_id" />
                                <a href="@Url.Action("MatchTimeIntervalDelect", "Match",new { period_sn  = schedulePeriodSetModel.period_sn, activity_id = schedulePeriodSetModel.activity_id})" class="deleteSbu">刪除</a>
                            </td>
                        </tr>
                    }
                }
                </tbody>
                <tfoot>
                    <tr class="tfootbg">
                        <td class="centerbox2">新增時段</td>
                        <td class="centerbox2">
                            <input type="text" name="time_start" value="@Model.SchedulePeriodSet.time_start.ToString("yyyy/MM/dd HH:mm")" />
                        </td>
                        <td class="centerbox2">
                            <input type="text" name="time_end" value="@Model.SchedulePeriodSet.time_end.ToString("yyyy/MM/dd HH:mm")" />
                        </td>
                        <td>
                            <input type="hidden" name="activity_id" value="@Model.SchedulePeriodSet.activity_id" />
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </article>
</div>

@Scripts.Render("~/bundles/jqueryUI")
@Scripts.Render("~/bundles/datetimepicker")

<script>
    $(function () {

        /*舊時間開始*/
        $('input[name="old_time_start"]').datetimepicker({
            beforeShow: function () {
                if ($(this).attr('maxDate')) {
                    var dateItem = $('#' + $(this).attr('maxDate'));
                    if (dateItem.val() !== "") {
                        $(this).datetimepicker('option', 'maxDate', dateItem.val());
                    }
                }

                if ($(this).attr('minDate')) {
                    var dateItem = $('#' + $(this).attr('minDate'));
                    if (dateItem.val() !== "") {
                        $(this).datetimepicker('option', 'minDate', dateItem.val());
                    }
                }
            }
        });

        /*舊時間結束*/
        $('input[name="old_time_end"]').datetimepicker({
            beforeShow: function () {
                if ($(this).attr('maxDate')) {
                    var dateItem = $('#' + $(this).attr('maxDate'));
                    if (dateItem.val() !== "") {
                        $(this).datetimepicker('option', 'maxDate', dateItem.val());
                    }
                }

                if ($(this).attr('minDate')) {
                    var dateItem = $('#' + $(this).attr('minDate'));
                    if (dateItem.val() !== "") {
                        $(this).datetimepicker('option', 'minDate', dateItem.val());
                    }
                }
            }
        });

        /*新時間開始*/
        $('input[name="time_start"]').datetimepicker({
            beforeShow: function () {
                if ($(this).attr('maxDate')) {
                    var dateItem = $('#' + $(this).attr('maxDate'));
                    if (dateItem.val() !== "") {
                        $(this).datetimepicker('option', 'maxDate', dateItem.val());
                    }
                }

                if ($(this).attr('minDate')) {
                    var dateItem = $('#' + $(this).attr('minDate'));
                    if (dateItem.val() !== "") {
                        $(this).datetimepicker('option', 'minDate', dateItem.val());
                    }
                }
            }
        });

        /*新時間結束*/
        $('input[name="time_end"]').datetimepicker({
            beforeShow: function () {
                if ($(this).attr('maxDate')) {
                    var dateItem = $('#' + $(this).attr('maxDate'));
                    if (dateItem.val() !== "") {
                        $(this).datetimepicker('option', 'maxDate', dateItem.val());
                    }
                }

                if ($(this).attr('minDate')) {
                    var dateItem = $('#' + $(this).attr('minDate'));
                    if (dateItem.val() !== "") {
                        $(this).datetimepicker('option', 'minDate', dateItem.val());
                    }
                }
            }
        });

    });
</script>
