@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Match_ViewModel

@{
    ViewBag.Title = "媒合時程大表";
}

@{
    <link href="~/stylesheets/sys.css" rel="stylesheet" />
}

<div class="article_col1">
    <article>
        <h2 class="borderTitle2">媒合時程大表</h2>
        <a href="" class="addbublue rightbox">匯出Excel</a>
        <a href="" class="addbublue rightbox">儲存</a>
        <table class="edittable">
            <thead>

                <tr>
                    <th>
                        <div class="centerbox">
                            <a href="schedulefrom_time.html" class="addbu">設定時段</a>
                        </div>
                    </th>
                    @foreach (BuyerInfoModel buyerInfoModel in Model.buyerinfoList)
                    {
                        <th class="centerbox2">@buyerInfoModel.company</th>
                    }
                </tr>

            </thead>
            <tbody>
                @foreach (SchedulePeriodSetModel schedulePeriodSetModel in Model.schedulePeriodSetList)
                {
                    <tr>
                        <td>
                            @schedulePeriodSetModel.time_start.ToString("HH:mm")
                            ~@schedulePeriodSetModel.time_end.ToString("HH:mm")
                        </td>

                        @foreach (BuyerInfoModel buyerInfoModel in Model.buyerinfoList)
                        {
                            <td>
                                <select name="seller_id" id="">
                                    <option value="">--請選擇--</option>
                                    @foreach (ActivityRegisterModel activityRegisterModel in Model.activityregisterList)
                                    {
                                        <option value="@activityRegisterModel.user_id">@activityRegisterModel.company</option>
                                    }
                                </select>
                            </td>
                        }
                    </tr>
                }
            </tbody>
            <tfoot>

                <tr class="tfootbg">
                    <td class="centerbox2">雙方有媒合意願</td>
                    @foreach (BuyerInfoModel buyerInfoModel in Model.buyerinfoList)
                    {
                        if (Model.sellerCompanyNamereply1Dic.ContainsKey(buyerInfoModel.buyer_id))
                        {
                            <td class="centerbox2">
                                @foreach (string sellerName in Model.sellerCompanyNamereply1Dic[buyerInfoModel.buyer_id])
                                {
                                    <p>@String.Format(sellerName)</p>
                                }
                            </td>
                        }
                        else {
                            <td class="centerbox2"></td>
                        }
                    }
                </tr>

                <tr>
                    <td class="centerbox2">賣方有媒合意願</td>
                    @*@foreach (MatchmakingNeedModel matchmakingNeedModel in Model.matchmakingNeedList)
                        {
                            if (matchmakingNeedModel.buyer_reply == "0")
                            {
                                <p>@matchmakingNeedModel.company</p>
                            }
                        }*@

                    @foreach (BuyerInfoModel buyerInfoModel in Model.buyerinfoList)
                    {
                        if (Model.sellerCompanyNamereply0Dic.ContainsKey(buyerInfoModel.buyer_id))
                        {
                            <td class="centerbox2">
                                @foreach (string sellerName in Model.sellerCompanyNamereply0Dic[buyerInfoModel.buyer_id])
                                {
                                    <p>@String.Format(sellerName)</p>
                                }
                            </td>
                        }
                        else {
                            <td class="centerbox2"></td>
                        }
                    }
                </tr>
            </tfoot>
        </table>
    </article>
</div>
