@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Match_ViewModel


@{
    ViewBag.Title = "媒合時程安排(" + @prj_BIZ_System.LanguageResource.User.lb_buyer + ")";
}

@section pagestyle{
    <link href="~/stylesheets/schedule.css" rel="stylesheet" />
}

<div class="article_col1">
    @{
        Html.RenderAction("_NavSearchPartial", "User");
    }
    <article class="article_col2">
        <h2 class="borderTitle">
            媒合時程安排
        </h2>

        <section class="form_box w55">
            <h2>您表達有意願洽談的買主</h2>
            <ul class="comicon listlink">
                @foreach (MatchmakingAllModel matchmakingAllModel in Model.matchmakingAllList)
                {
                    var company = matchmakingAllModel.company;
                    if (Request.Cookies["_culture"] != null && Request.Cookies["_culture"].Value != "zh-TW")
                    {
                        if (matchmakingAllModel.company_en != null && matchmakingAllModel.company_en != "")
                        {
                            company = matchmakingAllModel.company_en;
                        }
                    }

                    <li>
                        <a href="@Url.Action("UserInfo","User",new {user_id = matchmakingAllModel.buyer_id})">@company</a>
                    </li>
                }
            </ul>
        </section>
        <section class="form_box w45">
            <h2>已排定洽談的買主</h2>
            <ul class="dmicon listlink">
                @foreach (MatchmakingScheduleModel matchmakingScheduleModel in Model.matchmakingScheduleList)
                {
                    var company = matchmakingScheduleModel.company;
                    if (Request.Cookies["_culture"] != null && Request.Cookies["_culture"].Value != "zh-TW")
                    {
                        if (matchmakingScheduleModel.company_en != null && matchmakingScheduleModel.company_en != "")
                        {
                            company = matchmakingScheduleModel.company_en;
                        }
                    }


                    <li>
                        <a href="@Url.Action("UserInfo","User",new {user_id = matchmakingScheduleModel.buyer_id})">@company</a>
                    </li>
                }
            </ul>
        </section>
    </article>
</div>
