@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Match_ViewModel

@{
    ViewBag.Title = "商務對接(賣家)";
}

@Styles.Render("~/Content/jqueryUI")

@section pagestyle{
    <link href="~/stylesheets/business.css" rel="stylesheet" />
}

<div class="article_col1">
    @{
        Html.RenderAction("_NavSearchPartial", "User");
    }

    <article class="form_box article_col2">
        <h2>商務對接</h2>
        <form id="insertForm" action="@ViewBag.Action" method="post">
            <table class="edittable mg30">
                <tr>
                    <th width="30%">公司名稱</th>
                    <th>商務媒合需求</th>
                    <th style="width: 97px;">想與買主洽談</th>
                </tr>
                @foreach (BuyerInfoModel buyerInfoModel in Model.buyerinfoList)
                {
                    <tr>
                        <td><a href="@Url.Action("UserInfo","User", new { user_id = buyerInfoModel.buyer_id})" class="linkb" target="_blank" >@buyerInfoModel.company</a></td>
                        <td>@buyerInfoModel.buyer_need</td>
                        <td>
                            
                            @if (buyerInfoModel.Ischeck == true)
                            {
                                <input type="checkbox" class="inputCheckbox" name="buyer_id"
                                       id="buyer@(buyerInfoModel.serial_no)"
                                       value="@buyerInfoModel.buyer_id" checked="checked">
                            }
                            else
                            {
                                <input type="checkbox" class="inputCheckbox" name="buyer_id"
                                       id="buyer@(buyerInfoModel.serial_no)"
                                       value="@buyerInfoModel.buyer_id">
                            }
                            <label for="buyer@(buyerInfoModel.serial_no)"></label>
                            <input type="hidden" name="activity_id" value="@buyerInfoModel.activity_id">
                        </td>
                    </tr>
                }
            </table>
            <div class="centerbox mg30">
                <a href="javascript:void(0)" id="submitInfo" class="submitbuRed">@ViewBag.SubmitName</a>
            </div>
        </form>
    </article>
</div>

<div id="dialog" title="商務對接" style="display:none;">
    <p>
        <span>是否修改洽談對象</span>
    </p>
</div>

@Scripts.Render("~/bundles/jqueryUI")

<script type="text/javascript">
   
        $("#dialog").dialog({
            autoOpen: false,
            modal: true,
            buttons: {
                "Save": function () {
                    $("#insertForm").submit();
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#submitInfo").click(function () {
            $("#dialog").dialog("open");
        });
</script>