@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Message_ViewModel
@{
    ViewBag.Title = "MessageClusterDetail";
}

@section pagestyle{
    <link href="/stylesheets/sys.css" rel="stylesheet" />
    <link href="http://code.jquery.com/ui/1.11.4/themes/hot-sneaks/jquery-ui.css" rel="stylesheet">
}

@Styles.Render("~/Content/jqueryUI")
<div class="article_col1">
    @{
        Html.RenderAction("_ClusterMenuPartial", "Cluster");
    }
    <article class="article_col2">
        <h2 class="borderTitle2">聚落A</h2>
        <form action="/Message/DoMessageClusterDetail" class="form_box sys_searchbox" method="post">
            <input name="msg_no" type="hidden" value="@Model.msgPrivate.msg_no" />
            <h2>聚落訊息</h2>

            <div class="regis_col02L">發佈人</div>
            <span class="regis_col02R contentspan">@Model.msgPrivate.company</span>

            <div class="regis_col02L">訊息對象</div>
            <span class="regis_col02R contentspan">@ViewBag.msg_company</span>

            <div class="regis_col02L">發佈日期</div>
            <span class="regis_col02R contentspan">@Model.msgPrivate.create_time.ToShortDateString()</span>

            <div class="regis_col02L">主題</div>
            <span class="regis_col02R contentspan">@Model.msgPrivate.msg_title</span>

            <div class="regis_col02L">內容</div>
            <p class="regis_col02R contentspan">
                @Model.msgPrivate.msg_content
            </p>

            <div class="regis_col02L">附件</div>
            <div class="regis_col02R">
                <ul class="col2 listlinks">
                    @if (Model.msgPrivateFileList != null)
                    {
                        foreach (MsgFileModel mpf in Model.msgPrivateFileList)
                        {
                            <li><a href="@(UploadHelper.getMessageFileDirPath(Model.msgPrivate.msg_no)+@mpf.msg_file_site)" target="_blank">@mpf.msg_file_site</a></li>
                        }
                    }
                </ul>
            </div>
            <div class="w100">

                <ul class="dialoglist">
                    @if (Model.msgPrivateReplyList != null)
                    {
                        foreach (MsgReplyModel r_md in Model.msgPrivateReplyList)
                        {
                            <li>
                                <div class="dialog_img">
                                    <img src="@(UploadHelper.getPictureDirPath(r_md.msg_reply, "logo")+r_md.logo_img)" alt="" class="">
                                </div>
                                <div class="dialogbox">
                                    <h6>@r_md.company</h6>
                                    <span>@r_md.create_time.ToString("yyyy/MM/dd hh:mm")</span>
                                    <p>
                                        @r_md.reply_content
                                    </p>
                                </div>
                            </li>
                        }
                    }
                    <!--
                <li>
                    <div class="dialog_img">
                        <img src="../../images/index_pic.jpg" alt="" class="">
                    </div>
                    <div class="dialogbox">
                        <h6>傳傳紡織</h6>
                        <span>2016/02/22 14:30</span>
                        <p>
                            太好了太好了
                        </p>
                    </div>
                </li>
                <li>
                    <div class="dialog_img">
                        <img src="../../images/index_pic.jpg" alt="" class="">
                    </div>
                    <div class="dialogbox">
                        <h6>傳傳紡織</h6>
                        <span>2016/02/22 14:30</span>
                        <p>
                            太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了太好了
                        </p>
                    </div>
                </li>
                -->
                </ul>
                <textarea name="reply_content" id="reply_content" placeholder="三百字以內" maxlength="300"></textarea>
                <div class="centerbox">
                    <button type="submit" class="addbu">回覆</button>
                </div>
            </div>
            <div class="centerbox">
                <a href="/Message/MessageClusterMain?is_public=@ViewBag.is_public" class="submitbu rightbox">返回訊息管理</a>
            </div>

        </form>
    </article>
</div>
@Scripts.Render("~/bundles/jqueryUI")
@Scripts.Render("~/bundles/fancybox")

<script>
    $(function () {
        $(".fancybox").fancybox({
            width: 600,
            height: 300,
            type: 'iframe'
        });

        $("#upexl").on('change', function () {
            $("#upexl_name").val($(this).val());
        });

        $("#form").submit(function () {
            var reply_content = $("#reply_content").val();
            var errMsg = checkValidationOk(reply_content)
            if (errMsg != '') {
                alert(errMsg);
                return false;
            }
        });

        $("#reply_content").keydown(function (e) {
            if ($(this).val().length > 300) {
                if (e.keyCode != 8) {
                    return false;
                }
            }
        })

    });

    function checkValidationOk(reply_content) {
        var errMsg = '';
        if (reply_content == null || reply_content == '') {
            errMsg += "回覆內容不能為空白!!\n";
        } else if (reply_content.length > 300) {
            errMsg += "回覆內容不能超過三百字!!";
        }
        return errMsg;
    }

    //暫時放著
    /*
		  var re_for_xls = /\.(xls)$/i;
		  $("#form").submit(function () {

		      var iupexl = $("input[name='iupexl']").val();
		      if (!re_for_xls.test(iupexl)) {
		          alert("上傳檔案副檔名 必須為 xls");
		          return false;
		      }
		      $("#loaderdiv").css("display", "block");
		  });
    */
</script>