@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Message_ViewModel


@{
    ViewBag.Title = ViewBag.contentTitle+ prj_BIZ_System.LanguageResource.User.lb_msg;
}

@section pagestyle{
    <link href="~/stylesheets/sys.css" rel="stylesheet" />
}

@Styles.Render("~/Content/jqueryUI")

<div class="article_col1">
    <article class="article_col2 form_box">
        <h2>@("")@prj_BIZ_System.LanguageResource.User.lb_msg</h2>
        <div class="magb30">
            <form id="form" action="@Url.Action(@ViewBag.searchUrl)" method="GET">
                <input type="text" name="keyword" placeholder="@prj_BIZ_System.LanguageResource.User.lb_search_need" value="@ViewBag.keyword">
                <a id="searchBtn" href="javascript:void(0)" class="addbublue magb10">@prj_BIZ_System.LanguageResource.User.lb_search</a>
                <a href="@Url.Action(ViewBag.addUrl)" class="addbu rightbox">@prj_BIZ_System.LanguageResource.User.lb_add</a>
            </form>
        </div>
        <div class="magb30">
            <h3 class="borderTitle2">@prj_BIZ_System.LanguageResource.User.lb_unread@(" ")@prj_BIZ_System.LanguageResource.User.lb_msg</h3>
            
            <table class="edittable">
                <tr>
                    <th style="width: 8%">@prj_BIZ_System.LanguageResource.User.lb_id</th>
                    <th style="width: 36%">@prj_BIZ_System.LanguageResource.User.lb_subject</th>
                    <th style="width: 15%">@prj_BIZ_System.LanguageResource.User.lb_publisher</th>
                    <th>@prj_BIZ_System.LanguageResource.User.lb_amountofreply</th>
                    <th style="width: 15%">@prj_BIZ_System.LanguageResource.User.lb_date</th>
                    <th>@prj_BIZ_System.LanguageResource.User.lb_detail</th>
                </tr>
                @{
                    var prevCounts = ((List<PageList<MsgModel>>)ViewData["PageList"])[0].prevCounts;
                }
                @if (Model.msgPrivateList != null)
                {
                    var i = 0;
                    foreach (MsgModel md in Model.msgPrivateList)
                    {
                        <tr class="active">
                            <td>@((++i) + prevCounts)</td>
                            <td class="alignleft">
                                @md.msg_title
                            </td>
                            <td>
                                @md.company
                            </td>
                            <td>
                                @md.rpy_cnt
                            </td>
                            <td>
                                @md.create_time.ToString("yyyy/MM/dd")
                            </td>
                            <td>
                                <div class="centerbox">
                                    <a href="~/Message/@(ViewBag.detailUrl)?msg_no=@(md.msg_no)" class="editbu">@prj_BIZ_System.LanguageResource.User.lb_detail</a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </table>
            @Html.PagesList((List<PageList<MsgModel>>)ViewData["PageList"])
        </div>

        <div>
            <h3 class="borderTitle2">@prj_BIZ_System.LanguageResource.User.lb_read@(" ")@prj_BIZ_System.LanguageResource.User.lb_msg</h3>
            <table class="edittable">
                <tr>
                    <th style="width: 8%">編號</th>
                    <th style="width: 36%">主題</th>
                    <th style="width: 15%">發佈人</th>
                    <th>回覆數</th>
                    <th style="width: 15%">發佈日</th>
                    <th>內容</th>
                </tr>
                @{
                    var prevCounts2 = ((List<PageList<MsgModel>>)ViewData["PageList"])[1].prevCounts;
                }
                @if (Model.msgPrivateList2 != null)
                {
                    var i = 0;
                    foreach (MsgModel md in Model.msgPrivateList2)
                    {
                        <tr class="active">
                            <td>@((++i) + prevCounts2)</td>
                            <td class="alignleft">
                                @md.msg_title
                            </td>
                            <td>
                                @md.company
                            </td>
                            <td>
                                @md.rpy_cnt
                            </td>
                            <td>
                                @md.create_time.ToString("yyyy/MM/dd")
                            </td>
                            <td>
                                <div class="centerbox">
                                    <a href="~/Message/@(ViewBag.detailUrl)?msg_no=@(md.msg_no)" class="editbu">@prj_BIZ_System.LanguageResource.User.lb_detail</a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </table>
            @Html.PagesList((List<PageList<MsgModel>>)ViewData["PageList"],1)
        </div>
    </article>
    @{
        Html.RenderAction("_HomeLeftPartial", "Home");
    }

</div>

@Scripts.Render("~/bundles/jqueryUI")

<script>
    $(function () {

        $("#searchBtn").click(function () {
            $("#form").submit();
        });

	    $( "#tabs" ).tabs();
	   	$(".groupmenu").on('click',function(){
				$(".datalist3").toggle();
				$(this).toggleClass("active");
	   	})

        @if (!string.IsNullOrEmpty((string)TempData["priDetailView_errmsg"]))
	   	{
            <text>
            function check() {
                var pw_errMsg = '@TempData["priDetailView_errmsg"]';
                if (pw_errMsg != '')
	   	        {
                    alert(pw_errMsg);
	   	        }
	   	    }
	   	    check();
	    	</text>
        }

        
    });

</script>