@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Message_ViewModel


@{
    ViewBag.Title = "新增私人訊息";
}

@section pagestyle{
    <link href="/stylesheets/sys.css" rel="stylesheet" />
}

@Styles.Render("~/Content/css/jqueryUI")

<div class="article_col1s">
    <form id="form" action="@Url.Action("DoPrivateAdd")" class="form_box sys_searchbox" method="post" enctype="multipart/form-data">
        <h2>新增私人訊息</h2>
        <label for="" class="regis_col02L">對象</label>
        <div class="regis_col02R tagsbox">
            <ul id="taglist">
			
			</ul>
            <input name="msg_member" id="tags" class="tagtext">
        </div>
        <label for="" class="regis_col02L">主題</label>
        <input name="msg_title" type="text" class="regis_col02R">
        <label for="" class="regis_col02L">內容</label>
        <textarea class="regis_col02R" name="msg_content" id="msg_content" placeholder="三百字以內" maxlength="300"></textarea>
        <label for="" class="regis_col02L">上傳附件</label>
        <div class="regis_col02R">
            <label class="addbu" id="upload" for="upexls">選取檔案</label>
            <input type="file" id="upexls" name="iupexls"  multiple="multiple" />
			<ul id="output"></ul>
        </div>
        <div class="centerbox">
            <button type="submit" class="buinfor">確定新增</button>
            <a href="@Url.Action("MessagePrivateList")" class="submitbu">返回私人訊息</a>
        </div>

    </form>

</div>

@Scripts.Render("~/bundles/jqueryUI")

<script>
		  $(function() {
		  /*
		      $("#upexls").on('change', function () {
				$("#upexl_name").val($(this).val());
		      });
			*/
		      //var g_temp_files = [];
			
			 $("input#upexls").change(function() {
			    var ele = document.getElementById($(this).attr('id'));
			    var result = ele.files;

			    $("#output").html("");
			    for(var x = 0;x< result.length;x++){
			     var fle = result[x];
			        //$("#output").append("<li class='removeup'>" + fle.name + "</li>");
			        $("#output").append("<li>" + fle.name + "</li>");
			    }

			     //g_temp_files = ele.files;
			    if ($("#output li").size() > 0) {
			        $("#upload").text("重選檔案");
			    } else {
			        $("#upload").text("選擇檔案");
			    }
			});
			
             
			 
            

		      $("#form").submit(function () {

		          setMemberValue();
		          
		          var msg_member = $('input[name="msg_member"]').val();
		          var msg_title = $('input[name="msg_title"]').val();
		          var msg_content = $("#msg_content").val();

		          var errMsg = checkValidationOk(msg_member, msg_title, msg_content)
		          if (errMsg != '') {
		              $('input[name="msg_member"]').css('display', 'inline').val("");
		              alert(errMsg);
		              return false;
		          }

		      });

		      $("#msg_content").keydown(function (e) {
		          if ($(this).val().length > 300) {
		              if (e.keyCode != 8) {
		                  return false;
		              }
		          }
		      })

		   
		    $( "#tags" )
		      // don't navigate away from the field on tab when selecting an item
		      .bind( "keydown", function( event ) {
		        if ( event.keyCode === $.ui.keyCode.TAB &&
		            $( this ).autocomplete( "instance" ).menu.active ) {
		          event.preventDefault();
		        }
		      })
		      .autocomplete({
		        autoFocus: true,
		        minLength: 1,
		        source: "@Url.Action("jsonMsgMemberFromUserInfo")",
		          select: function (event, ui) {
		          $("#taglist").append("<li  class='removetag'>" + ui.item.value + "</li>");
		          this.value = "";
		          return false;
		        }
		      });

		      $('#taglist').on('click', '.removetag', function () {
		          $(this).remove();
		      });

		  });

            //給定對象的值
            function setMemberValue() {
                var member_val = '';
                $("#taglist li").each(function (index, el) {
                    member_val += $(el).text() + ', ';
                });
                $('input[name="msg_member"]').css('display', 'none').val(member_val);
            }

		  function checkValidationOk(msg_member,msg_title, msg_content) {
		      var errMsg = '';
		      if (msg_member == null || msg_member == '') {
		          errMsg += "對象不能為空白\n";
		      }
		      
		      if (msg_title == null || msg_title == '') {
		          errMsg += "主題不能為空白\n";
		      }

		      if (msg_content == null || msg_content == '') {
		          errMsg += "訊息內容不能為空白!!\n";
		      } else if ($("#msg_content").val().length > 300) {
		          errMsg += "訊息不能超過三百字!!";
		      }
		      return errMsg ;
		  }

</script>