@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Message_ViewModel

@{
    ViewBag.Title = ViewBag.contentTitle + prj_BIZ_System.LanguageResource.User.lb_msg;
}

@section pagestyle{
    <link href="~/stylesheets/sys.css" rel="stylesheet" />
}

@Styles.Render("~/Content/jqueryUI")
@Styles.Render("~/Scripts/css/fancybox")

<div class="article_col1">
    <article class="article_col2">

        <form id="form" action="@Url.Action("doPrivateDetailed")" class="form_box sys_searchbox">
            <h2>@(ViewBag.contentTitle)@prj_BIZ_System.LanguageResource.User.lb_msg</h2>

            <div class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_publisher</div>
            <span class="regis_col02R contentspan">@Model.msgPrivate.company</span>

            <div class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_object</div>
            <span class="regis_col02R contentspan">@ViewBag.msg_company</span>

            <div class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_date</div>
            <span class="regis_col02R contentspan">@Model.msgPrivate.create_time.ToShortDateString()</span>

            <div class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_subject</div>
            <span class="regis_col02R contentspan">@Model.msgPrivate.msg_title</span>

            <div class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_detail</div>
            <p class="regis_col02R contentspan">
                @Model.msgPrivate.msg_content
            </p>

            <div class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_attachment</div>
            <div class="regis_col02R">
                <ul class="col2 listlinks">
                    @if (Model.msgPrivateFileList != null)
                    {
                        foreach (MsgFileModel mpf in Model.msgPrivateFileList)
                        {
                            <li><a href="@(UploadHelper.getMessageFileDirPath(Model.msgPrivate.msg_no)+@mpf.msg_file_site)" target="_blank">@mpf.msg_file_site</a></li>
                        }
                    }
                </ul>
            </div>
            <div class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_reply</div>
            <div class="regis_col02R">
                @if (Model.msgPrivateReplyList != null)
                {
                    foreach (MsgReplyModel r_md in Model.msgPrivateReplyList)
                    {
                        <dl class="dllist">
                            <dt>@r_md.company <span class="rightbox">@r_md.create_time.ToString("yyyy/MM/dd hh:mm")</span></dt>
                            <dd class="contentspan">
                                @r_md.reply_content
                            </dd>
                        </dl>
                    }
                }
                <input name="msg_no" type="hidden" value="@Model.msgPrivate.msg_no" />
                <textarea name="reply_content" id="reply_content" placeholder="@prj_BIZ_System.LanguageResource.User.lb_300less" maxlength="300"></textarea>
                <div class="centerbox">
                    <button type="submit" class="addbu">@prj_BIZ_System.LanguageResource.User.lb_reply</button>
                </div>
            </div>

            <div class="centerbox">
                <a href="@Url.Action(ViewBag.backUrl)" class="submitbu rightbox">返回@(ViewBag.contentTitle) @prj_BIZ_System.LanguageResource.User.lb_msg</a>
            </div>

        </form>
    </article>
    @{
        Html.RenderAction("_HomeLeftPartial", "Home");
    }
</div>

@Scripts.Render("~/bundles/jqueryUI")
@Scripts.Render("~/bundles/fancybox")

<script>
    $(function () {
        $(".fancybox").fancybox({
            width: 600,
            height: 300,
            type: 'iframe'
        });

        $("#upexl").on('change', function () {
            $("#upexl_name").val($(this).val());
        });

        $("#form").submit(function () {
            var reply_content = $("#reply_content").val();
            var errMsg = checkValidationOk(reply_content)
            if (errMsg != '') {
                alert(errMsg);
                return false;
            }
        });

        $("#reply_content").keydown(function (e) {
            if ($(this).val().length > 300) {
                if (e.keyCode != 8) {
                    return false;
                }
            }
        })

    });

    function checkValidationOk(reply_content) {
        var errMsg = '';
        if (reply_content == null || reply_content == '') {
            errMsg += "@prj_BIZ_System.LanguageResource.User.lb_reply_empty!!\n";
        } else if (reply_content.length > 300) {
            errMsg += ""@prj_BIZ_System.LanguageResource.User.lb_reply_300!!";
        }
        return errMsg;
    }

    //暫時放著
    /*
		  var re_for_xls = /\.(xls)$/i;
		  $("#form").submit(function () {

		      var iupexl = $("input[name='iupexl']").val();
		      if (!re_for_xls.test(iupexl)) {
		          alert("上傳檔案副檔名 必須為 xls");
		          return false;
		      }
		      $("#loaderdiv").css("display", "block");
		  });
    */
</script>