@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Message_ViewModel


@{
    ViewBag.Title = prj_BIZ_System.LanguageResource.User.lb_add + ViewBag.contentTitle + prj_BIZ_System.LanguageResource.User.lb_msg;
}

@section pagestyle{
    <link href="~/stylesheets/sys.css" rel="stylesheet" />
}

@Styles.Render("~/Content/jqueryUI")

<div class="article_col1">
    <article class="article_col2">

            <form id="form" action="@Url.Action(ViewBag.doAddUrl)" class="form_box sys_searchbox" method="post" enctype="multipart/form-data">
                <h2>@prj_BIZ_System.LanguageResource.User.lb_add@(ViewBag.contentTitle)@prj_BIZ_System.LanguageResource.User.lb_msg</h2>
                <label for="" class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_object</label>
                <div class="regis_col02R tagsbox">
                    <ul id="taglist"></ul>
                    <input name="msg_member" id="tags" class="tagtext">
                </div>
                <label for="" class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_subject</label>
                <input name="msg_title" type="text" class="regis_col02R">
                <label for="" class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_detail</label>
                <textarea class="regis_col02R" name="msg_content" id="msg_content" placeholder="@prj_BIZ_System.LanguageResource.User.lb_300less" maxlength="300"></textarea>
                <label for="" class="regis_col02L">@prj_BIZ_System.LanguageResource.User.lb_attachment_upload</label>
                <div class="regis_col02R">
                    <label class="addbu" id="upload" for="upexls">@prj_BIZ_System.LanguageResource.User.lb_select</label>
                    <input type="file" id="upexls" name="iupexls" multiple="multiple" />
                    <ul id="output"></ul>
                </div>
                <div class="centerbox">
                    <button type="submit" class="buinfor">@prj_BIZ_System.LanguageResource.User.lb_add</button>
                    <a href="@Url.Action(@ViewBag.backUrl)" class="submitbu">返回@(ViewBag.contentTitle) @prj_BIZ_System.LanguageResource.User.lb_msg</a>
                </div>

            </form>
    </article>
    @{
        Html.RenderAction("_HomeLeftPartial", "Home");
    }


</div>

@Scripts.Render("~/bundles/jqueryUI")

<script>
		  $(function() {
		  /*
		      $("#upexls").on('change', function () {
				$("#upexl_name").val($(this).val());
		      });
			*/
		      //var g_temp_files = [];
			
			 $("input#upexls").change(function() {
			    var ele = document.getElementById($(this).attr('id'));
			    var result = ele.files;

			    $("#output").html("");
			    for(var x = 0;x< result.length;x++){
			     var fle = result[x];
			        //$("#output").append("<li class='removeup'>" + fle.name + "</li>");
			        $("#output").append("<li>" + fle.name + "</li>");
			    }

			     //g_temp_files = ele.files;
			    if ($("#output li").size() > 0) {
			        $("#upload").text("@prj_BIZ_System.LanguageResource.User.lb_reselect");
			    } else {
			        $("#upload").text("@prj_BIZ_System.LanguageResource.User.lb_select");
			    }
			});
			
             
			 
            

		      $("#form").submit(function () {

		          setMemberValue();
		          
		          var msg_member = $('input[name="msg_member"]').val();
		          var msg_title = $('input[name="msg_title"]').val();
		          var msg_content = $("#msg_content").val();

		          var errMsg = checkValidationOk(msg_member, msg_title, msg_content)
		          if (errMsg != '') {
		              $('input[name="msg_member"]').css('display', 'inline').val("");
		              alert(errMsg);
		              return false;
		          }

		      });

		      $("#msg_content").keydown(function (e) {
		          if ($(this).val().length > 300) {
		              if (e.keyCode != 8) {
		                  return false;
		              }
		          }
		      })

		   
		    $( "#tags" )
		      // don't navigate away from the field on tab when selecting an item
		      .bind( "keydown", function( event ) {
		        if ( event.keyCode === $.ui.keyCode.TAB &&
		            $( this ).autocomplete( "instance" ).menu.active ) {
		          event.preventDefault();
		        }
		      })
		      .autocomplete({
		        autoFocus: true,
		        minLength: 1,
		        source: "@Url.Action("jsonMsgMemberFor"+ViewBag.msgType)",
		          response: function (event, ui) {
		              $("#taglist li").each(function (index,el) {
		                  for (var i = ui.content.length - 1 ; i >= 0; i--) {
		                      if ($(el).text() == ui.content[i].value) {
		                          ui.content.splice(i, 1);
		                          break;
		                      }
		                  }
		              });
		          },
		        select: function (event, ui) {
		          $("#taglist").append("<li  class='removetag'>" + ui.item.value + "</li>");
		          this.value = "";
		          return false;
		        }
		      });

		      $('#taglist').on('click', '.removetag', function () {
		          $(this).remove();
		      });

		  });

            //給定對象的值
            function setMemberValue() {
                var member_val = '';
                $("#taglist li").each(function (index, el) {
                    member_val += $(el).text() + ', ';
                });
                $('input[name="msg_member"]').css('display', 'none').val(member_val);
            }

		  function checkValidationOk(msg_member,msg_title, msg_content) {
		      var errMsg = '';
		      if (msg_member == null || msg_member == '') {
		          errMsg += "@prj_BIZ_System.LanguageResource.User.lb_object_empty\n";
		      }
		      
		      if (msg_title == null || msg_title == '') {
		          errMsg += "@prj_BIZ_System.LanguageResource.User.lb_subject_empty\n";
		      }

		      if (msg_content == null || msg_content == '') {
		          errMsg += "@prj_BIZ_System.LanguageResource.User.lb_msg_empty\n";
		      } else if ($("#msg_content").val().length > 300) {
		          errMsg += "@prj_BIZ_System.LanguageResource.User.lb_msg_300 !!";
		      }
		      return errMsg ;
		  }

</script>