@using prj_BIZ_System.Models
@model IEnumerable<prj_BIZ_System.Models.PushListModel>

@{
    ViewBag.Title = "SearchPushList";
}

@section pagestyle{
    <link href="/stylesheets/sys.css" rel="stylesheet" />
}

<div class="article_col1">
    <form class="form_box sys_searchbox">
        <h2>推播查詢</h2>

        <div class="sys_searchboxcol01L">
            <label for="" class="regis_col02L">推播類型</label>
            <select name="push_type" id="" class="regis_col02R">
                <option value="" >請選擇</option>
                <option value="0" @("0".Equals(ViewBag.Where_PushType) ?"selected":"")>APP</option>
                <option value="1" @("1".Equals(ViewBag.Where_PushType) ?"selected":"")>Email</option>
                <option value="2" @("2".Equals(ViewBag.Where_PushType) ?"selected":"")>簡訊</option>
            </select>

            <label for="" class="regis_col02L">推播名稱</label>
            <input name="push_name" type="text" class="regis_col02R" value="@ViewBag.Where_PushName">
        </div>
        <div class="sys_searchboxcol01R">
            <button type="submit" class="buinfor">搜尋</button>
        </div>
    </form>
    <article>
        <h2 class="borderTitle2">推播列表</h2>
        <a href="@Url.Action("EditPushList","Push")" class="addbured rightbox">新增推播</a>
        <table class="edittable">
            <tr>
                <th>推播類型</th>
                <th>推播名稱</th>
                <th>推播對象</th>
                <th>發送時機</th>
                <th>範本</th>
                <!--<th>測試發送</th>-->
                <th>修改</th>
                <th>刪除</th>
            </tr>
            @if (Model != null)
            {
                foreach (PushListModel md in Model)
                {
                    <tr>
                        <td>@showPushTypeText(md.push_type)</td>
                        <td>@md.push_name</td>
                        <td>@showPushObjectsText(md.push_objects)</td>
                        <td>@md.push_date</td>
                        <td>@md.sample_title</td>
                        <!--
                        <td>
                            <div class="centerbox">
                                <a href="" class="addbu">發送</a>
                            </div>
                        </td>
                        -->
                        <td>
                            <div class="centerbox">
                                <a href="@Url.Action("EditPushList","Push",new { push_id = md.push_id })" class="editbu">修改</a>
                            </div>
                        </td>
                        <td>
                            <div class="centerbox">
                                <a href="@Url.Action("DeletePushList","Push",new { push_id = md.push_id })" class="deleteSbu">刪除</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </table>
        @{ 
            //PageList<object> pl = new PageList<object>() { currentPage = 1, maxCount = 20, maxPage = 2, pageNum = 10 };
            //PageList<PushListModel>  pl = ViewBag.Pages;
        }
        @Html.PagesList((PageList<PushListModel>)ViewBag.Pages)
    </article>
</div>

<script>
    $(function () {
        init();
    });

    function init(){
        $(".deleteSbu").click(function(){
            if(doDelete()){
                return false;
            }
        });
    }

    function doDelete(push_id) {
        var result = confirm("確定要刪除嗎?");
        return !result;
    }

</script>

@functions{
    public string showPushObjectsText(string push_objects)
    {
        switch (push_objects)
        {
            case "0":
                return "全體會員";
            case "1":
                return "活動會員";
        }
        return "";
    }

    public string showPushTypeText(string push_type)
    {
        switch (push_type)
        {
            case "0":
                return "APP";
            case "1":
                return "Email";
            case "2":
                return "簡訊";
        }
        return "";
    }
}
